<template>
    <div class="nav">
        <div class="container" v-if="!loader">
            <nav class="row">
                <div class="col-lg-12">
                    <div class="header">
                        <img src="../../assets/tkp.png" alt="" class="img-fluid pb-3" width="200">

                    </div>

                </div>
            </nav>
        </div>
    </div>

</template>

<script>
    export default {
        created() {
            this.$store.dispatch('cabinet/loadAccount');
        },
        computed: {
            account() {
                return this.$store.getters['cabinet/getAccount'];
            },
            loader () {
                return this.$store.getters['loader/getLoader']
            },
        },
        methods: {
            onOver() {
                this.$refs.dropdown.visible = true;
            },
            onLeave() {
                setTimeout(() => {
                    this.$refs.dropdown.visible = false;
                }, 300)
            },
            logout() {
                localStorage.removeItem('Token');
                this.$store.dispatch('cabinet/setAuthToken', null);
                this.$router.push('/login');
            },
        }
    }
</script>
