<template>
    <div class="nav">
        <div class="container" v-if="!loader">
            <nav class="row">
                <div class="col-lg-12">
                    <div class="header">
                        <nuxt-link to="/" class="img-logo">
                            <img src="../../assets/logo-white.png" alt="">
                        </nuxt-link>
                        <div class="right-side">
                            <a href="https://www.tch.ru/ru-ru/Airlines/Sales-management/Documents/addinf.pdf" target="_blank">Варшавская конвенция</a>
<!--                            <nuxt-link class="nav-link cabinet-link" to="/">Услуги</nuxt-link>-->
<!--                            <nuxt-link class="nav-link cabinet-link" to="/">Новости</nuxt-link>-->
<!--                            <a href="http://b2b.transaviagroup.com/transavia-corporate.pdf" target="_blank">О компании</a>-->
<!--                            <nuxt-link class="nav-link cabinet-link" to="/">О компании</nuxt-link>-->
<!--                            <nuxt-link class="nav-link cabinet-link" to="/">Контакты</nuxt-link>-->
                            <nuxt-link class="nav-link cabinet-link" to="/cabinet">Мой кабинет</nuxt-link>
                            <div class="right-item">
                                <img src="../../assets/avatar.svg" alt="">
                                <template v-if="account">
                                        <div @mouseover="onOver">
                                            <b-dropdown id="dropdown-cabinet" :no-caret="true" variant="outline" ref="dropdown">
                                                <template  v-slot:button-content>
                                                        <div style="color: #fff;">
                                                            <p>{{ account.employee.company[0].name }}</p>
                                                            <div class="balance">
                                                                <span>Баланс: </span>
                                                                <p class="price"> {{ account.employee.company[0].balance | numberWithSpaces }} <span style="font-weight: 500">{{account.employee.company[0].agency.auth_currency}}</span></p>
                                                            </div>
                                                        </div>
                                                </template>
                                                <div class="drop-wrapper" @mouseover="onOver" @mouseleave="onLeave">
                                                    <nuxt-link class="drop-item" to="/cabinet">Мои билеты</nuxt-link>
<!--                                                    <nuxt-link class="drop-item" to="/my_passengers">Мои пассажиры</nuxt-link>-->
                                                    <!--<div class="drop-item">Настройки</div>-->
                                                    <div class="drop-item" @click="logout">Выйти</div>
                                                </div>
                                            </b-dropdown>
                                        </div>
                                    </template>
                            </div>
                        </div>
                        <div class="right-side-mobile">
                            <p class="language">Рус</p>
                            <nuxt-link class="drop-item" to="/cabinet"><img src="../../assets/user-icon.svg" alt=""></nuxt-link>
                            <b-navbar-toggle target="navbar-toggle-collapse">
                                <template v-slot:default="{ expanded }">
                                    <i v-if="expanded" class="fa fa-times" aria-hidden="true"></i>
                                    <i v-else class="fa fa-bars" aria-hidden="true"></i>
                                </template>
                            </b-navbar-toggle>
                        </div>
                    </div>
                    <b-collapse id="navbar-toggle-collapse" is-nav>
                        <b-navbar-nav class="ml-auto">
                            <nuxt-link class="nav-link cabinet-link" to="/">Услуги</nuxt-link>
                            <nuxt-link class="nav-link cabinet-link" to="/">Новости</nuxt-link>
                            <nuxt-link class="nav-link cabinet-link" to="/">О компании</nuxt-link>
                            <nuxt-link class="nav-link cabinet-link" to="/">Контакты</nuxt-link>
                        </b-navbar-nav>
                    </b-collapse>
                </div>
            </nav>
        </div>
    </div>

</template>

<script>
    export default {
        created() {
            this.$store.dispatch('cabinet/loadAccount');
        },
        computed: {
            account() {
              return this.$store.getters['cabinet/getAccount'];
            },
            loader () {
              return this.$store.getters['loader/getLoader']
            },
        },
        methods: {
            onOver() {
                this.$refs.dropdown.visible = true;
            },
            onLeave() {
                setTimeout(() => {
                    this.$refs.dropdown.visible = false;
                }, 300)
            },
            logout() {
                localStorage.removeItem('Token');
                this.$store.dispatch('cabinet/setAuthToken', null);
                this.$router.push('/login');
            },
        }
    }
</script>

<style scoped lang="scss">
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    span {
        color: #fff;
    }

    .nav-link, a {
        color: #fff;
        padding: 0;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }

    .right-side {
        display: flex;
        align-items: center;
        .nav-link {
            padding: 0 20px;
        }
    }

    .right-item {
        display: flex;
        align-items: center;

        p {
            margin: 0;
        }
        img {
            margin-right: 12px;
            width: 45px;
        }
    }

    .img-logo {
        cursor: pointer;
        display: block;

        img {
            width: 200px;
        }
    }

    .balance {
        display: flex;
        align-items: center;

        .price {
            padding-left: 5px;
            font-weight: 600;
        }
    }

    .nav {
        width: 100%;
        background-color: #418ad4;
        color: #fff;
    }

    .right-side-mobile {
        display: none;
        .fa {
            color: white;
        }
        button {
            outline: none;
        }

    }

    @media (max-width: 750px) {
        .navbar-nav {
            padding-bottom: 20px;
        }
        .right-side {
            display: none;
        }

        .img-logo img {
            width: 150px;
            padding-bottom: 5px;
        }

        .right-side-mobile {
            display: flex;
            align-items: center;

            img, p {
                margin: 0 7px;
            }
        }
        .nav-link, .drop-item {
            margin: 5px 0;
        }

    }
</style>
