<template>
    <div class="container page">
        <notifications group="error" />
        <div v-if="loader">
            <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
        </div>
        <div v-else class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item"
                        :class="{'active': isTicketsActive}"
                        @click="makeActive(1)"
                    >{{ $tc('tickets') }}</li>
                    <li class="list-group-item"
                        :class="{'active': isSettingsActive}"
                        @click="makeActive(2)"
                    >{{ $tc('settings') }}</li>
                    <li class="list-group-item list-group-item__exit text-danger"
                        :class="{'active': isLogoutActive}"
                        @click="makeActive(3)">{{ $tc('go_out') }}</li>
                </ul>
            </div>

            <div class="col-md-9">
                <div class="row mb-4" v-if="isTicketsActive && tickets && tickets.length > 0 && creatingTicket === 0">
                    <div class="col-md-10">
                        <b-form-input v-model="text" placeholder="Введите данные"></b-form-input>
                    </div>
                    <div class="col-md-2">
                        <button @click="getTickets" class="btn bg-primary text-white w-100">Поиск</button>
                    </div>
                </div>
                <div class="empty-text" v-if="isTicketsActive && tickets && tickets.length === 0">
                    <h3 class="text-center mt-3">Нет доступных броней</h3>
                </div>
                <div :key="index" class="ticket-card" v-if="isTicketsActive && tickets && creatingTicket === 0" v-for="(ticket, index) in tickets">
                    <div class="ticket-header">
                            <div class="airline">
                                <img width="100"
                                     :src="'https://avia.prod.transavia.kz/media/' + ticket.opts[0].segs[0].al.lg"
                                     class="img-fluid mr-2 py-3" alt="">
                                <!--                            <p>{{ticket.opts[0].segs[0].al.nm}}</p>-->
                            </div>
                            <div class="d-flex">
                                <div v-if="ticket.sts === 'open'" class="limit">
                                    <p :id="'countdown' + index" class="limit-value"><!--{{ getLimitCounter(index) }}--> До {{ ticket.dt_lim }}</p>
                                </div>
                                <div class="status" v-if="ticket.sts === 'open'">
                                    <div class="status-color"></div>
                                    <p>Ожидается оплата</p>
                                </div>
                                <div class="status" v-else-if="ticket.sts === 'finish'">
                                    <div class="status-color green-color"></div>
                                    <p>Оформлен</p>
                                </div>
                                <div class="status" v-else-if="ticket.sts === 'cancel' || ticket.sts === 'fail'">
                                    <div class="status-color red-color"></div>
                                    <p>Аннулирован</p>
                                </div>
                                <div class="status" v-else-if="ticket.sts === 'refund'">
                                    <div class="status-color red-color"></div>
                                    <p>Войдирован</p>
                                </div>
                            </div>
                    </div>
                    <div class="row ticket-fields-row">
                        <div class="col-6">
                            <div class="card-text" v-if="ticket.pnrs.length > 0">
                                <span>Имя пассажира</span>
                                <p>{{ticket.pnrs[0].nm}} {{ticket.pnrs[0].snm}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-text">
                                <span>{{ticket.dirs[0].co}}</span>
                                <p>{{ticket.dirs[0].nm}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row ticket-fields-row">
                        <div class="col-md-2 col-6">
                            <div class="card-text">
                                <span>{{ticket.opts[0].segs[0].dep.dt | dateFormat('DD MMM, YYYY')}}</span>
                                <p class="time">{{ticket.opts[0].segs[0].dep.dt | dateFormat('HH:mm:ss')}}</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="card-text">
                                <span>{{ticket.opts[0].segs[0].arr.dt | dateFormat('DD MMM, YYYY')}}</span>
                                <p class="time">{{ticket.opts[0].segs[0].arr.dt | dateFormat('HH:mm:ss')}}</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="card-text">
                                <span>В пути</span>
                                <p>{{ ticket.opts[0].elap_t }}</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="card-text">
                                <span>Перелет</span>
                                <p>{{ticket.flt_ty}}</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="card-text">
                                <span>{{ $tc('reservation') }}</span>
                                <p>{{ ticket.book_id }}</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="card-text">
                                <span>Итоговая сумма</span>
                                <p>{{ ticket.prc.tot.val }} {{ ticket.prc.cur === 'KZT' ?  '₸' : ticket.prc.tot.cur.sym}}</p>
                            </div>

                        </div>

                    </div>
                    <div class="more-settings">
                        <div class="more-settings-items d-md-flex d-none">
                            <a class="clickable" @click="openModal('flightInfoModal', ticket)">Подробнее о рейсе</a>
<!--                            <div class="divider"></div>-->
<!--                            <a class="clickable" @click="openModal('tariffModal', ticket)">Условия тарифа</a>-->
                            <!--                            <div class="divider"></div>-->
                            <!--                            <a href="#">Статус рейса</a>-->
<!--                            <div v-if="ticket.sts === 'open' || ticket.sts === 'finish' && ticket.opts[0].segs[0].flt_no !== 'PQ-891'"  class="divider"></div>-->
<!--                            <a href="#" class="cancel-ticket" v-if="ticket.sts === 'open'" @click="cancelBooking(ticket.book_id)">Аннулировать</a>-->
<!--                            <a href="#" class="cancel-ticket" v-if="ticket.sts === 'finish' && ticket.opts[0].segs[0].flt_no !== 'PQ-891'" @click="refundBooking(ticket.book_id)">Возврат</a>-->
                            <div v-if="ticket.sts === 'open' " class="divider"></div>
                            <button class="btn warn" v-if="ticket.sts === 'open'" @click="getTicket(ticket.book_id)">
                                <span>Оплатить</span>
                            </button>
                            <div v-if="ticket.sts === 'finish' || ticket.sts === 'open'" class="divider"></div>
                            <button class="btn download-btn" v-if="ticket.sts === 'finish' || ticket.sts === 'open'">
                                <!--                            <span class="download-btn" @click="downloadInvoice">Скачать Invoice</span>-->
                                <a target="_blank" class="text-white" :href="'https://avia.test.transavia.kz/media/' + ticket.invc.pdf">Скачать Invoice</a>
                            </button>
                            <div v-if="ticket.sts !== 'finish'" class="divider"></div>
                            <button v-if="ticket.sts !== 'finish'" @click="toggleInfo(index, 'extra', 'arrow')" class="btn more more-pnr download-btn">
                                <h4 class="dropdown-passengers mb-0">{{ $tc('passengers') }}</h4>
                                <img src="../../assets/white-arrow.svg" alt="" :id="index + 'arrow'" class="arrow-img">
<!--                                <img :id="'pnr'+index+'Img'" class="arrow-img" src="../../assets/white-arrow.svg" alt="">-->
                            </button>

                            <div v-if="ticket.sts === 'finish'" class="divider"></div>
                            <button v-if="ticket.sts === 'finish'" class="btn download-btn" @click="toggleInfo(index, 'extra', 'arrow')">
                                <span>Билеты</span> <img src="../../assets/white-arrow.svg" alt="" :id="index + 'arrow'" class="arrow-img">
                            </button>
                        </div>
                        <div class="more-settings-items d-md-none d-block">
                            <div class="row">
                                <div class="col-6">
                                    <a class="clickable" @click="openModal('flightInfoModal', ticket)">Подробнее о рейсе</a>
                                </div>
<!--                                <div class="col-6">-->
<!--                                    <a class="clickable" @click="openModal('tariffModal', ticket)">Условия тарифа</a>-->
<!--                                    &lt;!&ndash;                            <div class="divider"></div>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                            <a href="#">Статус рейса</a>&ndash;&gt;-->
<!--                                </div>-->
<!--                                part of annulirovat-->
<!--                                <div class="col-6 my-md-2">-->
<!--                                    <a href="#" class="cancel-ticket" v-if="ticket.sts === 'open' || ticket.sts === 'finish'" @click="cancelBooking(ticket.book_id)">Аннулировать</a>-->
<!--                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn warn" v-if="ticket.sts === 'open'" @click="getTicket(ticket.book_id)">
                                        <span>Оплатить</span>
                                    </button>
                                    <button class="btn download-btn" v-if="ticket.sts === 'finish' || ticket.sts === 'open'">
                                        <!--                            <span class="download-btn" @click="downloadInvoice">Скачать Invoice</span>-->
                                        <a class="text-white" target="_blank" :href="'https://avia.test.transavia.kz/media/' + ticket.invc.pdf">Скачать Invoice</a>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button v-if="ticket.sts !== 'finish'" @click="toggleInfo(index, 'extra', 'arrow')" class="btn more more-pnr download-btn">
                                        <h4 class="dropdown-passengers mb-0">{{ $tc('passengers') }}</h4>
                                        <img src="../../assets/white-arrow.svg" alt="" :id="index + 'arrow'" class="arrow-img">
                                        <!--                                <img :id="'pnr'+index+'Img'" class="arrow-img" src="../../assets/white-arrow.svg" alt="">-->
                                    </button>
                                    <button v-if="ticket.sts === 'finish'" class="btn download-btn" @click="toggleInfo(index, 'extra', 'arrow')">
                                        <span>Билеты</span> <img src="../../assets/white-arrow.svg" alt="" :id="index + 'arrow'" class="arrow-img">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="more-info" :id="index + 'extra'">
<!--                        <p class="title">Пассажиры и билеты<p/>-->
                        <div class="ticket-fields" :key="id" v-for="(passenger, id) in ticket.pnrs">
                            <div class="card-text">
                                <span>Имя пассажира</span>
                                <p>{{ passenger.nm }}</p>
                            </div>
                            <div class="card-text">
                                <span>Фамилия пассажира</span>
                                <p>{{ passenger.snm }}</p>
                            </div>
                            <div class="card-text">
                                <span>Пол</span>
                                <p>{{ passenger.sex }}</p>
                            </div>
                            <div class="card-text">
                                <span>Дата рождения</span>
                                <p>{{ passenger.dob }}</p>
                            </div>
                            <div class="card-text">
                                <span>№ документа</span>
                                <p>{{ passenger.doc.id }}</p>
                            </div>
                            <div class="card-text">
                                <a target="_blank" :href="'https://avia.test.transavia.kz/media/' + passenger.pdf" v-if="ticket.sts === 'finish'" class="btn download-btn">
                                    <img src="../../assets/download-icon.svg" alt="">
                                    <span class="text-white">Скачать билет</span>
                                </a>
                            </div>
                            <!--                            <button v-if="ticket.sts === 'finish'" class="download-btn" @click="downloadTicket(passenger.pdf)">-->
                            <!--                                <img src="../../assets/download-icon.svg" alt="">-->
                            <!--                                <span>Скачать билет</span>-->
                            <!--                            </button>-->
                        </div>
                    </div>
                    <div  class="pnr" :id="'pnr'+index+'Div'">
                                <div class="passengers">
                                    <div class="colm">
                                        <p class="rows font-weight-bold text-uppercase" :key="index" v-for="(pnr, index) in ticket.pnrs">{{ pnr.nm }} {{ pnr.snm }}</p>
                                    </div>
                                    <div class="colm">
                                        <p class="rows" :key="index" v-for="(pnr, index) in ticket.pnrs">{{ pnr.sex }}</p>
                                    </div>
                                    <div class="colm">
                                        <p class="rows" :key="index" v-for="(pnr, index) in ticket.pnrs">{{ pnr.dob }}</p>
                                    </div>
                                    <div class="colm">
                                        <p class="rows" :key="index" v-for="(pnr, index) in ticket.pnrs">{{ pnr.doc.id }}</p>
                                    </div>
                                    <div class="colm">
                                        <p class="rows" :key="index" v-for="(pnr, index) in ticket.pnrs">{{ pnr.doc.ty }}</p>
                                    </div>
                                </div>
                    </div>

                </div>
                <b-pagination
                    v-if="isTicketsActive && text === null && tickets && tickets.length > 0 && creatingTicket === 0"
                    class="justify-content-center"
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    @input="getTickets"
                ></b-pagination>
                <div class="d-flex flex-column text-center w-100" v-if="isTicketsActive && creatingTicket === 1">
                    <h1 class="text-center">Выписка билета...</h1>
                </div>
                <div class="d-flex flex-column text-center w-100" v-if="isTicketsActive && creatingTicket === 2">
                    <h1 class="py-5 text-success text-center">Билет успешно выписан!</h1>
                    <a @click="goHome" class="d-block text-center display-2 clickable btn btn-main btn-main--blue text-white w-50 mx-auto">На главную</a>
                </div>
                <div class="d-flex flex-column text-center w-100" v-if="isTicketsActive && creatingTicket === 3">
                    <h1 class="py-5 text-danger text-center">Произошла ошибка, попробуйте еще раз ;(</h1>
                    <a @click="goHome" class="d-block text-center display-2 clickable btn btn-main btn-main--blue text-white w-50 mx-auto">На главную</a>
                </div>

                <settings v-if="isSettingsActive"/>
            </div>
            <TariffModalCabinet :currentPage="currentPage" :googleId="googleId" :rules="rulesInfo" ref="tariffModal" :key="$vnode.key + 'tariff'"/>
            <FlightInfoModalCabinet   :mode="'cabinet'" :key="$vnode.key + 'info'" :ticket="ticketInfo" ref="flightInfoModal"/>
        </div>
        <SuccessModal ref="successModal"></SuccessModal>
    </div>
</template>
<script>
    import Settings from '@/components/elements/Settings.vue'
    import moment from 'moment'
    import FlightInfoModalCabinet from '@/components/modals/FlightInfoModalCabinet'
    import TariffModalCabinet from '@/components/modals/TariffModalCabinet'
    import SuccessModal from '@/components/modals/Success'

    export default {
        head() {
            return {
                script: [
                    {
                        src: '//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit',
                        body: true,
                    }
                ],
            }
        },
        asyncData () {
            return new Promise((resolve) => {
                setTimeout(function () {
                    resolve({})
                }, 1000)
            })
        },
        name: 'Cabinet',
        data() {
            return {
                rules: [],
                ticketInfo: null,
                googleId: null,
                rulesInfo: [],
                creatingTicket: 0,
                isTicketsActive: true,
                isSettingsActive: false,
                isLogoutActive: false,
                limit: '',
                perPage: 1,
                currentPage: 1,
                rows: null,
                text: null,
            }
        },
        components: {
            Settings,
            FlightInfoModalCabinet,
            TariffModalCabinet,
            SuccessModal
        },
        computed: {
            loader () {
                return this.$store.getters['loader/getLoader']
            },
            account() {
                return this.$store.getters['cabinet/getAccount']
            },
            tickets() {
                return this.$store.getters['cabinet/getTickets']
            },
            status_direction () { return this.$store.getters['searchStatus/get_direction']; },
        },
        mounted () {
            this.getTickets();
            moment.lang('ru');
        },
        methods: {
            togglePnr(id) {
                let more = document.getElementById(`${id}Div`);
                let arrow = document.getElementById(`${id}Img`);
                if (more.style.display === "block") {
                    more.style.display = "none";
                    arrow.classList.remove('rotate180')
                } else {
                    more.style.display = "block";
                    arrow.classList.add('rotate180')
                }
            },
            openSuc() {
                this.$refs.successModal.open();
            },
            // downloadInvoice() {
            //     Axios({
            //         url: 'https://avia.test.transavia.kz/media/invoices/2020/11/19/invoice_AAK64889352226.pdf',
            //         method: 'GET',
            //         responseType: 'blob',
            //     }).then((response) => {
            //         let fileURL = window.URL.createObjectURL(new Blob([response.data]));
            //         let fileLink = document.createElement('a');
            //
            //         fileLink.href = fileURL;
            //         fileLink.setAttribute('download', 'file.pdf');
            //         document.body.appendChild(fileLink);
            //
            //         fileLink.click();
            //     });
            // },
            openModal(modal, info) {
                this.ticketInfo = info.opts;
                this.rulesInfo = info.rles;
                this.googleId = info.book_id;
                switch (modal) {
                    case 'flightInfoModal':
                        this.$refs.flightInfoModal.open();
                        break
                    case 'tariffModal':
                        this.$store.dispatch('cabinet/setRules', this.rulesInfo)
                        this.$refs.tariffModal.open();
                        break
                }
            },

            goHome () {
                this.$router.push('/');
                this.$store.dispatch('loader/SET_LOADER', false);
            },
            makeActive(count) {
                if(count === 1) {
                    this.isTicketsActive = true;
                    this.isSettingsActive = false;
                    this.isLogoutActive = false;
                } else if(count === 2) {
                    this.isTicketsActive = false;
                    this.isSettingsActive = true;
                    this.isLogoutActive = false;
                } else {
                    this.isTicketsActive = false;
                    this.isSettingsActive = false;
                    this.isLogoutActive = true;
                    this.logout();
                }
            },
            // downloadTicket(url) {
            //     window.open(url, '_blank');
            // },
            toggleInfo(id, name, arrowName) {
                let more = document.getElementById(`${id}${name}`);
                let arrow = document.getElementById(`${id}${arrowName}`);
                if (more.style.display === "block") {
                    more.style.display = "none";
                    arrow.classList.remove('rotate180')
                } else {
                    more.style.display = "block";
                    arrow.classList.add('rotate180')
                }
            },
            async getTickets(currentPage) {
                this.$store.dispatch('loader/SET_LOADER', true, {root: true});
                try {
                const resData = await this.$store.dispatch('cabinet/loadTickets', {pageNumber: this.currentPage,  search_query: this.text});
                    this.$store.dispatch('loader/SET_LOADER', false);
                    this.rows = resData.rs.max_pages;
                } catch (e) {
                    this.$store.dispatch('loader/SET_LOADER', false);
                  //   this.$notify({
                  //     group: 'error',
                  //     type: 'warn',
                  //     duration: 5000,
                  //     title: e.response.data.rs.type,
                  //     text: e.response.data.rs.msg
                  // });
                    this.$notify({
                        group: 'error',
                        type: 'error',
                        text: 'Произошла ошибка, попробуйте еще раз'
                    });
              }
            },
            async getTicket (bookId) {
                this.$store.dispatch('loader/SET_LOADER', true);
                this.creatingTicket = 1;
                try {
                    await this.$store.dispatch('tickets/payTicket', {book_id: bookId});
                    this.creatingTicket = 2;
                } catch (e) {
                    this.creatingTicket = 3;
                }
                this.$store.dispatch('loader/SET_LOADER', false);
                // this.create_ticket.book_id = data.rs.book.id;
            },
            logout() {
                localStorage.removeItem('Token');
                this.$store.dispatch('cabinet/setAuthToken', null);
                this.$router.push('/login');
            },
            getLimitCounter(index) {
                setTimeout(() => {
                    let dt_lim = this.tickets.rs[index].dt_lim;
                    let eventTime= new Date(dt_lim);
                    let currentTime = new Date();
                    let diffTime = eventTime - currentTime;
                    let duration = moment.duration(diffTime*1000, 'milliseconds');
                    let interval = 1000;
                    let res = ''

                    setInterval(function(){
                        duration = moment.duration(duration - interval, 'milliseconds');
                        this.limit = duration.hours() + ":" + duration.minutes() + ":" + duration.seconds()
                        console.log(duration.hours() + ":" + duration.minutes() + ":" + duration.seconds())
                    }, interval);
                    return res
                }, 500)
            },
            async cancelBooking(bookId) {
                this.$store.dispatch('loader/SET_LOADER', true);
                const resData = await this.$store.dispatch('tickets/cancelBook', {book_id: bookId});
                if (resData.hasOwnProperty('sts') && resData.sts === 'warning') {
                    console.log("warning");
                    this.$store.dispatch('loader/SET_LOADER', false);

                }
                else if (resData.hasOwnProperty('sts') && resData.sts === 'success') {
                    this.$store.dispatch('loader/SET_LOADER', false);
                    this.$refs.successModal.open();
                }
                else {
                    this.$notify({
                        group: 'ticket',
                        type: 'error',
                        text: 'Произошла ошибка, попробуйте еще раз'
                    });
                }

                // catch (validationError) {
                //     // ...If .validate() threw an error
                //     this.error({
                //         statusCode: validationError.statusCode || '500',
                //         message: validationError.message
                //     })
                //     return next()
                // }

            },
            async refundBooking(bookId) {
                this.$store.dispatch('loader/SET_LOADER', true);
                const resData = await this.$store.dispatch('tickets/refundBook', {book_id: bookId});
                if (resData.hasOwnProperty('sts') && resData.sts === 'warning') {
                    console.log("warning");
                    this.$store.dispatch('loader/SET_LOADER', false);

                }
                else if (resData.hasOwnProperty('sts') && resData.sts === 'success') {
                    this.$store.dispatch('loader/SET_LOADER', false);
                    this.$refs.successModal.open();
                }
                else {
                    this.$notify({
                        group: 'ticket',
                        type: 'error',
                        text: 'Произошла ошибка, попробуйте еще раз'
                    });
                }

                // catch (validationError) {
                //     // ...If .validate() threw an error
                //     this.error({
                //         statusCode: validationError.statusCode || '500',
                //         message: validationError.message
                //     })
                //     return next()
                // }

            }
        }
    }
</script>
<style lang="scss" scoped>
    .passengers {
        display: flex;
        justify-content: space-between;
        min-width: 50px;
        width: 100%;
        margin-top: 10px;
    }
    .pnr {
        border-top: 1px solid #e0e7f4;
        margin-top: 10px;
        display: none;
    }
    .colm {
        .header {
            color: #9eacc4;
            padding-bottom: 10px;
        }
        .rows {
            color: #434343;
            padding: 10px 0;
        }

        .yellow {
            color: #aac109;
        }
    }
    .more-pnr h4{
        font-size: 14px;
    }
    .grey {
        color: #9eacc4;
    }
    .ticket-card {
        width: 100%;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px 0 rgba(158, 172, 196, 0.15);
        padding: 0 20px 20px 20px;

        .card-text {
            span {
                color: #9eacc4;
                display: block;
                font-size: 14px;
                margin-bottom: 3px;
            }

            p {
                font-size: 15px;
                color: #343434;
            }

            .time {
                font-size: 18px;
            }
        }
    }
    p {
        margin: 0;
    }

    .ticket-header {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #e0e7f4;

        .airline {
            display: flex;
            align-items: center;
            img {
                margin-right: 8px;
            }

            p {
                font-size: 14px;
                color: #343434;
            }
        }
    }

    .status {
        display: flex;
        align-items: center;

        .status-color {
            width: 17px;
            height: 17px;
            background-color: #ffaa46;
            margin-right: 7px;
            border-radius: 50%;
        }
        .red-color {
            background-color: #ff5a5a;
        }

        .green-color {
            background-color: #2ecc71;
        }
        p {
            color: #343434;
            font-size: 14px;
        }
    }


    .ticket-fields, .ticket-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .ticket-fields-row {
        padding: 20px 0 15px 0;
    }

    .warn {
        border-radius: 7px;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        background-color: #ff981f;
        padding: 10px 37px;
        display: flex;
        flex-direction: column;
        outline: none;
        border: 0;

        &:focus {
            transform: scale(1);
        }

        span {
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            padding: 1px 0;
        }
    }

    .ticket-buttons {
        padding-top: 20px;
    }

    .limit {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        margin-right: 10px;
        p {
            font-size: 14px;
            color: white;
            font-weight: bold;
        }

        .limit-value {
            font-size: 13px;
            background: #ffaa46;
            padding: 5px 10px;
            border-radius: 50px;
        }
    }

    .right-side {
        display: flex;
        align-items: center;
        span {
            padding-right: 6px;
        }

        a {
            color: #4b77be;
            font-size: 14px;
        }

        .conditions {
            padding-top: 8px;
            cursor: pointer;
            color: #4b77be;
            font-size: 14px;
            display: flex;
            align-items: center;

            img {
                margin-left: 6px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    .download-btn {
        border-radius: 7px;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        background-color: #4b77be !important;
        padding: 10px 23px;
        outline: none !important;
        border: 0 !important;
        display: flex;
        color: #ffffff;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        height: 40px;

        &:focus {
            outline: none;
            border: 0;
            box-shadow: none !important;
        }
    }

    .more-settings {
        border-top: solid 1px #e0e7f4;
        padding-top: 15px;
        margin-top: 15px;
        transition: .2s ease all;

        .more-settings-items {
            display: flex;
            align-items: center;
        }
        .divider {
            width: 1px;
            height: 20px;
            background-color: #e0e7f4;
            margin: 0 19px;
        }

        .title {
            font-weight: 500;
            padding-bottom: 9px;
        }

        .cancel-ticket {
            color: #ff5a5a;
        }

        a {
            font-size: 14px;
            color: #4b77be;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .more-info {
        border-top: solid 1px #e0e7f4;
        padding-top: 15px;
        margin-top: 15px;
        transition: .2s ease all;
        display: none;

        .ticket-fields {
            padding: 9px 0;
        }

        .title {
            font-weight: 500;
            padding-bottom: 9px;
        }

        .download-btn {
            margin-left: 0;
            padding: 7px 16px;

            img {
                margin-right: 7px;
            }
        }
    }

    .pnr-info {
        border-top: 1px solid #DFE0E0;
        border-bottom: 1px solid #DFE0E0;
        padding-top: 20px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;

        span {
            margin-bottom: 15px;
        }

        p {
            font-weight: unset;
            margin-bottom: 15px;
        }
    }

    .pnr-extra {
        display: flex;
        padding-top: 20px;
        width: 50%;
        justify-content: space-between;

        p {
            font-weight: unset;
        }
    }

    .list-group-item {
        cursor: pointer;
    }

    .yellow {
        color: #cddc39 !important;
    }

    .rotate180{
        transform: rotate(180deg);
    }

    .arrow-img {
        transition: .2s ease all;
        margin-left: 10px;
    }

    .dropdown-toggle:after {
        display: none;
    }

    .list-group-item {
        height: 46px;
    }



    .list-group-item.active {
        background: #418ad4;
        border-color: #418ad4;
    }

    .dot-loader {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

    @media (max-width: 750px) {
        .more-info{
            padding-top: 0;
        }
        .more-pnr{
            h4 {
                font-size: 10px;
            }
        }
        .warn{
            span {
                font-size: 10px;
            }
        }
        .more-settings{
            .more-settings-items{
                flex-wrap: wrap;
            }
            a {
                font-size: 12px;
            }
            .divider{
                margin: 0 8px;
            }
            .btn {
                margin-top: 10px;
                width: 100%;
                height: 40px;
            }
        }
        .card-text{
            padding: 5px;
        }
        .status{
            .status-color {
                width: 13px;
                height: 11px;
            }
        }
        .limit{
            padding-left: 10px;
            .limit-value{
                font-size: 10px;
                text-align: center;
            }
        }
        .list-group-item:first-child {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        .list-group-item:last-child {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
        .form-control {
            font-size: 11px;
        }
        .btn {
            font-size: 12px;
            justify-content: center;
        }
        .ticket-buttons {
            flex-wrap: wrap;
            .card-text {
                span {
                    font-size: 11px;
                }
                p {
                    font-size: 14px;
                }
            }
            .right-side {
                .download-btn {
                    margin-left: 18px;
                }
                .limit {
                    padding-left: 18px;
                }
                .conditions {
                    font-size: 12px;
                }
            }
        }
        .ticket-header {
            justify-content: space-between;
            display: flex;
            p, .airline p {
                font-size: 11px;
                text-align: center;
            }

        }
        .ticket-fields {
            flex-wrap: wrap;
            justify-content: flex-start;
            .card-text {
                margin: 5px;
                width: 45%;
                span {
                    font-size: 11px;
                }
                p, .time {
                    font-size: 15px;
                }
            }
            .download-btn {
                margin: auto;
            }
            .warn {
                display: block;
                padding: 12px;
                span {
                    font-size: 11px;
                }
            }
        }
        .list-group {
            flex-direction: row;
            margin: 10px 0;
            .list-group-item {
                width: 100%;
                text-align: center;
                font-size: 13px;
            }
        }

        .dot-loader {
            left: 45%;
        }

    }


</style>
