<template>
    <section class="page">
        <client-only>
            <notifications group="foo" />
        </client-only>
        <div v-if="loader">
            <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
        </div>
        <div v-if="!loader && !allTickets" class="col-lg-8 d-flex offset-lg-2 pt-4">
            <h2 class="mx-auto">Нет доступных рейсов</h2>
        </div>
        <div class="container">
            <div  v-if="!loader && !ticketsNotFounded && allTickets" class="row">
                <div class="col-lg-3 d-md-block d-none">
                    <a @click="back"><i class="fa fa-chevron-left mb-4" aria-hidden="true"></i> Назад</a>
                    <h5>Поиск по фильтрам</h5>
                    <hr>
                    <p class="collapse-filter" v-b-toggle.collapse-1 >Пересадки <img src="../../assets/arrow-blue.svg" alt="" class="arrow-img"></p>
                    <b-collapse visible  id="collapse-1" class="mt-2">
                        <b-form-group>
                            <b-form-checkbox
                                v-for="transfer in transfers"
                                v-model="selected"
                                :key="transfer"
                                :value="transfer"
                                name="transfers"
                                @change.native="filterTickets(selected)"

                            >
                                <span v-if="transfer < 1">Прямой рейс</span>
                                <span v-if="transfer === 1">{{ transfer }} пересадка</span>
                                <span v-if="transfer > 1">{{ transfer }} пересадки</span>
                            </b-form-checkbox>
                        </b-form-group>
                    </b-collapse>
                    <hr>
                    <p class="collapse-filter" v-b-toggle.collapse-2 >Авиакомпании <img src="../../assets/arrow-blue.svg" alt="" class="arrow-img"></p>
                    <b-collapse visible  id="collapse-2" class="mt-2">
                        <b-form-group>
                            <template v-slot:label>
                                <b-form-checkbox
                                    v-model="allSelected"
                                    aria-describedby="airlines"
                                    aria-controls="airlines"
                                    @change="toggleAll"
                                >
                                    {{ allSelected ? 'Убрать все' : 'Все' }}
                                </b-form-checkbox>
                            </template>

                            <b-form-checkbox-group
                                id="flavors"
                                v-model="selected"
                                :options="airlines"
                                name="airlines"
                                class="ml-4"
                                stacked
                                @change.native="filterTickets(selected)"
                            ></b-form-checkbox-group>
                        </b-form-group>
                    </b-collapse>
                    <hr>
                    <p class="collapse-filter" v-b-toggle.collapse-3 >Багаж <img src="../../assets/arrow-blue.svg" alt="" class="arrow-img"></p>
                    <b-collapse visible  id="collapse-3" class="mt-2">
                        <b-form-group>
                            <b-form-checkbox-group
                                v-model="selected"
                                :options="baggages"
                                name="baggages"
                                @change.native="filterTickets(selected)"
                                stacked
                            ></b-form-checkbox-group>
                        </b-form-group>
                    </b-collapse>
<!--                    <p class="collapse-filter" v-b-toggle.collapse-4 >Цена билета <img src="../../assets/arrow-blue.svg" alt="" class="arrow-img"></p>-->
<!--                    <b-collapse visible  id="collapse-4" class="mt-2">-->
<!--                        <div class="justify-content-between d-flex mb-2">-->
<!--                            <span>от {{prices[0]}} {{allTickets[0].prc.tot.cur.sym}}</span>-->
<!--                            <span>до {{prices[1]}} {{allTickets[0].prc.tot.cur.sym}}</span>-->
<!--                        </div>-->
<!--                        <vue-range-slider :tooltip="null" @input="filterPrice" v-model="prices" :min="min" :max="max" :enable-cross="enableCross"  ></vue-range-slider>-->

<!--                    </b-collapse>-->


<!--                                        <b-form-slider @change="filterPrice" class="w-100" ref="range" v-model="prices" range :min="min" :max="max" trigger-change-event></b-form-slider>-->


                </div>
                <div class="col-lg-3 d-block d-md-none">
                    <b-button class="btn btn-main btn-main--blue w-100 mt-3" id="show-btn" @click="$bvModal.show('bv-modal-example')">Фильтрация</b-button>
                    <b-modal id="bv-modal-example" modal-class="modal-fullscreen">
                        <template #modal-header="{ close, hide }">
                            <h5>Поиск по фильтрам</h5>
                        </template>
                        <p class="collapse-filter mt-3" v-b-toggle.collapse-1 >Пересадки <img src="../../assets/arrow-blue.svg" alt="" class="arrow-img"></p>
                        <b-collapse visible  id="collapse-1" class="mt-2">
                            <b-form-group>
                                <b-form-checkbox
                                    v-for="transfer in transfers"
                                    v-model="selected"
                                    :key="transfer"
                                    :value="transfer"
                                    name="transfers"
                                    @change.native="filterTickets(selected)"

                                >
                                    <span v-if="transfer < 1">Прямой рейс</span>
                                    <span v-if="transfer === 1">{{ transfer }} пересадка</span>
                                    <span v-if="transfer > 1">{{ transfer }} пересадки</span>
                                </b-form-checkbox>
                            </b-form-group>
                        </b-collapse>
                        <hr>
                        <p class="collapse-filter" v-b-toggle.collapse-2 >Авиакомпании <img src="../../assets/arrow-blue.svg" alt="" class="arrow-img"></p>
                        <b-collapse visible  id="collapse-2" class="mt-2">
                            <b-form-group>
                                <template v-slot:label>
                                    <b-form-checkbox
                                        v-model="allSelected"
                                        aria-describedby="airlines"
                                        aria-controls="airlines"
                                        @change="toggleAll"
                                    >
                                        {{ allSelected ? 'Убрать все' : 'Все' }}
                                    </b-form-checkbox>
                                </template>

                                <b-form-checkbox-group
                                    id="flavors"
                                    v-model="selected"
                                    :options="airlines"
                                    name="airlines"
                                    class="ml-4"
                                    stacked
                                    @change.native="filterTickets(selected)"
                                ></b-form-checkbox-group>
                            </b-form-group>
                        </b-collapse>
                        <hr>
                        <p class="collapse-filter" v-b-toggle.collapse-3 >Багаж <img src="../../assets/arrow-blue.svg" alt="" class="arrow-img"></p>
                        <b-collapse visible  id="collapse-3" class="mt-2">
                            <b-form-group>
                                <b-form-checkbox-group
                                    v-model="selected"
                                    :options="baggages"
                                    name="baggages"
                                    @change.native="filterTickets(selected)"
                                    stacked
                                ></b-form-checkbox-group>
                            </b-form-group>
                        </b-collapse>
                        <template #modal-footer="{ ok, cancel, hide }">
                            <b-button class="mt-3 btn btn-main btn-main--blue" block @click="$bvModal.hide('bv-modal-example')">Применить</b-button>
                        </template>
                    </b-modal>
                </div>
                <div class="avia-tickets col-lg-9 ">
                    <div v-if="selected.length === 0 && filteredTickets.length < 1">
                        <template v-for="(ticket, index) in cheepest">
                            <avia-ticket :key="index" :id="index" :status="'cheepest'" :data="ticket"></avia-ticket>
                        </template>
                        <template v-for="(ticket, index) in fastest">
                            <avia-ticket :key="index + 'fastest' + 1" :id="index + 1" :status="'fastest'" :data="ticket"></avia-ticket>
                        </template>
                        <template v-for="(ticket, index) in other">
                            <avia-ticket :key="index + 'other' + 2" :id="index + 2" :status="'normal'" :data="ticket"></avia-ticket>
                        </template>
                    </div>
                    <template v-if="filteredTickets.length > 0" v-for="(ticket, index) in filteredTickets">
                        <avia-ticket :key="index + 'all_tickets' + 3" :id="index + 3" :status="'normal'" :data="ticket"></avia-ticket>
                    </template>
                    <template v-if="selected.length > 0 && filteredTickets.length === 0">
                        <h2>Нет рейсов удовлетворяющих все параметры фильтра</h2>
                    </template>
                </div>
                <go-top bg-color="#418ad4" :has-outline="false"></go-top>
            </div>
        </div>
    </section>
</template>

<script>

    import AviaTicket from '@/components/elements/ticket'
    import GoTop from '@inotom/vue-go-top';
    import 'vue-range-component/dist/vue-range-slider.css'
    import VueRangeSlider from 'vue-range-component'
    import ClientOnly from 'vue-client-only'

    export default {
        asyncData () {
            return new Promise((resolve) => {
                setTimeout(function () {
                    resolve({})
                }, 1000)
            })
        },
        scrollToTop: true,
        data () {
            return {
                modalShow: false,
                expiredTime: null,
                airlines: [],
                transfers: [],
                baggages: ['Без багажа', 'C багажом'],
                selected: [],
                filteredTickets: [],
                allSelected: false,
                searchData: {
                    trf: 'Economy',
                    flts: [
                        {
                            dt: null,
                            frm:  null,
                            to: null
                        }
                    ],
                    pnrs: []
                },
                prices: [0, 100],
                rangeValue: [25, 75],
                min: 0,
                max: 1000000000,
            }
        },

        components: { AviaTicket, GoTop, VueRangeSlider, ClientOnly },

        computed: {
            cheepest() { return this.$store.getters['tickets/getCheepest'] },
            fastest() { return this.$store.getters['tickets/getFastest'] },
            other() { return this.$store.getters['tickets/getOther'] },
            allTickets() { return this.$store.getters['tickets/getAll'] },
            loader () { return this.$store.getters['loader/getLoader'] },
            ticketsNotFounded () { return this.$store.state.requestData.ticketsNotFound },
            search_flight_body () { return this.$store.getters['tickets/get_search_flight_body'] },
            comb_id() { return this.$store.getters['requestData/getCombinationId']}

        },
        head () {
            return {
                title: this.searchData.flts.frm,
                meta: [
                    { hid: 'description', name: 'description', content: 'Tickets info' }
                ],
                script: [
                    {
                        src: '//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit',
                        body: true,
                    }
                ],
            }
        },
        beforeCreate() {
            this.$store.dispatch('requestData/SET_COMBINATION_ID', [0,0]);

        },
        created () {
            this.$eventBus.$emit('calendarMode', true);
            this.$eventBus.$on('doSearch', this.parseParams);
            this.enableCross = false;
            VueRangeSlider.methods.handleKeyup = ()=> console.log;
            VueRangeSlider.methods.handleKeydown = ()=> console.log;
        },
        beforeDestroy () {
            this.$eventBus.$off('doSearch')
            this.$eventBus.$off('fillWidget')
            this.stopExpireModal();
        },
        mounted () {
            this.parseParams(true)
        },
        methods: {
            slideStart () {
                console.log('slideStarted')
            },
            slideStop () {
                console.log('slideStopped')
            },
            stopExpireModal() {
                clearTimeout(this.expiredTime);
            },
            showExpireModal(){
                this.expiredTime = setTimeout( () => {
                    this.$eventBus.$emit('setExpiredTime')
                }, 1200000);
            },
            back() {
                this.$router.back()
            },
            setPrices(){
                let tickets = this.$store.state.tickets.search_flight_body.tkts;
                for (let ticket of tickets) {
                    if (ticket.id === 'cheap') this.prices[0] = ticket.prc.tot.val;
                    if (ticket.id === 'any') this.prices[1] = ticket.prc.tot.val;
                }
                this.min = this.prices[0];
                this.max = this.prices[1];
            },
            filterPrice() {
                if (this.selected.length > 0){
                    this.filterTickets(this.selected);
                }
                else {
                    let filteredArray = [];
                    for (let j = 0; j < this.allTickets.length; j++) {
                        if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                            filteredArray.push(this.allTickets[j])
                        }
                    }
                    this.filteredTickets = filteredArray;
                    // this.selected = true;
                }
            },
            filterTickets(selected) {
                let filteredArray = [];
                let filteredArray2 = [];
                let filteredArray3 = [];
                let filteredArray4 = [];

                let airlineExists = this.airlines.some(r=> selected.indexOf(r) >= 0)
                let transferExists = this.transfers.some(r=> selected.indexOf(r) >= 0)


                if (airlineExists && !transferExists) {
                    if (selected.includes('Без багажа') && !selected.includes('C багажом')) {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            if (selected.includes(this.allTickets[j].opts[0].segs[0].al.mark.nm) && this.allTickets[j].opts[0].segs[0].bag[0].wt === 'Без Багажа') {
                                if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                    filteredArray2.push(this.allTickets[j])
                                }
                            }
                        }
                        this.filteredTickets = filteredArray2
                    }
                    else  if (selected.includes('C багажом') && !selected.includes('Без багажа')) {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            if (selected.includes(this.allTickets[j].opts[0].segs[0].al.mark.nm) && this.allTickets[j].opts[0].segs[0].bag[0].wt !== 'Без Багажа') {
                                if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                    filteredArray3.push(this.allTickets[j])
                                }
                            }
                        }
                        this.filteredTickets = filteredArray3
                    }
                    else  if (selected.includes('C багажом') && selected.includes('Без багажа')) {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            if (selected.includes(this.allTickets[j].opts[0].segs[0].al.mark.nm) && this.allTickets[j].opts[0].segs[0].bag[0].wt ) {
                                if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                    filteredArray4.push(this.allTickets[j])
                                }
                            }
                        }
                        this.filteredTickets = filteredArray4
                    }
                    else {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            if (selected.includes(this.allTickets[j].opts[0].segs[0].al.mark.nm) ) {
                                if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                    filteredArray.push(this.allTickets[j])
                                }
                            }
                        }
                        this.filteredTickets = filteredArray
                    }
                }
                else if (transferExists && !airlineExists) {
                    if (selected.includes('Без багажа') && !selected.includes('C багажом')) {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            if (selected.includes(this.allTickets[j].opts[0].way) && this.allTickets[j].opts[0].segs[0].bag[0].wt === 'Без Багажа') {
                                if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                    filteredArray2.push(this.allTickets[j])
                                }
                            }
                        }
                        this.filteredTickets = filteredArray2
                    }
                    else  if (selected.includes('C багажом') && !selected.includes('Без багажа')) {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            if (selected.includes(this.allTickets[j].opts[0].way) && this.allTickets[j].opts[0].segs[0].bag[0].wt !== 'Без Багажа') {
                                if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                    filteredArray3.push(this.allTickets[j])
                                }
                            }
                        }
                        this.filteredTickets = filteredArray3
                    }
                    else  if (selected.includes('C багажом') && selected.includes('Без багажа')) {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            if (selected.includes(this.allTickets[j].opts[0].way) && this.allTickets[j].opts[0].segs[0].bag[0].wt ) {
                                if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                    filteredArray4.push(this.allTickets[j])
                                }
                            }
                        }
                        this.filteredTickets = filteredArray4
                    }
                    else {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            for (let i =0; i < this.allTickets.length; i++) {
                                if (selected.includes(i) && this.allTickets[j].opts[0].way == i) {
                                    if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                        filteredArray.push(this.allTickets[j])
                                    }
                                }
                            }
                        }
                        this.filteredTickets = filteredArray
                    }
                }
                else if (transferExists && airlineExists) {
                    if (selected.includes('Без багажа') && !selected.includes('C багажом') ) {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            if (selected.includes(this.allTickets[j].opts[0].way) && this.allTickets[j].opts[0].segs[0].bag[0].wt === 'Без Багажа' && selected.includes(this.allTickets[j].opts[0].segs[0].al.mark.nm)) {
                                if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                    filteredArray2.push(this.allTickets[j])
                                }
                            }
                        }
                        this.filteredTickets = filteredArray2
                    }
                    else  if (selected.includes('C багажом') && !selected.includes('Без багажа')) {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            if (selected.includes(this.allTickets[j].opts[0].way) && this.allTickets[j].opts[0].segs[0].bag[0].wt !== 'Без Багажа' && selected.includes(this.allTickets[j].opts[0].segs[0].al.mark.nm)) {
                                if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                    filteredArray3.push(this.allTickets[j])
                                }
                            }
                        }
                        this.filteredTickets = filteredArray3
                    }
                    else  if (selected.includes('C багажом') && selected.includes('Без багажа')) {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            if (selected.includes(this.allTickets[j].opts[0].way) && this.allTickets[j].opts[0].segs[0].bag[0].wt && selected.includes(this.allTickets[j].opts[0].segs[0].al.mark.nm)) {
                                if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                    filteredArray4.push(this.allTickets[j])
                                }
                            }
                        }
                        this.filteredTickets = filteredArray4
                    }
                    else {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            if (selected.includes(this.allTickets[j].opts[0].segs[0].al.mark.nm) && selected.includes(this.allTickets[j].opts[0].way)) {
                                if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                    filteredArray.push(this.allTickets[j])
                                }
                            }
                        }
                        this.filteredTickets = filteredArray
                    }
                }
                else {
                    for (let j = 0; j < this.allTickets.length; j++) {
                        if (selected.includes('Без багажа') && this.allTickets[j].opts[0].segs[0].bag[0].wt === 'Без Багажа' || selected.includes('C багажом') && this.allTickets[j].opts[0].segs[0].bag[0].wt !== 'Без Багажа') {
                            if (this.allTickets[j].prc.tot.val >= this.prices[0] && this.allTickets[j].prc.tot.val <= this.prices[1]) {
                                filteredArray.push(this.allTickets[j])
                            }
                        }
                        // if (this.allTickets[j].prc.tot.val > this.prices[0] && this.allTickets[j].prc.tot.val < this.prices[1]) {
                        //     filteredArray.push(this.allTickets[j])
                        // }
                    }
                    this.filteredTickets = filteredArray
                    // this.filterPrice();
                }
                },


            toggleAll(checked) {
                let filteredArray = [];

                this.selected = checked ? this.airlines.slice() : []
                if (this.allSelected = true) {
                    for (let j = 0; j < this.allTickets.length; j++) {
                        if (this.selected.includes(this.allTickets[j].opts[0].segs[0].al.mark.nm)) {
                            filteredArray.push(this.allTickets[j])
                        }
                    }
                    this.filteredTickets = filteredArray

                }
            },

            allAirlines () {
                    let filteredArray = [];
                    if (this.allTickets) {
                        for (let j = 0; j < this.allTickets.length; j++) {
                            filteredArray.push(this.allTickets[j].opts[0].segs[0].al.mark.nm)
                        }
                        this.airlines = filteredArray
                        this.airlines = [ ...new Set(this.airlines) ]
                    }
                    else {
                        void(0)
                    }
            },
            allTransfers () {
                let filteredArray = [];
                if (this.allTickets) {
                    for (let j = 0; j < this.allTickets.length; j++) {
                        filteredArray.push(this.allTickets[j].opts[0].way)

                    }
                    this.transfers = filteredArray;
                    this.transfers = [ ...new Set(this.transfers) ].sort();
                }
                else {
                    void(0)
                }
            },

            initSearchData() {
                return {
                    trf: 'Economy',
                    sess_id: '',
                    flts: [
                        {
                            dt: null,
                            frm:  null,
                            to: null
                        }
                    ],
                    pnrs: []
                }
            },

            async parseParams(fillWidget = false) {
                if (this.$route.params.searchParams) {
                    const paramsData = this.$route.params.searchParams;
                    if (paramsData.includes('ADT') && !isNaN(paramsData.substring(3, 11))) {
                        this.searchData = this.initSearchData();
                        this.addPnr(paramsData);
                        this.addFlt(paramsData);
                        if (paramsData.includes('-trf=Economy') || paramsData.includes('-trf=Business')) {
                            this.searchData.trf = paramsData.substring(paramsData.indexOf('-trf=') + 5, paramsData.length);
                        }
                        if (fillWidget) {
                            this.$eventBus.$emit('fillWidget', this.searchData);
                        }

                        this.$store.dispatch('searchStatus/setSearchRequest', this.searchData);

                        await this.getTickets(this.searchData);
                        this.allAirlines();
                        this.allTransfers();
                        this.setPrices();
                        if ( $nuxt.$route.name==='results-searchParams'){
                           // this.maha = this.setExpiredTime(5000);
                            this.showExpireModal();
                        }

                    } else {
                        this.$router.push('/');
                    }
                } else {
                    this.$router.push('/');
                }
            },
            async getTickets(data) {
                this.$store.dispatch('loader/SET_LOADER', true, {root: true});
                try {
                    let responseData = await this.$store.dispatch('tickets/searchTickets', data);
                    this.$store.dispatch('tickets/SET_SEARCH_FLIGHT_BODY', responseData.rs);
                    this.$store.dispatch('requestData/SET_SESSION_ID', responseData.sess_id);
                    this.$store.dispatch('requestData/SET_HASH_CODE', responseData.search_id);
                    this.$store.dispatch('loader/SET_LOADER', false);
                    this.$store.dispatch('requestData/SET_TICKETS_NOT_FOUND', false);
                    return responseData
                } catch (errors) {
                    this.$store.dispatch('loader/SET_LOADER', false);
                    if (typeof errors.response.data === 'object') {
                        this.$notify({
                            group: 'foo',
                            type: 'warn',
                            duration: 5000,
                            title: errors.response.data.rs.type,
                            text: errors.response.data.rs.msg
                        });
                        if (errors.response.data.rs.msg === 'unknown | No Available Flights') {
                            this.$store.dispatch('requestData/SET_TICKETS_NOT_FOUND', true);
                        }
                    } else {
                        this.$notify({
                            group: 'foo',
                            type: 'error',
                            text: "Произошла ошибка, попробуйте еще раз"
                        });
                    }
                }
            },
            addPnr(params) {
                this.searchData.pnrs.push({
                    co: 'ADT',
                    qt: +params.substring(params.indexOf('ADT') + 3, params.indexOf('ADT') + 4)
                });
                if (params.includes('CHD')) {
                    this.searchData.pnrs.push({
                        co: 'CHD',
                        qt: +params.substring(params.indexOf('CHD') + 3, params.indexOf('CHD') + 4)
                    })
                }
                if (params.includes('INF')) {
                    this.searchData.pnrs.push({
                        co: 'INF',
                        qt: +params.substring(params.indexOf('INF') + 3, params.indexOf('INF') + 4)
                    })
                }
                let pnrObj = {};
                this.searchData.pnrs.forEach(el => {
                    pnrObj[el.co] = el.qt
                });
                this.$store.dispatch('passengers/SET_PASSENGERS_OBJECT', pnrObj)
            },
            addFlt(params) {
                this.searchData.flts[0].frm = params.substring(0, 3)
                this.searchData.flts[0].to = params.substring(11, 14)
                this.searchData.flts[0].dt = `${params.substring(3, 7)}-${params.substring(7, 9)}-${params.substring(9, 11)}`
                if (params.substring(14, 22) && (params.substring(14, 22).match(/^-{0,1}\d+$/))) {
                    this.searchData.flts.push({
                        to: params.substring(0, 3),
                        frm: params.substring(11, 14),
                        dt: `${params.substring(14, 18)}-${params.substring(18, 20)}-${params.substring(20, 22)}`
                    })
                }
            },
            setExpiredTime(expiredTime) {
                this.$eventBus.$emit('setExpiredTime', expiredTime)
            }
        }
    }

</script>
<style>
    .modal-fullscreen .modal-dialog .modal-content {
        padding: 20px;
        height: 100vh!important;

    }
    .modal-fullscreen .modal-dialog {
        margin: 0;
    }
    .modal-fullscreen .modal-header {
        justify-content: center;
    }
</style>
<style scoped>
    .modal-fullscreen .modal-dialog .modal-content {
        height: 100vh!important;
    }
    .vue-range-slider.slider-component .slider .slider-dot.slider-always .slider-tooltip-wrap {
        display: none!important;
        visibility: hidden!important;
    }
    a {
        cursor: pointer;
    }
    .collapse-filter {
        font-weight: 500;
        outline: none;
        justify-content: space-between;
        display: flex;
    }
    h2 {
        color: #333 !important;
        font-size: 30px !important;
    }
    .dot-loader {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
    @media (max-width: 750px) {
        .dot-loader {
            left: 45%;
        }
    }
</style>
