<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head>
  {{ HEAD }}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113783066-2');
  </script>
</head>
<body {{ BODY_ATTRS }}>
{{ APP }}
</body>
</html>
