<template>
    <div class="container layout">
        <div class="card card-signin">
            <div class="card-body">
                <div v-if="loader" class="loader">
                    <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
                </div>
                <form class="form-signin" v-else>
                    <img class="logo" src="../../assets/logo-transavia.png" alt="">
                    <div class="form-label-group">
                        <input type="email"
                               v-model="form.email"
                               class="form-control"
                               placeholder="Email address"
                               @blur="$v.form.email.$touch()"
                               autofocus>
                        <p class="text-danger" v-if="!$v.form.email.required">{{ $tc('field_required') }}</p>
                        <p class="text-danger" v-if="!$v.form.email.email">{{ $tc('valid_email') }}</p>
                    </div>

                    <div class="form-label-group">
                        <input type="password"
                               v-model="form.password"
                               class="form-control"
                               placeholder="Password"
                               @blur="$v.form.password.$touch()"
                        >
                        <p class="text-danger" v-if="$v.form.password.$error">{{ $tc('field_required') }}</p>
                    </div>
                    <p class="text-danger">{{ errorText }}</p>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" @click.prevent="submitForm" type="submit">{{ $tc('login') }}</button>
                </form>
            </div>
        </div>

    </div>
</template>
<script>
    import { required, email } from 'vuelidate/lib/validators'
    export default {
        layout: 'login',
        data() {
            return {
                loader: false,
                form: {
                    email: null,
                    password: null
                },
                errorText: null
            }
        },
        validations: {
            form: {
               email: {
                   required,
                   email
               },
               password: {
                   required
               }
            }
        },

        methods: {
            submitForm() {
                this.$v.$touch()
                if (!this.$v.$invalid) {
                    this.loader = true;
                    this.$axios.post('https://auth.test.transavia.kz/auth/token/obtain',
                        this.form
                    ).then(async (res) => {
                        if (res.status === 200) {
                            this.errorText = null;
                            this.$store.dispatch('cabinet/setAuthToken', res.data.token);
                            this.$axios.onRequest(config => {
                                config.headers.Authorization = 'TRV ' + this.$cookiz.get('token')
                            })
                            this.$store.dispatch('cabinet/loadAccount');
                            this.$router.push('/');
                        }
                        this.loader = false;
                    }).catch(e => {
                        this.loader = false;
                        this.errorText = 'Wrong login or password';
                    })
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .logo {
        width: 250px;
        margin: auto;
        display: inherit;
        margin-bottom: 20px;
    }

    .form-label-group {
        margin-bottom: 15px;
    }

    .layout {
        height: 100vh;
        display: flex;
    }

    .card-body {
        min-height: 300px;
    }

    .card-signin {
        width: 400px;
        height: auto;
        margin: auto;
    }

    .form-signin {
        padding: 15px;
    }
    .loader {
        margin: auto;
        text-align: center;
        height: 100%;
        padding-top: 120px;
    }

    @media (max-width: 750px) {
        .text-danger {
            margin: 0;
            font-size: 13px;
        }
    }

</style>

