<template>
    <div class="container">
        <notifications group="error" />
        <div class="row page bg-light">
            <div class="col-lg-8"  v-if="creatingTicket === 0">
                <div>
                    <div class="avia-ticket mt-4 mt-md-0">
                        <div class="row">
                            <div class="col-md-1 pr-md-0 pl-md-4 d-none d-md-block">
                                <img src="@/assets/icons/warning-icon.png" alt="">
                            </div>
                            <div class="col-md-3 pl-md-0 book-mobile">
                                <p class="mb-0">№ брони</p>
                                <h4 class="mt-1"><b class="blue">{{ book.rs.book.id }}</b></h4>
                            </div>
                            <div class="col-md-8 book-mobile">
                                <p class="mb-0">Забронирован</p>
                                <h4 class="blue mt-1">Необходимо выкупить до
                                    <br>
                                    {{book.rs.book.dt_lim | dateFormat('DD MMM')}} {{book.rs.book.dt_lim | dateFormat('HH:mm')}} <small>(Алматы GMT +6)</small>
                                    <br>
                                    {{kiev | dateFormat('DD MMM')}} {{kiev | dateFormat('HH:mm')}} <small>(Киев GMT +3)</small>
                                    <br>
                                    {{kiev | dateFormat('DD MMM')}} {{kiev | dateFormat('HH:mm')}} <small>(Минск GMT +3)</small>
                                </h4>
                            </div>
                            <div class="col-md-11 offset-md-1 pl-md-0">
                                <p class="mt-4">{{ $tc('sent_reservation') }} </p>
                            </div>
                        </div>
                    </div>

                        <div class="avia-ticket" :key="index" v-for="(segment, index) in book.rs.opts">
                            <div class="row align-items-center">
                                <div class="col-4 col-md-3">
                                    <img src="../../assets/icons/plane.svg" alt="" class="d-none d-md-flex">
                                    <span>{{segment.segs[0].flt_no}}</span>
                                    <h2>{{segment.segs[0].dep.ap.city_co}}</h2>
                                    <p>{{segment.segs[0].dep.ap.city_nm}}</p>
                                    <h5>{{segment.segs[0].dep.dt | dateFormat('DD MMM, dd')}}</h5>
                                    <h6>{{segment.segs[0].dep.dt | dateFormat('HH:mm')}}</h6>

                                </div>
                                <div class="col-4 col-md-6 text-center">
                                    <p class="m-0">{{segment.elap_t}}</p>
                                    <img src="../../assets/icons/arrow.svg" alt="" class="img-fluid">
                                    <p v-if="segment.segs.length === 1">{{ $tc('direct_flight') }}</p>
                                    <p v-else>{{ $tc('direct_flight_stop') }}</p>
                                </div>
                                <div class="col-4 col-md-3 text-right">
                                    <span>{{segment.segs[segment.segs.length - 1].al.oper.nm}}</span>
                                    <h2>{{segment.segs[segment.segs.length - 1].arr.ap.city_co}}</h2>
                                    <p>{{segment.segs[segment.segs.length - 1].arr.ap.city_nm}}</p>
                                    <h5>{{segment.segs[segment.segs.length - 1].arr.dt | dateFormat('DD MMM, dd')}}</h5>
                                    <h6>{{segment.segs[segment.segs.length - 1].arr.dt | dateFormat('HH:mm')}}</h6>
                                </div>

                            </div>
                            <div class="row align-items-end">
                                <div class="col-6">
                                    <div @click="toggleInfo('pnr'+index)" class="more more-pnr mt-4">
                                        <h4 class="dropdown-passengers">{{ $tc('passengers') }}</h4>
                                        <img :id="'pnr'+index+'Img'" class="arrow-img" src="../../assets/icons/arrow-bottom-blue.svg" alt="">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <span class="grey clickable" @click="openModal('flightInfoModal')">{{ $tc('details.details_f') }}</span>
                                </div>
<!--                                <div class="col-md-3">-->
<!--                                    <span class="grey clickable" @click="openModal('tariffModal')">{{ $tc('tariff.title') }}</span>-->
<!--                                </div>-->
                                <div class="pnr" :id="'pnr'+index+'Div'">
                                    <div class="col-md-12">
                                        <div class="passengers">
                                            <div class="colm">
                                                <p class="rows font-weight-bold text-uppercase" :key="index" v-for="(pnr, index) in book.rs.pnrs">{{ pnr.nm }} {{ pnr.snm }}</p>
                                            </div>
                                            <div class="colm">
                                                <p class="rows" :key="index" v-for="(pnr, index) in book.rs.pnrs">{{ pnr.sex }}</p>
                                            </div>
                                            <div class="colm">
                                                <p class="rows" :key="index" v-for="(pnr, index) in book.rs.pnrs">{{ pnr.born_d }}</p>
                                            </div>
                                            <div class="colm">
                                                <p class="rows" :key="index" v-for="(pnr, index) in book.rs.pnrs">{{ pnr.doc.id }}</p>
                                            </div>
                                            <div class="colm">
                                                <p class="rows" :key="index" v-for="(pnr, index) in book.rs.pnrs">{{ pnr.doc.ty }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-4" v-if="creatingTicket === 0">
                <div class="avia-ticket for-pay d-none d-md-block">
                    <div @click="toggleInfo('forPay')" class="more for-pay-more">
                        <h4>{{ $tc('to_pay') }}</h4>
                        <img id="forPayImg" class="arrow-img rotate180" src="../../assets/arrow-bottom.png" alt="">
                    </div>
                    <div class="for-payment" id="forPayDiv">
                        <!--<div>
                            <p>{{ $tc('airline_tariff') }}</p>
                            <p class="b-text yellow">25 360 ₸</p>
                        </div>-->
                        <div>
                            <p>{{ $tc('taxes_fees') }}</p>
<!--                            <p class="b-text">{{book.rs.prc.gds.hasOwnProperty('tot') ? book.rs.prc.gds.tot.val : book.rs.prc.gds.val | numberWithSpaces }} {{book.rs.prc.gds.hasOwnProperty('tot') ? book.rs.prc.gds.tot.cur.sym : book.rs.prc.gds.cur }}</p>-->
                            <p class="b-text">{{ book.rs.prc.gds.tot.val | numberWithSpaces }} {{ book.rs.prc.gds.tot.cur.sym }}</p>
                        </div>
                        <div>
                            <p>{{ $tc('tr_fee') }}</p>
                            <p class="b-text">{{ book.rs.prc.rule.val | numberWithSpaces }} {{ book.rs.prc.rule.cur.sym }}</p>
                        </div>
                        <div v-if="book.rs.prc.hasOwnProperty('fee') && book.rs.prc.fee">
                            <p>{{ $tc('agency_fee') }}</p>
                            <p class="b-text">{{ book.rs.prc.fee.val | numberWithSpaces }} {{ book.rs.prc.fee.cur.sym }}</p>
                        </div>
                    </div>
                    <div class="pay">
                        <div class="price">
                            <p>{{ $tc('total') }}</p>
                            <p class="b-text">{{book.rs.prc.tot.val | numberWithSpaces}} {{book.rs.prc.tot.cur.sym}}</p>
                        </div>
                        <button class="btn btn-main btn-main--blue mt-3 btn-price" @click="getTicket">{{ $tc('pay') }}</button>
                    </div>
                </div>
                <div class="d-block d-md-none text-center pb-5">
                    <div class="rule-fee">
<!--                        <div class="fee-item" v-if="tariffPrice">-->
<!--                            <h4>Тариф</h4>-->
<!--                            <h3>{{ tariffPrice | numberWithSpaces }} {{ book.rs.prc.rule.cur.sym }}</h3>-->
<!--                        </div>-->
                        <div class="fee-item">
                            <h4 class="mb-2 mt-4">Сборы Трансавиа</h4>
                            <h2 class="mt-0">{{ book.rs.prc.rule.val | numberWithSpaces }} {{ book.rs.prc.rule.cur.sym }}</h2>
                        </div>
                        <div class="fee-item">
                            <h4 class="mb-2 mt-4">Тариф и Таксы</h4>
                            <h2 class="mt-0">{{ book.rs.prc.gds.tot.val | numberWithSpaces }} {{ book.rs.prc.gds.tot.cur.sym }}</h2>
                        </div>
                    </div>
                    <div class="fee-agency" v-if="book.rs.prc.hasOwnProperty('fee') && book.rs.prc.fee">
                        <div class="fee-item">
                            <h4 class="mb-2 mt-4">Сборы агенства</h4>
                            <h2 class="mt-0">{{ book.rs.prc.fee.val }} {{book.rs.prc.fee.cur.sym}}</h2>
                        </div>
                    </div>
                    <div class="total-price">
                        <div class="fee-item">
                            <h4 class="mb-2 mt-4">Итого</h4>
                            <h2 class="mt-0 blue">{{book.rs.prc.tot.val | numberWithSpaces}} {{book.rs.prc.tot.cur.sym}}</h2>
                        </div>
                        <button class="btn btn-main btn-main--blue mt-3 btn-price w-100" @click="getTicket">{{ $tc('pay') }}</button>

                    </div>

                </div>

            </div>
            <div class="d-flex flex-column text-center w-100">
                <h1 v-if="creatingTicket === 1" class="text-center">Выписка билета...</h1>
            </div>
            <div class="d-flex flex-column text-center w-100" v-if="creatingTicket === 3">
                <h1 class="py-5 text-danger text-center">Произошла ошибка, попробуйте еще раз ;(</h1>
                <a @click="goHome" class="d-block text-center display-2 clickable">На главную</a>
            </div>
            <div class="d-flex flex-column text-center w-100" v-if="creatingTicket === 2">
                <h1 class="py-5 text-success text-center">Билет успешно выписан!</h1>
                <a @click="goMytickets" class="d-block text-center display-2 clickable btn btn-main btn-main--blue text-white w-50 mx-auto">Перейти к билету</a>
            </div>
        </div>
        <FlightInfoModal mode="search" :key="$vnode.key + 'info'" :ticket="book.rs" ref="flightInfoModal" :comb="comb_id"/>
        <TariffModal :data="dataToPost" :search="search_id" :session="sess_id" :rules="rules" ref="tariffModal" :key="$vnode.key + 'tariff'"/>
    </div>
</template>

<script>
    import AviaTicket from '@/components/elements/ticket'
    import FlightInfoModal from '@/components/modals/FlightInfoModal'
    import TariffModal from '@/components/modals/TariffModal'
    import moment from "moment";

    export default {

        data () {
            return {
                creatingTicket: 0,
                create_ticket: {
                    "book_id": this.$store.state.requestData.book.rs.book.id
                },
                dataToPost: {
                    "fam_id": 0,
                    "ty": ""
                },
                rules: [],
                pnrType: this.$store.state.passengers.pnrObj,

            }
        },
        components: { AviaTicket, FlightInfoModal, TariffModal },
        computed: {
            book () { return this.$store.getters['requestData/getBook'] },
            //ticket () { return this.$store.getters['tickets/get_ticket'] },
            search_id() { return this.$store.state.requestData.hashCode },
            sess_id() { return this.$store.getters['requestData/getSessionId'] },
            status_direction () { return this.$store.getters['searchStatus/get_direction']; },
            seq_no() { return this.$store.getters['requestData/getSequenceNumber']},
            comb_id() { return this.$store.getters['requestData/getCombinationId']},
            gds() {return this.$store.state.tickets.ticket.gds},
            kiev(){ return moment(this.$store.getters['requestData/getBook'].rs.book.dt_lim).subtract(3, 'h')}
        },
        mounted() {
            moment.lang('ru');

        },
        methods: {
            moment: function () {
                return moment();
            },
            openModal(modal) {
                switch (modal) {
                    case 'anotherTimeModal':
                        this.$refs.anotherTimeModal.open();
                        break
                    case 'tariffModal':
                        if (this.status_direction.id == 2) {
                            this.getRules([this.comb_id[0], this.comb_id[1]]).then(rules => {
                                this.rules =rules
                            })

                        } else {
                            this.getRules([this.comb_id[0]]).then(rules => {
                                this.rules =rules
                            })

                        }
                        this.$refs.tariffModal.open();
                        break
                    case 'flightInfoModal':
                        this.$refs.flightInfoModal.open();
                        break
                }
            },
            async getRules() {
                this.dataToPost.sess_id = this.sess_id;
                this.dataToPost.search_id = this.search_id;
                this.dataToPost.gds = this.gds;
                this.dataToPost.rb_dsg_co = null;
                if (this.dataToPost.sess_id && this.dataToPost.search_id) {
                    if(this.gds === '27419') {
                        if (this.data.opts.length > 1) {
                            this.dataToPost.rb_dsg_co = [this.data.opts[0].rb_dsg_co, this.data.opts[1].rb_dsg_co];
                            this.dataToPost.ref_id = [this.data.opts[0].ref_id, this.data.opts[1].ref_id];
                            this.dataToPost.seq_no = null;
                            this.dataToPost.com_id = null;
                        }
                        if (this.data.opts.length === 1) {
                            this.dataToPost.rb_dsg_co = [this.data.opts[0].rb_dsg_co];
                            this.dataToPost.ref_id = [this.data.opts[0].ref_id];
                            this.dataToPost.seq_no = null;
                            this.dataToPost.com_id = null;
                        }
                    }
                    else {
                        this.dataToPost.seq_no = this.seq_no;
                        this.dataToPost.com_id = this.comb_id;
                    }
                    const rules = [];
                    for (let key in this.pnrType) {
                        if (this.pnrType[key] > 0) {
                            this.dataToPost.ty = key.toUpperCase()
                            try {
                                let responseData = await this.$store.dispatch('tickets/getRules', this.dataToPost);
                                responseData.rs.rles.forEach(item => rules.push(item))
                            } catch (errors) {
                                this.$notify({
                                    group: 'ticket',
                                    type: 'error',
                                    text: 'Произошла ошибка, попробуйте еще раз'
                                });
                            }
                        }
                    }
                    return rules
                }
            },

            goHome () {
                this.$router.push('/');
                this.$store.dispatch('loader/SET_LOADER', false);
            },
            goMytickets () {
                this.$router.push('/cabinet');
                this.$store.dispatch('loader/SET_LOADER', false);
            },
            async getTicket () {
                this.$store.dispatch('loader/SET_LOADER', true);
                this.creatingTicket = 1;
                try {
                    await this.$store.dispatch('tickets/payTicket', this.create_ticket);
                    this.creatingTicket = 2;
                } catch (e) {
                    this.creatingTicket = 3;
                }
                this.$store.dispatch('loader/SET_LOADER', false);
                // this.create_ticket.book_id = data.rs.book.id;
            },
            toggleInfo(id) {
                let more = document.getElementById(`${id}Div`);
                let arrow = document.getElementById(`${id}Img`);
                if (more.style.display === "block") {
                    more.style.display = "none";
                    arrow.classList.remove('rotate180')
                } else {
                    more.style.display = "block";
                    arrow.classList.add('rotate180')
                }
            }
        }

    }
</script>

<style scoped lang="scss">
    .grey{
        color: #B5B5B5;
        float: right;

    }
    .grey:hover {
        color: #4679BC;
        transition: .4s ease;
        font-size: 14px;
    }
    span, p {
        font-size: 14px;
    }
    p{
        color: #B5B5B5;
    }
    h2 {
        font-size: 48px;
        font-weight: bold;
        margin: 5px 0;
    }
    h5 {
        font-size: 14px;
        color: #B5B5B5;
        font-weight: 600;
        margin: 5px 0 0;
    }
    h6 {
        font-size: 24px;
        font-weight: bold;
    }
    .yellow {
        color: #aac109;
    }
    .dropdown-passengers {
        color: #4679BC;
        font-size: 14px;
    }

    .avia-ticket {
        padding: 32px;
        min-height: auto;
    }
    p, h3, h4 {
        font-family: Roboto;
    }
    h4 {
        font-size: 1.5rem;
    }
    .pnr {
        width: 100%;
        margin-top: 24px;
        border-top: 1px solid #D3D3D3;
        display: none;
    }

    .passengers {
        display: flex;
        justify-content: space-between;
        min-width: 50px;
        width: 100%;
        margin-top: 10px;
    }
    .colm {
        .header {
            color: #9eacc4;
            padding-bottom: 10px;
        }
        .rows {
            color: #434343;
            padding: 10px 0;
        }

        .yellow {
            color: #aac109;
        }
    }

    .for-payment {
        padding-bottom: 4px;

        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        p {
            margin-bottom: 12px;
            font-size: 16px;
        }

        .b-text {
            font-weight: 500;
        }
    }

    .pay {
        padding-top: 16px;
        border-top: 1px solid #e0e7f4;

        .price {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        p {
            margin-bottom: 16px;
            font-size: 16px;
        }

        .b-text {
            font-weight: 500;
        }

        .btn-main {
            margin: 0 !important;
            width: 100%;
        }
    }

    .more {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 24px;

        h4 {
            margin: 0;
        }
    }

    .more-pnr {
        margin-bottom: 0;
    }

    .rotate180{
        transform: rotate(180deg);
    }

    .arrow-img {
        width: 12px;
        height: 12px;
        transition: .2s ease all;
        margin-left: 8px;
    }

    .for-pay {
        padding: 24px;
    }
    .for-pay-more {
        margin-bottom: 16px;
    }
    @media (max-width: 760px) {
        .book-mobile{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 5px 0;
        }
        .book-mobile h4 {
            text-align: right;
            font-size: 17px;
            padding-left: 50px;
        }
        span, p, h5 {
            font-size: 12px;
        }
        h2, h6 {
            font-size: 24px;
        }
        .avia-ticket{
            padding: 20px;
        }
        .text-center img{
            transform: scale(1.7);
        }
        .passengers p {
            font-size: 10px;
        }
        h2{
            margin-top: 30px;
        }

    }
</style>
