<template>
    <div class="container page">
        <notifications group="error" />
        <div v-if="loader">
            <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
        </div>
        <div v-else class="row">
            <div class="col-md-12" v-if="!editPage">
                <h2 class="mb-3">Список пассажиров</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">№ Документа</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr v-for="(ticket, index) in tickets" :key="index">
                        <th scope="row">{{index + 1}}</th>
                        <td>{{ticket.surname}}</td>
                        <td>{{ticket.name}}</td>
                        <td>{{ticket.document_id}}</td>
                        <td><i @click="edit(ticket.id)" class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                        <td><i @click="remove(ticket.id)" class="fa fa-trash-o" aria-hidden="true"></i></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-12 text-center text-md-left" v-if="editPage">
                <p style="cursor: pointer" class="mt-5 mt-md-0"><a @click="editPage = false"><i class="fa fa-chevron-left" aria-hidden="true"></i> Назад</a></p> <br>

                <div class="row">
                    <div class="col-md-3">
                        <p class="input-title">Имя</p>
                        <input type="text" v-model="pnr.name">
                    </div>
                    <div class="col-md-3">
                        <p class="input-title">Фамилия</p>
                        <input type="text" v-model="pnr.surname">
                    </div>
                    <div class="col-md-3">
                        <p class="input-title">Дата Рождения</p>
                        <input type="text" v-model="pnr.dob">
                    </div>
                    <div class="col-md-3">
                        <p class="input-title">№ Документа</p>
                        <input type="text" v-model="pnr.document_id">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <p class="input-title">Тип Документа</p>
                        <input type="text" v-model="pnr.document_type">
                    </div>
                    <div class="col-md-3">
                        <p class="input-title">Срок Документа</p>
                        <input type="text" v-model="pnr.document_expire_date">
                    </div>
                    <div class="col-md-3">
                        <p class="input-title">Граждантсво</p>
                        <input type="text" v-model="pnr.citizen">
                    </div>
                    <div class="col-md-3">
                        <p class="input-title">Пол</p>
                        <input type="text" v-model="pnr.sex">
                    </div>
                </div>
<!--                <p>code</p>-->
<!--                <input type="text" v-model="pnr.code">-->
<!--                <p>description</p>-->
<!--                <input type="text" v-model="pnr.description">-->
                <div class="text-center mt-5">
                    <button class="btn btn-main btn-main--blue" @click="save">Сохранить</button>
                </div>
            </div>
        </div>
        <SuccessModal ref="successModal"></SuccessModal>
    </div>
</template>
<script>
    import moment from 'moment'
    import SuccessModal from '@/components/modals/Success'

    export default {

        name: 'Cabinet',
        data() {
            return {
                editPage: false,
                pnr: {
                    "code": "",
                    "sex": "",
                    "citizen": "",
                    "dob": "",
                    "name": "",
                    "surname": "",
                    "document_id": "",
                    "document_type": "",
                    "document_expire_date": "",
                    "description": ""
                },
                isLogoutActive: false,
                limit: '',
                id: null
            }
        },
        components: {
            SuccessModal
        },
        computed: {
            loader () {
                return this.$store.getters['loader/getLoader']
            },
            account() {
                return this.$store.getters['cabinet/getAccount']
            },
            tickets() {
                return this.$store.getters['myPassengers/getAllPassengers']
            },
        },
        mounted () {
            this.getTickets();
            moment.lang('ru');
        },
        methods: {
            async save() {
                this.$store.dispatch('loader/SET_LOADER', true, {root: true});
                try {
                    const resData = await this.$store.dispatch('myPassengers/updatePassenger', this.pnr);

                    this.$store.dispatch('loader/SET_LOADER', false);
                    // this.rows = resData.rs.max_pages;
                } catch (e) {
                    this.$store.dispatch('loader/SET_LOADER', false);
                    //   this.$notify({
                    //     group: 'error',
                    //     type: 'warn',
                    //     duration: 5000,
                    //     title: e.response.data.rs.type,
                    //     text: e.response.data.rs.msg
                    // });
                    this.$notify({
                        group: 'error',
                        type: 'error',
                        text: 'Произошла ошибка, попробуйте еще раз'
                    });
                }
                this.editPage = false;
                this.getTickets();

            },
            async remove(id) {
                this.$store.dispatch('loader/SET_LOADER', true, {root: true});
                try {
                    const resData = await this.$store.dispatch('myPassengers/deletePassenger', id);
                    this.$store.dispatch('loader/SET_LOADER', false);
                    // this.rows = resData.rs.max_pages;
                } catch (e) {
                    this.$store.dispatch('loader/SET_LOADER', false);
                    //   this.$notify({
                    //     group: 'error',
                    //     type: 'warn',
                    //     duration: 5000,
                    //     title: e.response.data.rs.type,
                    //     text: e.response.data.rs.msg
                    // });
                    this.$notify({
                        group: 'error',
                        type: 'error',
                        text: 'Произошла ошибка, попробуйте еще раз'
                    });
                }
                this.getTickets();
            },
            edit(id) {
                this.id = id;
                this.editPage = true;
                for (let i=0; i<this.tickets.length; i++) {
                    if (this.tickets[i].id === id) {
                        this.pnr.id = id;
                        this.pnr.name = this.tickets[i].name;
                        this.pnr.surname = this.tickets[i].surname;
                        this.pnr.sex = this.tickets[i].sex;
                        this.pnr.citizen = this.tickets[i].citizen;
                        this.pnr.code = this.tickets[i].code;
                        this.pnr.dob = this.tickets[i].dob;
                        this.pnr.document_id = this.tickets[i].document_id;
                        this.pnr.document_type = this.tickets[i].document_type;
                        this.pnr.document_expire_date = this.tickets[i].document_expire_date;
                        this.pnr.description = this.tickets[i].description;
                    }
                }
            },
            openSuc() {
                this.$refs.successModal.open();
            },
            goHome () {
                this.$router.push('/');
                this.$store.dispatch('loader/SET_LOADER', false);
            },
            async getTickets(currentPage) {
                this.$store.dispatch('loader/SET_LOADER', true, {root: true});
                try {
                    const resData = await this.$store.dispatch('myPassengers/getPassengers');
                    this.$store.dispatch('loader/SET_LOADER', false);
                } catch (e) {
                    this.$store.dispatch('loader/SET_LOADER', false);
                    //   this.$notify({
                    //     group: 'error',
                    //     type: 'warn',
                    //     duration: 5000,
                    //     title: e.response.data.rs.type,
                    //     text: e.response.data.rs.msg
                    // });
                    this.$notify({
                        group: 'error',
                        type: 'error',
                        text: 'Произошла ошибка, попробуйте еще раз'
                    });
                }
                this.editPage = false;

            },
            logout() {
                localStorage.removeItem('Token');
                this.$store.dispatch('cabinet/setAuthToken', null);
                this.$router.push('/login');
            },
            getLimitCounter(index) {
                setTimeout(() => {
                    let dt_lim = this.tickets.rs[index].dt_lim;
                    let eventTime= new Date(dt_lim);
                    let currentTime = new Date();
                    let diffTime = eventTime - currentTime;
                    let duration = moment.duration(diffTime*1000, 'milliseconds');
                    let interval = 1000;
                    let res = ''

                    setInterval(function(){
                        duration = moment.duration(duration - interval, 'milliseconds');
                        this.limit = duration.hours() + ":" + duration.minutes() + ":" + duration.seconds()
                        console.log(duration.hours() + ":" + duration.minutes() + ":" + duration.seconds())
                    }, interval);
                    return res
                }, 500)
            },
        }
    }
</script>
<style lang="scss" scoped>
    .input-title {
        font-size: 12px;
    }
    .fa {
        cursor: pointer;
    }
    .passengers {
        display: flex;
        justify-content: space-between;
        min-width: 50px;
        width: 100%;
        margin-top: 10px;
    }
    .pnr {
        border-top: 1px solid #e0e7f4;
        margin-top: 10px;
        display: none;
    }
    .colm {
        .header {
            color: #9eacc4;
            padding-bottom: 10px;
        }
        .rows {
            color: #434343;
            padding: 10px 0;
        }

        .yellow {
            color: #aac109;
        }
    }
    .more-pnr h4{
        font-size: 14px;
    }
    .grey {
        color: #9eacc4;
    }
    .ticket-card {
        width: 100%;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px 0 rgba(158, 172, 196, 0.15);
        padding: 0 20px 20px 20px;

        .card-text {
            span {
                color: #9eacc4;
                display: block;
                font-size: 14px;
                margin-bottom: 3px;
            }

            p {
                font-size: 15px;
                color: #343434;
            }

            .time {
                font-size: 18px;
            }
        }
    }
    p {
        margin: 0;
    }

    .ticket-header {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #e0e7f4;

        .airline {
            display: flex;
            align-items: center;
            img {
                margin-right: 8px;
            }

            p {
                font-size: 14px;
                color: #343434;
            }
        }
    }

    .status {
        display: flex;
        align-items: center;

        .status-color {
            width: 17px;
            height: 17px;
            background-color: #ffaa46;
            margin-right: 7px;
            border-radius: 50%;
        }
        .red-color {
            background-color: #ff5a5a;
        }

        .green-color {
            background-color: #2ecc71;
        }
        p {
            color: #343434;
            font-size: 14px;
        }
    }


    .ticket-fields, .ticket-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .ticket-fields-row {
        padding: 20px 0 15px 0;
    }

    .warn {
        border-radius: 7px;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        background-color: #ff981f;
        padding: 10px 37px;
        display: flex;
        flex-direction: column;
        outline: none;
        border: 0;

        &:focus {
            transform: scale(1);
        }

        span {
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            padding: 1px 0;
        }
    }

    .ticket-buttons {
        padding-top: 20px;
    }

    .limit {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        margin-right: 10px;
        p {
            font-size: 14px;
            color: white;
            font-weight: bold;
        }

        .limit-value {
            font-size: 13px;
            background: #ffaa46;
            padding: 5px 10px;
            border-radius: 50px;
        }
    }

    .right-side {
        display: flex;
        align-items: center;
        span {
            padding-right: 6px;
        }

        a {
            color: #4b77be;
            font-size: 14px;
        }

        .conditions {
            padding-top: 8px;
            cursor: pointer;
            color: #4b77be;
            font-size: 14px;
            display: flex;
            align-items: center;

            img {
                margin-left: 6px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    .download-btn {
        border-radius: 7px;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        background-color: #4b77be !important;
        padding: 10px 23px;
        outline: none !important;
        border: 0 !important;
        display: flex;
        color: #ffffff;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        height: 40px;

        &:focus {
            outline: none;
            border: 0;
            box-shadow: none !important;
        }
    }

    .more-settings {
        border-top: solid 1px #e0e7f4;
        padding-top: 15px;
        margin-top: 15px;
        transition: .2s ease all;

        .more-settings-items {
            display: flex;
            align-items: center;
        }
        .divider {
            width: 1px;
            height: 20px;
            background-color: #e0e7f4;
            margin: 0 19px;
        }

        .title {
            font-weight: 500;
            padding-bottom: 9px;
        }

        .cancel-ticket {
            color: #ff5a5a;
        }

        a {
            font-size: 14px;
            color: #4b77be;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .more-info {
        border-top: solid 1px #e0e7f4;
        padding-top: 15px;
        margin-top: 15px;
        transition: .2s ease all;
        display: none;

        .ticket-fields {
            padding: 9px 0;
        }

        .title {
            font-weight: 500;
            padding-bottom: 9px;
        }

        .download-btn {
            margin-left: 0;
            padding: 7px 16px;

            img {
                margin-right: 7px;
            }
        }
    }

    .pnr-info {
        border-top: 1px solid #DFE0E0;
        border-bottom: 1px solid #DFE0E0;
        padding-top: 20px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;

        span {
            margin-bottom: 15px;
        }

        p {
            font-weight: unset;
            margin-bottom: 15px;
        }
    }

    .pnr-extra {
        display: flex;
        padding-top: 20px;
        width: 50%;
        justify-content: space-between;

        p {
            font-weight: unset;
        }
    }

    .list-group-item {
        cursor: pointer;
    }

    .yellow {
        color: #cddc39 !important;
    }

    .rotate180{
        transform: rotate(180deg);
    }

    .arrow-img {
        transition: .2s ease all;
        margin-left: 10px;
    }

    .dropdown-toggle:after {
        display: none;
    }

    .list-group-item {
        height: 46px;
    }



    .list-group-item.active {
        background: #418ad4;
        border-color: #418ad4;
    }

    .dot-loader {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

    @media (max-width: 750px) {
        table th, td {
            font-size: 11px;
        }
        .more-info{
            padding-top: 0;
        }
        .more-pnr{
            h4 {
                font-size: 10px;
            }
        }
        .warn{
            span {
                font-size: 10px;
            }
        }
        .more-settings{
            .more-settings-items{
                flex-wrap: wrap;
            }
            a {
                font-size: 12px;
            }
            .divider{
                margin: 0 8px;
            }
            .btn {
                margin-top: 10px;
                width: 100%;
                height: 40px;
            }
        }
        .card-text{
            padding: 5px;
        }
        .status{
            .status-color {
                width: 13px;
                height: 11px;
            }
        }
        .limit{
            padding-left: 10px;
            .limit-value{
                font-size: 10px;
                text-align: center;
            }
        }
        .list-group-item:first-child {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        .list-group-item:last-child {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
        .form-control {
            font-size: 11px;
        }
        .btn {
            font-size: 12px;
            justify-content: center;
        }
        .ticket-buttons {
            flex-wrap: wrap;
            .card-text {
                span {
                    font-size: 11px;
                }
                p {
                    font-size: 14px;
                }
            }
            .right-side {
                .download-btn {
                    margin-left: 18px;
                }
                .limit {
                    padding-left: 18px;
                }
                .conditions {
                    font-size: 12px;
                }
            }
        }
        .ticket-header {
            justify-content: space-between;
            display: flex;
            p, .airline p {
                font-size: 11px;
                text-align: center;
            }

        }
        .ticket-fields {
            flex-wrap: wrap;
            justify-content: flex-start;
            .card-text {
                margin: 5px;
                width: 45%;
                span {
                    font-size: 11px;
                }
                p, .time {
                    font-size: 15px;
                }
            }
            .download-btn {
                margin: auto;
            }
            .warn {
                display: block;
                padding: 12px;
                span {
                    font-size: 11px;
                }
            }
        }
        .list-group {
            flex-direction: row;
            margin: 10px 0;
            .list-group-item {
                width: 100%;
                text-align: center;
                font-size: 13px;
            }
        }

        .dot-loader {
            left: 45%;
        }

    }


</style>
