<template>
    <div class="rules">
        <div v-if="loader && !showRules">
            <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
        </div>
        <div v-if="!loader && showRules">
            <div id="google_translate_element"></div>
            <div :key="index" v-for="(ticket, index) in showRules">
                    <div :key="name" v-for="(value, name) in ticket">
                            <h3>{{name}}</h3>
                            <p class="text">{{value | rulesFormat()}}</p>
                    </div>


<!--                <div :key="name" v-for="(value, name) in ticket">-->
<!--                    <h5>{{ name | titleFormat() }}</h5>-->
<!--                    <p class="text">{{ value | rulesFormat() }}</p>-->
<!--                    <br>-->
<!--                </div>-->
            </div>
        </div>
        <div v-if="!loader && !ruleData">
            <h1>Sorry no rules</h1>
        </div>
    </div>
</template>

<script>
    export default {


        data() {
            return {
                ruleId: {},
                ruleData: {},
                dataToPost: {

                },
                pnrType: this.$store.state.passengers.pnrObj,
                showRules: null,
            }
        },
        asyncData () {
            return new Promise((resolve) => {
                setTimeout(function () {
                    resolve({})
                }, 2000)
            })
        },
        layout: 'rule',
        created() {
            this.$store.dispatch('cabinet/loadAccount');
        },
        computed: {
            account() {
                return this.$store.getters['cabinet/getAccount']
            },
            loader () {
                return this.$store.getters['loader/getLoader']
            },
            tickets() {
                return this.$store.getters['cabinet/getTickets']
            },
        },
        mounted() {
            this.takeRuleIdFromParams();
            this.getRules();
        },
        methods: {
            async getRules(combination) {
                this.dataToPost.sess_id = this.ruleData.sess_id;
                this.dataToPost.search_id = this.ruleData.search_id;
                this.dataToPost.gds = this.ruleData.gds;
                this.dataToPost.seq_no = this.ruleData.seq_no;
                this.dataToPost.com_id = this.ruleData.com_id;
                this.dataToPost.fam_id = this.ruleData.fam_id;
                this.dataToPost.ty = this.ruleData.ty;

                if (this.ruleData.sess_id && this.ruleData.search_id) {
                    if(this.ruleData.gds !== '07419') {
                            this.dataToPost.search_hash = this.ruleData.search_hash;
                            this.dataToPost.seq_no = null;
                            this.dataToPost.com_id = null;
                    }
                    const rules = [];
                    for (let key in this.pnrType) {
                        if (this.pnrType[key] > 0) {
                            this.dataToPost.ty = key.toUpperCase()
                            try {
                                let responseData = await this.$store.dispatch('tickets/getRules', this.dataToPost);
                                responseData.rs.rles.forEach(item => rules.push(item))
                            } catch (errors) {
                                if (typeof errors.response.data === 'object') {
                                    this.$notify({
                                        group: 'ticket',
                                        type: 'warn',
                                        duration: 5000,
                                        title: errors.response.data.rs.type,
                                        text: errors.response.data.rs.msg
                                    });
                                } else {
                                    this.$notify({
                                        group: 'ticket',
                                        type: 'error',
                                        text: 'Произошла ошибка, попробуйте еще раз'
                                    });
                                }
                            }
                        }
                    }
                    this.googleTranslateElementInit();

                    this.showRules = rules;
                    return rules;
                }
            },

            googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            },
            takeRuleIdFromParams() {
                var params = location.href.split('?')[1].split('&');
                let data = {};
                for (let x in params)
                {
                    data[params[x].split('=')[0]] = params[x].split('=')[1];
                }
                this.ruleData = data;
            },
            open() {
                this.$bvModal.show('tariffModal' + this.$vnode.key)
            },
            // googleTranslateElementInit() {
            //     new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            // },
            // async getTickets() {
            //     this.$store.dispatch('loader/SET_LOADER', true, {root: true});
            //     try {
            //         await this.$store.dispatch('cabinet/loadTickets', {client_id: this.account.partner.id})
            //         this.$store.dispatch('loader/SET_LOADER', false);
            //         this.takeRuleIdFromParams();
            //         this.googleTranslateElementInit();
            //     } catch (e) {
            //         this.$store.dispatch('loader/SET_LOADER', false);
            //         //   this.$notify({
            //         //     group: 'error',
            //         //     type: 'warn',
            //         //     duration: 5000,
            //         //     title: e.response.data.rs.type,
            //         //     text: e.response.data.rs.msg
            //         // });
            //         this.$notify({
            //             group: 'error',
            //             type: 'error',
            //             text: 'Произошла ошибка, попробуйте еще раз'
            //         });
            //     }
            // },
        },
    }

</script>
<style>
    .text {
        white-space: pre-wrap;
    }
    .rules {
        padding: 25px;
    }
    @media (max-width: 750px) {
        .text{
            font-size: 10px;
        }
        h5 {
            font-size: 16px;
        }
    }
</style>
