<template>
    <div class="rules">
        <div v-if="loader && !tickets">
            <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
        </div>
        <div v-if="!loader && tickets">
            <div id="google_translate_element"></div>
            <div :key="index" v-for="(ticket, index) in tickets">
                <div v-if="ticket.book_id === ruleId">
                    <div :key="i" v-for="(rules, i) in ticket.rles">
                        <div :key="name" v-for="(value, name) in rules">
                            <h3>{{name}}</h3>
                            <p class="text">{{value | rulesFormat()}}</p>
                        </div>
                    </div>
                </div>


<!--                <div :key="name" v-for="(value, name) in ticket">-->
<!--                    <h5>{{ name | titleFormat() }}</h5>-->
<!--                    <p class="text">{{ value | rulesFormat() }}</p>-->
<!--                    <br>-->
<!--                </div>-->
            </div>
        </div>
        <div v-if="!loader && !tickets">
            <h1>Sorry no rules</h1>
        </div>
    </div>
</template>

<script>
    export default {


        data() {
            return {
                ruleId: {},
                currentPage: null,
            }
        },
        asyncData () {
            return new Promise((resolve) => {
                setTimeout(function () {
                    resolve({})
                }, 2000)
            })
        },
        layout: 'rule',
        created() {
            this.$store.dispatch('cabinet/loadAccount');
        },
        computed: {
            account() {
                return this.$store.getters['cabinet/getAccount']
            },
            loader () {
                return this.$store.getters['loader/getLoader']
            },
            tickets() {
                return this.$store.getters['cabinet/getTickets']
            },
        },
        mounted() {
            this.getTickets();

        },
        methods: {
            googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            },
            takeRuleIdFromParams() {
                var params = location.href.split('?')[1].split('&');
                let data = {};
                for (let x in params)
                {
                    data[params[x].split('=')[0]] = params[x].split('=')[1];
                }
                this.ruleId = data.ruleId;
                this.currentPage = data.currentPage;

            },
            open() {
                this.$bvModal.show('tariffModal' + this.$vnode.key)
            },
            // googleTranslateElementInit() {
            //     new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            // },
            async getTickets() {
                this.$store.dispatch('loader/SET_LOADER', true, {root: true});
                try {
                    await this.$store.dispatch('cabinet/loadTickets', {pageNumber: 1})
                    this.$store.dispatch('loader/SET_LOADER', false);
                    this.takeRuleIdFromParams();
                    this.googleTranslateElementInit();
                } catch (e) {
                    this.$store.dispatch('loader/SET_LOADER', false);
                    //   this.$notify({
                    //     group: 'error',
                    //     type: 'warn',
                    //     duration: 5000,
                    //     title: e.response.data.rs.type,
                    //     text: e.response.data.rs.msg
                    // });
                    this.$notify({
                        group: 'error',
                        type: 'error',
                        text: 'Произошла ошибка, попробуйте еще раз'
                    });
                }
            },
        },
    }

</script>
<style>
    .text {
        white-space: pre-wrap;
    }
    .rules {
        padding: 25px;
    }
    @media (max-width: 750px) {
        .text{
            font-size: 10px;
        }
        h5 {
            font-size: 16px;
        }
    }
</style>
