<template>
    <div>
        <client-only>
            <notifications group="foo" />
        </client-only>
        <div class="mobile-widget" v-show="showMobileWidget">
            <MobileSearch :data="getTicketsBody"></MobileSearch>
        </div>
        <div v-show="showWidget" class="widget">
            <div class="container">
                <h5 class="search-title d-md-none d-lg-none">Поиск Авиабилетов</h5>
                <div class="row">
                    <div class="widget__search col-lg-12">
                        <div class="d-flex fields-row">
                            <div class="element__search" id="search-dep" ref="box-dep">
                                <input v-model="cityDepBody.co"
                                       type="text"
                                       class="input-dep"
                                       @blur="onBlur('dep', $event)"
                                       @click="onFocus('dep', $event)"
                                       @keydown="onDown('dep')"
                                       @keyup="onUp('dep')"
                                       required
                                       :placeholder=" $tc('widget.from', 2) "
                                       :class="{'is-error': $v.cityDepBody.co.$error}">
                                <div class="err-place d-none d-md-block" v-if="$v.cityDepBody.co.$error">
                                    <img src="../assets/red-top-arrow.svg" alt="">
                                    <p>Заполните Поле</p>
                                </div>
                                <div class="dev-spinner">
                                    <div class="spinner" v-if="depLoader"></div>
                                </div>
                                <img src="../assets/loader-x.svg" @click="clearCities('dep')" class="loader-x loader-x-dep" alt="" v-if="cityDepBody.co && depWriting">
                                <ul class="list" v-if="cityDepList && cityDepList.length">
                                    <li v-for="(item, i) in cityDepList" :key="i">
                                        <a class="city" v-if="item.hasOwnProperty('cty')"
                                           @click="setDepCity(item.cty.nm, item.cty.co)">
                                            <img src="../assets/location.svg" alt="">{{item.cty.nm}}<span> {{item.cty.co}} </span>
                                        </a>
                                        <a class="code" v-if="item.hasOwnProperty('ap') && item.ap.length > 1"
                                           v-for="(ap, i) in item.ap" :key="i"
                                           @click="setDepCity(item.cty.nm + ', ' + item.ap[i].nm, item.ap[i].co)">
                                            <img src="../assets/liner.svg" alt="">{{ap.nm}} <span class="airport">, {{ $tc('airport') }} </span><span>{{ap.co}}</span>
                                        </a>
                                    </li>
                                </ul>
                                <img src="../assets/arrow-circle.svg" class="d-none d-md-block widget__search__swap-btn" @click="swapCities">
                                <img src="../assets/switch-cities.svg" class="widget__search__swap-btn d-md-none" @click="swapCities">
                            </div>
                            <div class="element__search" id="search-arr" ref="box-arr">
                                <input v-model="cityArrBody.co"
                                       autocomplete="off"
                                       type="text"
                                       class="input-arr"
                                       id="arr-city"
                                       @blur="onBlur('arr', $event)"
                                       @click="onFocus('arr', $event)"
                                       @keydown="onDown('arr')"
                                       @keyup="onUp('arr')"
                                       required
                                       :placeholder=" $tc('widget.to', 2) "
                                       :class="{'is-error': $v.cityArrBody.co.$error}">
                                <div class="err-place d-none d-md-block" v-if="$v.cityArrBody.co.$error">
                                    <img src="../assets/red-top-arrow.svg" alt="">
                                    <p>Заполните Поле</p>
                                </div>
                                <div class="err-place arr-error d-none d-md-block" v-if="arrCityError">
                                    <img src="../assets/red-top-arrow.svg" alt="">
                                    <p>Выберите другое значение</p>
                                </div>
                                <div class="arr-spinner">
                                    <div class="spinner" v-if="arrLoader"></div>
                                </div>
                                <img src="../assets/loader-x.svg" class="loader-x" alt="" v-if="cityArrBody.co && arrWriting" @click="clearCities('arr')">
                                <ul class="list" v-if="cityArrList && cityArrList.length">
                                    <li v-for="(item, i) in cityArrList" :key="i">
                                        <a class="city" v-if="item.hasOwnProperty('cty')"
                                           @click="setArrCity(item.cty.nm, item.cty.co)">
                                            <img src="../assets/location.svg" alt="">{{item.cty.nm}}<span> {{item.cty.co}} </span></a>
                                        <a class="code" v-if="item.hasOwnProperty('ap')  && item.ap.length > 1"
                                           v-for="(ap, i) in item.ap" :key="i"
                                           @click="setArrCity(item.cty.nm + ', ' + item.ap[i].nm, item.ap[i].co)"><img src="../assets/liner.svg" alt="">{{ap.nm}} <span class="airport">, {{ $tc('airport') }} </span><span>{{ap.co}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <calendar ref="calendar" :mode="mode" @dateOneSelected="onDateDep" @dateTwoSelected="onDateArr"></calendar>

                            <div class="element__class">
                                <DropdownPassengers/>
                            </div>
                            <div class="element__button">
                                <button class="find-tickets" @click="getTickets">{{ $tc('find_tickets') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ExpiredTimeModal ref="expiredModal" :title="'expired_time'" :doRefresh="true"  @refresh="getTickets()"/>
    </div>
</template>

<script>
    import DropdownPassengers from '@/components/dropdowns/DropdownPassengers'
    import DropdownAvialines from '@/components/dropdowns/DropdownAvialines'
    import DropdownOtherFilters from '@/components/dropdowns/DropdownOtherFilters'
    import ExpiredTimeModal from '@/components/modals/ExpiredTimeModal'
    import MobileSearch from '@/components/elements/MobileSearch'
    import calendar from '@/components/partials/calendar'
    import { required } from 'vuelidate/lib/validators'
    export default {
        name: "Widget",
        props: ['is_main'],
        components: { DropdownPassengers, DropdownAvialines, DropdownOtherFilters, ExpiredTimeModal, MobileSearch, calendar },
        data () {
            return {
                cityDepBody: {
                    ty: 'full',
                    co: null,
                    code: null
                },
                cityArrBody: {
                    ty: 'full',
                    co: null,
                    code: null
                },
                depWriting: false,
                arrWriting: false,
                depLoader: false,
                arrLoader: false,
                cityDepList: null,
                cityArrList: null,
                getTicketsBody: {
                    "sess_id": "",
                    "trf": "",
                    "flts": [
                        {
                            "dt": this.$store.state.city.dateDep,
                            "frm": this.$store.state.city.departureCode,
                            "to": this.$store.state.city.arrivalCode
                        }
                    ],
                    pnrs: this.$store.state.passengers.passengers
                },
                arrCityError: false
            }
        },
        validations: {
            cityDepBody: {
                co: {
                    required
                }
            },
            cityArrBody: {
                co: {
                    required
                }
            }
        },

        watch: {
            status_direction () {
                this.setDirections();
            },
            flightClass() {
                this.setFlightClass()
            },
            cityDepBody (value) {
                if (value.co >= 3) {
                    this.onUp('dep');
                }
            },
            cityArrBody (value) {
                if (value.co >= 3) {
                    this.onUp('arr');
                }
            }
        },

        created () {
            if (this.flightClass.id ==  1) {
                this.getTicketsBody.trf = "Economy"
            } else {
                this.getTicketsBody.trf = "Business"
            }
        },

        computed : {
            status_direction () { return this.$store.getters['searchStatus/get_direction']; },
            flightClass () { return this.$store.getters['searchStatus/get_flyClass'] },
            showWidget() { return !this.isMobile() || (this.isMobile() && (this.$route.name === 'index')) },
            showMobileWidget() { return this.isMobile() && (this.$route.name !== 'index') },
            mode() {if (this.status_direction.id && this.status_direction.id === 2) {
                return 'range'
            } else {
                return 'single'
            }},
        },

        mounted () {
            this.cityDepBody.co = this.$store.state.city.departureCity;
            this.cityDepBody.code = this.$store.state.city.departureCode;
            this.cityArrBody.co = this.$store.state.city.arrivalCity;
            this.cityArrBody.code = this.$store.state.city.arrivalCode;
            this.setDirections();
        },

        methods: {
            swapCities () {
                let depCode = this.getTicketsBody.flts[0].frm;
                let arrCode = this.getTicketsBody.flts[0].to;
                let depName = this.cityDepBody.co;
                let arrName = this.cityArrBody.co;
                this.setDepCity(arrName, arrCode);
                this.setArrCity(depName, depCode);
            },
            setDirections () {
                if (this.status_direction.id === 2) {
                    const dt = this.$store.getters['city/getDateArr'];
                    const to = this.$store.getters['city/getDepCode'];
                    const frm = this.$store.getters['city/getArrCode'];
                    if (this.getTicketsBody.flts.length === 1) {
                        this.getTicketsBody.flts.push({
                            "dt": dt,
                            "to": to,
                            "frm": frm
                        });
                    }

                } else {
                    if (this.getTicketsBody.flts.length === 2) {
                        this.getTicketsBody.flts.pop()
                    }
                }
            },
            onDateDep (data) {
                this.getTicketsBody.flts[0].dt = data.date;
                this.$store.dispatch('city/SET_DEP_DATE', data.date);
                if (data.date > this.$store.state.city.dateArr) {
                    this.$store.dispatch('city/SET_ARR_DATE', data.date);
                    if (this.status_direction.id === 2) {
                        this.getTicketsBody.flts[1].dt = data.date;
                    }
                }
            },
            onDateArr (data) {
                this.setDirections();
                if (this.getTicketsBody.flts.length > 1) {
                    this.getTicketsBody.flts[1].dt = data.date;
                    this.$store.dispatch('city/SET_ARR_DATE', data.date);
                    if (data.date < this.$store.state.city.dateDep) {
                        this.$store.dispatch('city/SET_DEP_DATE', data.date);
                        this.getTicketsBody.flts[0].dt = data.date;
                    }
                }
            },
            setDirection (id) {
                this.$store.dispatch('searchStatus/SET_DIRECTION', { id: id});
            },
            setFlightClass () {
                if (this.flightClass.id === 1) {
                    this.getTicketsBody.trf = 'Economy'
                } else {
                    this.getTicketsBody.trf = 'Business'
                }
            },

            onBlur(name, event) {
                event.target.classList.remove('active');
                if (name === 'dep') {
                    setTimeout((() => {
                        document.getElementById('search-dep').classList.remove('active');
                        this.cityDepList = null;
                        this.depWriting = false;
                    }), 300)
                } else {
                    setTimeout((() => {
                        this.cityArrList = null;
                        this.arrCityError = false;
                        document.getElementById('arr-city').classList.remove('is-error');
                        document.getElementById('search-arr').classList.remove('active');
                        if (this.cityDepBody.code === this.cityArrBody.code){
                            document.getElementById('arr-city').classList.add('is-error');
                            this.arrCityError = true;
                            this.cityArrBody.co = null;
                        }
                        this.arrWriting = false;
                    }), 300)
                }
            },
            onFocus(name, event) {
                this.clearCities(name);
                event.target.classList.add('active')
            },
            onDown(name) {
                if (name == 'dep') {
                    this.depWriting = true;
                    document.getElementById('search-dep').classList.add('active');
                } else {
                    this.arrWriting = true;
                    document.getElementById('search-arr').classList.add('active');
                }
            },
            async onUp(name) {
                if (name == 'dep') {
                    if (this.cityDepBody.co && this.cityDepBody.co.length > 2) {
                        this.getDepCity();
                    }
                } else {
                    if (this.cityArrBody.co && this.cityArrBody.co.length > 2) {
                        this.getArrCity();
                    }
                }
            },
            getTickets () {
                this.$v.$touch();
                this.getTicketsBody.pnrs = this.$store.getters['passengers/getPassengersForRequest'];
                this.$store.dispatch('city/SET_DEP_CODE', this.getTicketsBody.flts[0].frm);
                this.$store.dispatch('city/SET_DEP_CITY', this.cityDepBody.co);
                this.$store.dispatch('city/SET_ARR_CODE', this.getTicketsBody.flts[0].to);
                this.$store.dispatch('city/SET_ARR_CITY', this.cityArrBody.co);

                const adt = this.$store.state.passengers.passengers[0].qt;
                const chd = this.$store.state.passengers.passengers[1].qt;
                const inf = this.$store.state.passengers.passengers[2].qt;

                let searchParams = this.getTicketsBody.flts[0].frm + this.getTicketsBody.flts[0].dt.replace(/-/g, "") + this.getTicketsBody.flts[0].to

                if (this.status_direction.id === 2) {
                    this.getTicketsBody.flts[1].to = this.$store.getters['city/getDepCode'];
                    this.getTicketsBody.flts[1].frm = this.$store.getters['city/getArrCode'];
                    searchParams += this.getTicketsBody.flts[1].dt.replace(/-/g, "")
                }
                searchParams += 'ADT' + adt
                if (chd > 0) {
                    searchParams += 'CHD' + chd
                }
                if (inf > 0) {
                    searchParams += 'INF' + inf
                }
                searchParams += `-trf=${this.getTicketsBody.trf}`
                this.$store.dispatch('tickets/SET_SEARCH_FLIGHT_BODY', null);
                this.$store.dispatch('requestData/SET_SESSION_ID', null);
                this.$store.dispatch('requestData/SET_HASH_CODE', null);
                if (this.getTicketsBody.flts[0].frm && this.getTicketsBody.flts[0].to && this.getTicketsBody.flts[0].frm !== this.getTicketsBody.flts[0].to) {
                    this.$store.dispatch('searchStatus/setSearchRequest', this.getTicketsBody);
                    this.$router.push({ path: `/results/${searchParams}` });
                    this.$eventBus.$emit('doSearch')
                }
            },

            async getDepCity () {
                this.depLoader = true;
                try {

                    let res = await this.$store.dispatch('city/searchCity', this.cityDepBody)
                    this.cityDepList = res.rs.cties;
                    this.cityDepBody.code = this.cityDepList[0].cty.co;
                    if (this.cityDepList.length > 6) {
                        this.cityDepList = this.cityDepList.slice(0, 6)
                    }
                    if (this.cityDepList.length === 1 && this.cityDepList[0].ap.length === 1) {
                        //autofill
                        this.setDepCity(this.cityDepList[0].cty.nm, this.cityDepList[0].cty.co)
                    }
                } catch (error) {
                }
                this.depLoader = false;
            },
            async getArrCity () {
                this.arrLoader = true;
                try {
                    let res = await this.$store.dispatch('city/searchCity', this.cityArrBody)
                        this.cityArrList = res.rs.cties;
                    this.cityArrBody.code = this.cityArrList[0].cty.co;
                    if (this.cityArrList.length > 6) {
                        this.cityArrList = this.cityArrList.slice(0, 6)
                    }
                    if (this.cityArrList.length === 1 && this.cityArrList[0].ap.length === 1) {
                        //autofill
                        this.setArrCity(this.cityArrList[0].cty.nm, this.cityArrList[0].cty.co)
                    }
                }
                catch (e) {

                }
                this.arrLoader = false;
            },
            setDepCity (name, code) {
                this.getTicketsBody.flts[0].frm = code;
                // this.cityDepList = null;
                this.cityDepBody.co = name;

                if (this.status_direction.id === 2) {
                    this.getTicketsBody.flts[1].to = code;
                }
                document.querySelector('.input-arr').focus()

            },
            setArrCity (name, code, isClicked) {
                this.getTicketsBody.flts[0].to = code;
                this.cityArrBody.co = name;

                if (this.status_direction.id === 2) {
                    this.getTicketsBody.flts[1].frm = code;
                }
                // this.$refs.calendar.triggerDatepicker();
            },
            isMobile() {
                let check = false;
                if (process.browser) {
                    (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
                    return check;
                }
            },
            clearCities(type) {
                if (type === 'dep') {

                    this.getTicketsBody.flts[0].frm = '';
                    this.cityDepBody.co = ''
                } else {
                    this.getTicketsBody.flts[0].to = '';
                    this.cityArrBody.co = ''
                }
                return false;
            }
        }
    }
</script>
<style lang="scss" scoped>
    //@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=cyrillic');
    .widget {
        button, input, optgroup, select, textarea, ul, li, a, p, span {
            //font-family: 'Open Sans', sans-serif;
        }

        .find-tickets {
            line-height: unset;
            color: #fff;
            width: 100%;
            height: 100%;
            background: #FF8A1F;
            border-radius: 4px;
            outline: none;
            border: none;

            :focus {
                box-shadow: none;
            }

            img {
                padding-right: 9px;
                padding-bottom: 2px;
            }
        }
    }

    .date-direction {
        padding-left: 25px;
    }

    @media (max-width: 992px) {
        .fields, .fields-row {
            flex-direction: column;
            padding: 0;
        }
        .widget {
            .find-tickets {
                width: 100%;
            }
        }

        .date-direction {
            padding-left: 0;
        }
    }
    .mobile-widget {
        background-color: #ffffff;
    }

    .input-select-class {
        background-color: #ffffff;
        height: 50px;
        padding: 5px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin-bottom: 0;
        }
        span {
            color: rgba(0, 0, 0, 0.5)
        }
    }

    .is-error {
        border: 3px solid #FF695F;
        height: 50px;
    }
    .err-place {
        position: absolute;
        bottom: -47px;
        left: 30px;
        padding: 8px 18px;
        background: #FF695F;
        border-radius: 5px;
        p {
            color: #fff;
            margin: 0;
            font-size: 14px;
        }

        img {
            position: absolute;
            top: -10px;
            left: 40%;
        }
    }
    .arr-error {
        left: 0;
    }
    .search-title {
        text-align: center;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 20px;
        margin: 35px 0;
    }

    .dev-spinner, .arr-spinner {
        position: absolute;
        top: 14px;
        right: 8px;
        z-index: 2;
    }

    .dev-spinner {
        right: 10px;
    }
    .loader-x {
        position: absolute;
        top: 20px;
        right: 15px;
        z-index: 100;
        cursor: pointer;
        width: 15px;
        height: 15px;
    }
    .loader-x-dep {
        right: 16px;
    }
    @keyframes rotate {
        from { transform: rotate(0deg);   }
        to   { transform: rotate(360deg); }
    }

    .spinner {
        animation: rotate 1s linear infinite;
        background: #4398ee;
        border-radius: 50%;
        height: 27px;
        width: 27px;
        position: relative;
    }

    .spinner:before,
    .spinner:after {
        content: '';
        position: absolute;
    }

    .spinner:before {
        border-radius: 50%;
        background:
            linear-gradient(0deg,   hsla(0, 0%, 100%, 1  ) 50%, hsla(0, 0%, 100%, 0.9) 100%)   0%   0%,
            linear-gradient(90deg,  hsla(0, 0%, 100%, 0.9)  0%, hsla(0, 0%, 100%, 0.6) 100%) 100%   0%,
            linear-gradient(180deg, hsla(0, 0%, 100%, 0.6)  0%, hsla(0, 0%, 100%, 0.3) 100%) 100% 100%,
            linear-gradient(360deg, hsla(0, 0%, 100%, 0.3)  0%, hsla(0, 0%, 100%, 0  ) 100%)   0% 100%
    ;
        background-repeat: no-repeat;
        background-size: 50% 50%;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
    }

    .spinner:after {
        background: white;
        border-radius: 50%;
        top: 7%;
        bottom: 7%;
        left: 7%;
        right: 7%;
    }

    @media (max-width: 750px) {
        .element__search, .element__class, .element__calendar, .element__button {
            width: 100%;
            margin: 1.5px 0;
        }
        .element__button {
            margin-top: 13px;
        }
        .widget {
            height: calc(100vh - 66px);
            background: url("../assets/main-mobile-bg.svg") no-repeat center / cover;
        }

        .widget__search input.input-dep, .widget__search input.input-arr {
            border-radius: 3px;
        }

        .widget .find-tickets {
            height: 50px;
        }
        .widget__search__swap-btn {
            right: 14px;
            top: 10px;
            width: 15px;
        }

        .widget__search input.input-arr {
            padding-left: 12px;
        }
        .loader-x-dep {
            right: 36px;
        }
        .dev-spinner {
            right: 30px;
        }

    }
</style>
