<template>
  <div class="container">
    <div class="mobile-search d-flex justify-content-between align-items-center">
        <div class="search-field">
          <img src="../../assets/icons/search-icon.png" alt="">
          <p class="search-input">
            {{ data.flts.length > 1 ? (data.flts[0].frm + ' - ' + data.flts[0].to + ' - ' + data.flts[0].frm) : (data.flts[0].frm + ' - ' + data.flts[0].to) }},
            {{data.flts.length > 1 ? data.flts[1].dt : data.flts[0].dt | dateFormat('DD MMM')}},
            {{getPnr()}} {{$tc('passenger')}}</p>
        </div>
      <img class="filter" src="../../assets/icons/filter-icon.png" alt="">
    </div>
  </div>
</template>
<script>

  export default {
    props: ['data'],
    methods: {
      getPnr() {
            let count = 0;
            this.data.pnrs.forEach(passenger => {
                count += passenger.qt
            })
            return count
        }
    }
  }
</script>
<style lang="scss" scoped>
  .mobile-search {
    padding: 16px 0;
  }

  .search-field {
    height: 32px;
    border-radius: 16px;
    background-color: #f5f6fa;
    padding: 8px 12px;
    width: 87%;
    display: flex;

    img {
      width: 16px;
      margin-right: 8px;
    }

    .search-input {
      color: #434343;
    }
  }
  .filter {
    width: 24px;
  }
</style>
