<template>
    <div>
        <notifications group="message" />
<!--        <div class="setting-card">-->
<!--            <div class="setting-text">-->
<!--                <p>{{ $tc('commission_tickets') }}</p>-->
<!--            </div>-->
<!--            <div class="setting-form">-->
<!--                <input class="form-control" placeholder="2000" v-model="partner.partner_fee">-->
<!--                <button type="button" class="btn btn-warning" @click.prevent="changeFee">{{ $tc('change') }}</button>-->
<!--            </div>-->
<!--        </div>-->
        <div class="setting-card">
            <div class="setting-text">
                <p>{{ $tc('change_password') }}</p>
            </div>
            <div class="setting-form">
                <input class="form-control" :placeholder="$tc('old_password')" v-model='requestReset.old_password'>
                <input class="form-control" :placeholder="$tc('new_password')" v-model='requestReset.new_password_1'>
                <input class="form-control" :placeholder="$tc('repeat_new_password')" v-model='requestReset.new_password_2'>
                <button @click="onReset" type="button" ref='reset' class="btn btn-warning">{{ $tc('change') }}</button>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Settings',
        data() {
            return {
                partner: {
                    partner_fee: null
                },
                requestReset: {
                    old_password   : null,
                    new_password_1 : null,
                    new_password_2 : null
                }
            }
        },
        methods: {
            onReset() {
                this.$refs.reset.disabled = true;

                this.$store.dispatch('cabinet/load_reset', {
                    body: this.requestReset
                }).then((response) => {
                    this.errors = { };
                    this.$refs.reset.disabled = false;

                    this.$notify({
                        group: 'message',
                        type: 'success',
                        duration: 5000,
                        title: this.$tc('ticket_commission_changed')
                    });

                    //
                    this.requestReset = {
                        old_password   : null,
                        new_password_1 : null,
                        new_password_2 : null
                    }
                }).catch((e) => {
                    this.$notify({
                        group: 'message',
                        type: 'warn',
                        duration: 5000,
                        title: e,
                        text: 'errors.response.data.rs.msg'
                    });
                })
            },

            async changeFee() {
                if (this.partner.partner_fee) {
                    let requestAccount = JSON.parse(JSON.stringify(this.account()));
                    requestAccount.partner.partner_fee = this.partner.partner_fee;
                    try {
                        await this.$store.dispatch('cabinet/loadFee', requestAccount);
                        this.$notify({
                            group: 'message',
                            type: 'success',
                            duration: 5000,
                            title: this.$tc('ticket_commission_changed')
                        });
                    } catch (e) {
                        this.$notify({
                            group: 'message',
                            type: 'warn',
                            duration: 5000,
                            title: e,
                            text: 'errors.response.data.rs.msg'
                        });
                    }
                }
            },
            account() {
                return this.$store.getters['cabinet/getAccount']
            }
        }
    }
</script>
<style lang="scss" scoped>
    .setting-card {
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0 0 2px hsla(0,0%,46%,.5);
        background-color: #fff;

        .setting-text {
            border-bottom: 1px solid #eee;
            padding: 10px;
        }
        p {
            color: #212121;
            font-size: 15px;
            font-weight: 600;
        }

        .setting-form {
            padding: 10px;
        }

        .form-control {
            width: 50%;
            margin-bottom: 10px;
        }
    }
</style>
