<template>
    <div>
        <portal-target name="semantic-ui-vue">

        </portal-target>

        <div class="tariff-form">
            <h3>{{ $tc(title) }}</h3>
            <div v-if="loader" class="text-center py-5">
                <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
            </div>
            <div class="fares" v-if="tariff.length > 0">
                <img src="../../assets/right-arr.svg" alt="" class="d-md-none arrow right-arrow right-m-arrow" @click="next" v-if="tariff">
                <img src="../../assets/left-arrow.svg" alt="" class="d-none d-md-block arrow left-arrow" @click="prev" v-if="tariff">
                <img src="../../assets/right-arrow.svg" alt="" class="d-none d-md-block arrow right-arrow" @click="next" v-if="tariff">
                <slider ref="slider" :options="options">
                    <!-- slideritem wrapped package with the components you need -->
                    <slideritem v-for="(fare_fam, index) in tariff" @init="slide" :style="style" :key="index">
                        <input :ref="'myinput'+index" :id="'radio-' + index" type="radio" name="radio" class="radio-input" :checked="fare_fam.curr === true">
                        <span class="checkmark"></span>
                        <label class="fare" :for="'radio-' + index" @click="doSelected(fare_fam, index)">
                            <div class="fare-header">
                                <div class="fare-header-text">
                                    <!--<img src="../../assets/selected-icon.svg" alt="">-->
                                    <h4>{{fare_fam.pkg_nm}}</h4>
                                </div>
                                <img src="../../assets/info-icon.svg" alt="">
                            </div>
                            <div class="fare-content">
                                <div class="fare-content-div">
                                    <div class="empty-sts d-flex" style="margin-right: 27px">
                                        <img src="../../assets/ticket/baggage.svg" alt="" style="margin-right: 10px">
                                        <span>{{ fare_fam.lst[fare_fam.lst.length - 1].sts }}</span> &nbsp;
                                        <span> {{ fare_fam.lst[fare_fam.lst.length - 1].desc }} </span>
                                    </div>
                                    <div class="fare-item" v-for="(fare_single, index) in fare_fam.lst" :key="index">
                                        <div class="d-flex" v-if="fare_single.sts === 'CHARGABLE'">
                                            <img src="../../assets/ticket/tenge.svg" alt="" style="margin-right: 10px">
                                            <p> {{ fare_single.desc }} </p>
                                        </div>
                                        <div class="d-flex" v-if="fare_single.sts === 'NOT OFFER'">
                                            <img src="../../assets/ticket/cancel.svg" alt="" style="margin-right: 10px">
                                            <p> {{ fare_single.desc }} </p>
                                        </div>
                                        <div class="d-flex" v-if="fare_single.sts === 'INCLUDE'">
                                            <img src="../../assets/ticket/included.svg" alt="" style="margin-right: 10px">
                                            <p> {{ fare_single.desc }} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more" @click="more" v-if="fare_fam.lst.length >= 5">
                                <img src="../../assets/more-icon-blue.svg" alt="" class="more-arrow"><span>Подробнее</span>
                            </div>
                            <div class="fare-footer">
                                <div class="price" v-if="selectedTariff === index">{{fare_fam.prc.tot.val | numberWithSpaces }} {{fare_fam.prc.tot.cur.sym}}</div>
                                <div class="price" v-else>+ {{fare_fam.prc.gds.xtra.val | numberWithSpaces }} {{fare_fam.prc.gds.xtra.cur.sym}}</div>
                            </div>
                        </label>
                    </slideritem>
                </slider>
            </div>
        </div>
    </div>
</template>
<script>
    import { slider, slideritem } from 'vue-concise-slider'

    export default {
        name: 'Tariff',
        data () {
            return {
                selectedTariff: null,
                tariff: {},
                title: 'tariff.avia_tariffs',
                loader: false,
                showMore: true,
                options: {
                    currentPage: 0,
                    slidesToScroll: 1,
                    infinite: 3,
                    pagination: false,
                },
                style: {
                    'width': '280px',
                    'padding-right': '1.5%',
                    'padding-left': '1.5%',
                    'padding-top': '15px',
                    'padding-bottom': '15px'
                },
            }
        },
        computed: {
            sess_id() {return  this.$store.state.requestData.sessionId},
            search_id() {return  this.$store.state.requestData.hashCode},
            seq_no() {return this.$store.state.requestData.sequence_number},
            gds() {return this.$store.state.tickets.ticket.gds},
            ticket() {return this.$store.state.tickets.ticket},
        },
        components: {
            slider,
            slideritem
        },
        methods: {
            doSelected(fare_fam, index) {
                if (this.tariff.length > 1) {
                    this.selectedTariff = index;
                    this.$emit('tariffSelected', fare_fam);
                }
            },
            async getFares() {
                this.loader = true;
                const dataToPost = {
                    sess_id: this.sess_id,
                    search_id: this.search_id,
                    seq_no: this.seq_no,
                    gds: this.gds,
                };
                // if (this.gds === '27419' && this.ticket.opts.length > 1) {
                //     dataToPost.rb_dsg_co = [this.ticket.opts[0].rb_dsg_co, this.ticket.opts[1].rb_dsg_co];
                //     dataToPost.ref_id = [this.ticket.opts[0].ref_id, this.ticket.opts[1].ref_id];
                // }
                // if (this.gds === '27419' && this.ticket.opts.length === 1) {
                //     dataToPost.rb_dsg_co = [this.ticket.opts[0].rb_dsg_co];
                //     dataToPost.ref_id = [this.ticket.opts[0].ref_id];
                // }
                if (this.gds === '47419' || this.gds === '57419' || this.gds === '27419' || this.gds === '77419' || this.gds === '67419' && this.ticket.opts.length === 1 ) {
                    // if (this.ticket.opts[0].segs.length > 1) {
                    //     let fltNo = [];
                    //     for (let segment of this.ticket.opts[0].segs){
                    //         fltNo.push(segment.flt_no);
                    //     }
                    //     dataToPost.flt_no = fltNo;
                    // }
                    // else {
                    //     dataToPost.flt_no = [this.ticket.opts[0].segs[0].flt_no];
                    // }
                    dataToPost.search_hash = this.ticket.search_hash;
                }
                if (this.gds === '47419' || this.gds === '57419' || this.gds === '27419' || this.gds === '77419' || this.gds === '67419' && this.ticket.opts.length > 1){
                    // let fltNo = [];
                    // for (let options of this.ticket.opts){
                    //     for (let segment of options.segs){
                    //         fltNo.push(segment.flt_no);
                    //     }
                    // }
                    // dataToPost.flt_no = fltNo;
                    dataToPost.search_hash = this.ticket.search_hash;
                }


                try {
                    const tr = await this.$store.dispatch('requests/getFares', dataToPost);
                    this.tariff = tr.rs.fres;
                } catch (e) {
                    //console.log(e)
                }
                console.log(this.ticket);

                if (this.tariff.length >= 1) {
                    this.$store.dispatch('requestData/SET_FARE_HASH', this.tariff[0].fare_hash);
                }
                if (this.tariff.length === 0) {
                    this.$store.dispatch('requestData/SET_FARE_HASH', this.ticket.search_hash);
                }
                this.loader = false



            },
            getTariffIcon(id, word, word1, word2) {
                let ty = '';
                let bool = false;
                for (let i = 0; i < this.tariff[id].lst.length; i++) {
                    ty = this.tariff[id].lst[i].ty.toLowerCase();
                    if (ty.includes(word) || ty.includes(word1) || ty.includes(word2)) {
                        bool = true
                    }
                }
                return bool
            },
            getTariffIconType(id, word, word1, word2, word3) {
                let ty = '';
                let sts = '';
                let bool = false;
                for (let i = 0; i < this.tariff[id].lst.length; i++) {
                    ty = this.tariff[id].lst[i].ty.toLowerCase();
                    sts = this.tariff[id].lst[i].sts.toLowerCase();
                    if (ty.includes(word1 && sts.includes(word)) || (ty.includes(word2) && sts.includes(word)) || (ty.includes(word3) && sts.includes(word))) {
                        bool = true
                    }
                }
                return bool;
            },
            next() {
                this.$refs.slider.$emit('slideNext')
            },
            prev() {
                this.$refs.slider.$emit('slidePre')
            },
            slide (data) {
                console.log(data)
            },
            more() {
                let fareContentDivs = document.getElementsByClassName('fare-content-div');
                let fareContents = document.getElementsByClassName('fare-content');
                let fares = document.getElementsByClassName('fare');
                let moreArrow = document.getElementsByClassName('more-arrow');
                if (this.showMore) {
                    let maxHeight = 0;
                    let fareHeight = 0;
                    let contentHeight = 0;
                    for (let i = 0; i < fareContentDivs.length; i++) {
                        moreArrow[0].classList.add('rotate180');
                        contentHeight = fareContentDivs[i].offsetHeight + 10
                        fareContents[i].style.maxHeight = contentHeight + 'px'
                        if (fareContentDivs[i].clientHeight > maxHeight) {
                            maxHeight = fareContentDivs[i].clientHeight
                        }
                    }
                    for (let i = 0; i < fareContents.length; i++) {
                        fareHeight = fares[i].clientHeight + maxHeight - 118
                        fares[i].style.height = fareHeight + 'px';
                        fares[i].style.maxHeight = fareHeight + 'px'
                    }
                    this.showMore = false
                } else {
                    for (let i = 0; i < fareContents.length; i++) {
                        fareContents[i].style.maxHeight = 125 + 'px'
                        fares[i].style.height = 260 + 'px';
                        fares[i].style.maxHeight = 260 + 'px';
                        moreArrow[0].classList.remove('rotate180');
                    }
                    this.showMore = true;
                }
            }
        }
    }
</script>
<style lang="scss" scoped>

    h3 {
        padding-left: 10px;
        font-size: 16px;
    }

    .fares {
        position: relative;
    }

    .more {
        display: flex;
        align-items: center;
        padding-bottom: 10px;

        img {
            margin-right: 6px;
        }
        span {
            font-size: 13px;
            color: #4b77be;
            padding-top: 2px;
        }
    }

    .more-arrow, .fare, .fare-content {
        transition: .2s ease all;
    }

    .empty-sts {
        color: black;
        font-size: 13px;
        width: 30px;
    }

    .fare {
        width: 280px;
        padding: 14px 16px;
        border-radius: 4px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
        cursor: pointer;
        border: 2px solid #fff;
        max-height: 260px;
        min-height: 260px;
        position: relative;
        box-sizing: border-box;
    }

    .fare-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px rgba(0, 0, 0, 0.16);
        width: 100%;
        padding-bottom: 14px;
        position: relative;

        .fare-header-text {
            display: flex;
            align-items: center;

            h4 {
                padding-left: 34px;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 200px;
                height: 1.2em;
                white-space: nowrap;
            }
        }

        h4 {
            font-size: 16px;
            font-weight: 500;
            color: #111111;
        }
    }

    .arrow {
        position: absolute;
        top: 40%;
        left: -15px;
        z-index: 10;
        overflow: hidden;
        cursor: pointer;
    }

    .right-arrow {
        left: unset;
        right: -15px;
    }

    .fare-content {
        padding: 12px 0;
        max-height: 125px;
        overflow: hidden;
    }

    .fare-item {
        display: flex;
        align-items: center;
        padding: 4px 0;
        img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
        p {
            font-size: 13px;
            margin: 0;
            color: #111111;
        }
    }

    h4 {
        margin: 0;
    }

    .fare-footer {
        display: flex;
        justify-content: center;
        padding-top: 14px;
        border-top: solid 1px rgba(0, 0, 0, 0.16);
        position: absolute;
        left: 18px;
        right: 18px;
        bottom: 13px;

        .price {
            color: #4b77be;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .tariff-form {
        box-shadow: 0 4px 10px 0 rgba(158, 172, 196, 0.09);
        background-color: #fff;
        border-radius: 10px;
        padding: 24px 30px 30px 30px;
        margin-bottom: 24px;
        position: relative;
        font-family: Roboto;
    }

    .popup-content {
        div {
            margin-bottom: 8px;
        }
        img {
            margin-right: 8px;
        }
    }

    .popup-text {
        font-size: 13px;
    }

    .tariff-types {
        display: flex;
        margin-top: 18px;
        flex-wrap: wrap;

        .tariff-type {
            border-radius: 4px;
            border: solid 1px #c6d0dc;
            padding: 16px;
            width: 256px;
            margin: 10px;
            cursor: pointer;
            min-height: 84px;

            .tariff-title {
                font-size: 14px;
            }

            .price {
                color: #4b77be;
                font-size: 16px;
            }

            .tariff-info {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .checked {
        display: none;

        img {
            width: 16px;
            margin-right: 8px;
        }
    }

    .icons {
        .big-img {
            margin: 0 4px;
            width: 24px;
        }
        .small-img {
            position: absolute;
            top: -5px;
            right: 0;
        }
    }
    input:checked ~ .tariff-info .checked {
        display: block;
    }

    input:checked ~ .tariff-info .price {
        display: none;
    }

    .active {
        border: solid 1px #4b77be !important;
    }

    /* Hide the browser's default radio button */
    .slider-item input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 29px;
        left: 30px;
        height: 22px;
        width: 22px;
        border: 1px solid #4b77be;
        border-radius: 50%;
    }

    /* When the radio button is checked, add a blue background */
    .slider-item input:checked ~ .checkmark {
        background-color: #4b77be;
    }

    .slider-item input:checked ~ .fare {
        border: 2px solid #4b77be;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .slider-item .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .slider-item input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .slider-item .checkmark:after {
        top: 8px;
        left: 6px;
        width: 11px;
        height: 8px;
        border-radius: 50%;
        background: url("../../assets/check-icon.svg") no-repeat center;
    }

    .rotate180{
        transform: rotate(180deg);
    }

    @media (max-width: 770px) {
        .slider-item {
            //width: 94% !important;
        }
        .tariff-form {
            margin-bottom: 8px;
            padding: 16px;
            border-radius: 0;
            box-shadow: none;
            border: none;
        }

        h3 {
            padding-left: 0;
        }

        .right-m-arrow {
            top: -30px;
            right: 0;
        }
    }
</style>
