<template>
    <div class="">
        <client-only>
            <notifications group="ticket" />
        </client-only>
        <div class="avia-ticket d-none d-md-block" :class="{ 'avia--ticket-price': status === 'price'}">
            <div v-if="status === 'fastest' || status === 'cheepest'" class="avia-ticket__stations" :class="{ 'is-cheepest': data.id === 'cheap', 'is-fastest': data.id === 'fast'}">
                {{ status === 'fastest' ? $tc('fastest') : $tc('cheapest') }}
            </div>
            <div v-else-if="status_direction.id === 2 && data.hasOwnProperty('coms')" class="avia-ticket__stations">
                {{ getDepCityCode() }} -
                {{ getArrCityCode() }} -
                {{ getDepCityCode() }}
            </div>
            <div v-else class="avia-ticket__stations">
                {{ getDepCityCode() }} -
                {{ getArrCityCode() }}
            </div>
<!--            <pre>{{comb_id}}</pre>-->
            <div class="avia-ticket__info">
                <div class="avia-ticket__content vert-line vert-line-body">
                    <div class="avia-ticket__body" :key="index" v-for="(segment, index) in data.opts">
<!--                        <pre>{{segment}} {{index}}</pre>-->
                        <div class="avia-ticket__body__logo">
                            <img v-if="getSegment(index).al.mark.lg"
                                 :src="'https://avia.test.transavia.kz/media/' + getSegment(index).al.mark.lg"
                                 class="img-fluid mr-2 py-3" alt="">
                            <img v-else src="../../assets/ALlogo.png" width="20" class="img-fluid" alt="">
                            <span class="grey-price">GDS: {{data.prc.gds.tot.val}} {{data.prc.gds.tot.cur.sym}}</span>
                            <span class="grey-price">RULE: {{data.prc.rule.val}} {{data.prc.rule.cur.sym}}</span>
                            <!--<span>{{getSegment(index).al.nm | truncate()}}</span>-->
                            <!--<span v-if="(typeof getSegment(index).al === 'object' && 'mark' in getSegment(index).al)">{{getSegment().al.mark.nm | truncate()}}</span>-->
                            <p class="grey-price">GDS: {{data.gds}}</p>

                        </div>
                        <div class="avia-ticket__date">
                            <div class="text-left">
<!--                                <pre>{{data}}</pre>-->
<!--                                <pre>{{comb_id}}</pre>-->
<!--                                <pre>{{comb}}</pre>-->
                                <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0" class="grey">{{data.coms[index][data.coms[index].length - comb_id[index]].segs[0].dep_dt | dateFormat('DD MMM, dd')}}</span>
                                <span v-else-if="data.hasOwnProperty('book')" class="grey">{{segment.segs[0].dep.dt | dateFormat('DD MMM, dd')}}</span>
                                <span v-else class="grey">{{segment.segs[0].dep.dt | dateFormat('DD MMM, dd')}}</span>

                                <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0" class="time">{{data.coms[index][data.coms[index].length - comb_id[index]].segs[0].dep_dt | dateFormat('HH:mm')}}</span>
                                <span v-else-if="data.hasOwnProperty('book')" class="time">{{segment.segs[0].dep.dt | dateFormat('HH:mm')}}</span>
                                <span v-else class="time">{{segment.segs[0].dep.dt | dateFormat('HH:mm')}}</span>


                            </div>
                            <div class="text-center">

                                <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0" class="">{{data.coms[index][data.coms[index].length - comb_id[index]].elap_t}}</span>
                                <span v-else-if="data.hasOwnProperty('book')" class="">{{segment.elap_t}}</span>
                                <span v-else class="">{{segment.elap_t}}</span>


                                <span v-if="segment.segs.length === 1">{{ $tc('direct_flight') }}</span>
                                <span v-else>{{ $tc('direct_flight_stop') }}</span>
                            </div>
                            <div class="text-right">

                                <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0"  class="grey">{{data.coms[index][data.coms[index].length - comb_id[index]].segs[data.coms[index][data.coms[index].length - comb_id[index]].segs.length - 1].arr_dt | dateFormat('DD MMM, dd')}}</span>
                                <span v-else-if="data.hasOwnProperty('book')" class="grey">{{segment.segs[segment.segs.length - 1].arr.dt | dateFormat('DD MMM, dd')}}</span>
                                <span v-else class="grey">{{segment.segs[segment.segs.length - 1].arr.dt | dateFormat('DD MMM, dd')}}</span>

                                <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0"  class="time">{{data.coms[index][data.coms[index].length - comb_id[index]].segs[data.coms[index][data.coms[index].length - comb_id[index]].segs.length - 1].arr_dt | dateFormat('HH:mm')}}</span>
                                <span v-else-if="data.hasOwnProperty('book')" class="time">{{segment.segs[segment.segs.length - 1].arr.dt | dateFormat('HH:mm')}}</span>
                                <span v-else class="time">{{segment.segs[segment.segs.length - 1].arr.dt | dateFormat('HH:mm')}}</span>

                            </div>
                        </div>
                    </div>
<!--                    <div class="avia-ticket__body" :key="i" v-for="(seg, i) in data.coms">-->
<!--                        <pre >{{seg}}</pre>-->
<!--                        <pre>{{i}}</pre>-->
<!--                    </div>-->
<!--                    <pre>{{changedTimeComId}}</pre>-->
<!--                    <pre>{{comb}}</pre>-->
                </div>
                <div class="avia-ticket__price vert-line" v-if="status !== 'price' && !noBuyButton">
                    <div v-if="offlinePrice" class="offline-price" @click="openOfflineModal">
                        <p class="off-text">Билет в офлайне</p>
                        <p class="off-price" >{{ spaceInCost(offlinePrice) }} {{data.prc.gds.tot.cur.sym}}</p>
                    </div>
                    <div v-if="loader" class="text-center py-5 d-none d-md-block">
                        <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
                    </div>
                    <div v-else-if="isBooked" class="booked">
                        {{ $tc('booked') }}
                    </div>
                    <div v-else class="d-none d-md-block">
                        <button class="btn btn-main" @click="toTicket(data)">
                            <span>Купить <br> </span> {{spaceInCost(data.prc.tot.val)}} {{data.prc.tot.cur.sym}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="avia-ticket__footer" >
                <p v-if="status" class="time another-time" @click="openModal('anotherTimeModal')">
                    <template v-if="status_direction.id === 2 && data.hasOwnProperty('coms') && data.coms.length >= 1 && (data.coms[0].length >= 1 || data.coms[1].length >= 1)">
                        <span>{{ $tc('another_time') }}</span>
                    </template>
                </p>
                <div v-else class="empty-box"></div>
                <div class="line-div"></div>
                <div class="avia-ticket__footer-center">
                    <span class="grey clickable"
                          @click="openModal('flightInfoModal')">{{ $tc('details.details_f') }}</span>
                    <span class="grey clickable"
                          @click="openModal('tariffModal')">{{ $tc('tariff.title') }}</span>
                </div>
                <div class="bag">
                    <template v-if="data.hasOwnProperty('ret')">
                        <div class="avia-ticket__type d-flex mr-2" v-if="!(data.ret.sts && data.ret.sts !== false)">
                            <img src="../../assets/ticket.svg" class="img-fluid mr-1" alt="">
                            <span>{{ $tc('non_refundable') }}</span>
                        </div>
                    </template>
                    <img src="../../assets/bag.svg" class="img-fluid mr-1" alt="">
<!--                    <span v-if="typeof(getSegment().bag) == 'string'">-->
<!--                        {{getSegment().bag}}-->
<!--                    </span>-->
                    <span v-for="(baggage, index) in getSegment().bag" :key="index">
                        {{baggage.wt}}
                    </span>
                </div>
                <div class="mobile-details d-md-none" v-if="status_direction.id == 2 && data.hasOwnProperty('coms')"  @click="toTicket(data, data.seq_no, [data.opts[0].ref_no, data.opts[1].ref_no])">
                    <div class="price">{{spaceInCost(data.prc.tot.val)}} {{data.prc.tot.cur.sym}}</div>
                </div>
                <div class="mobile-details d-md-none" v-else @click="toTicket(data, data.seq_no, [data.com_id])">
                    <div class="price">{{spaceInCost(data.prc.tot.val)}} {{data.prc.tot.cur.sym}}</div>
                </div>
            </div>
<!--            <div class="warning-icon" ref="warning"-->
<!--                 v-if="('mark' in getSegment().al) && (getSegment().al.mark.nm !== getSegment().al.oper.nm)"-->
<!--                 :data-tooltip='$tc("several_carriers") + getSegment().al.mark.nm + " and " + getSegment().al.oper.nm'-->
<!--                 data-position="top center">-->
<!--                <img src="@/assets/icons/warning-icon.png" alt="">-->
<!--            </div>-->
            <div class="warning-icon" ref="warning"
                 v-if="('mark' in getSegment().al) && (getSegment().al.mark.nm !== getSegment().al.oper.nm)">
                <img src="@/assets/icons/warning-icon.png" alt="" v-b-tooltip.hover :title='$tc("several_carriers") + " " + getSegment().al.mark.nm + " и " + getSegment().al.oper.nm'>
            </div>
        </div>
        <div class="avia-ticket d-block d-md-none" :class="{ 'avia--ticket-price': status === 'price'}">

            <div class="d-flex justify-content-between">
                <div class="city">
                    <div v-if="status === 'fastest' || status === 'cheepest'" class="avia-ticket__stations" :class="{ 'is-cheepest': data.id === 'cheap', 'is-fastest': data.id === 'fast'}">
                        {{ status === 'fastest' ? $tc('fastest') : $tc('cheapest') }}
                    </div>
                    <div v-else-if="status_direction.id === 2 && data.hasOwnProperty('coms')" class="avia-ticket__stations">
                        {{ getDepCityCode() }} -
                        {{ getArrCityCode() }} -
                        {{ getDepCityCode() }}
                    </div>
                    <div v-else class="avia-ticket__stations">
                        {{ getDepCityCode() }} -
                        {{ getArrCityCode() }}
                    </div>
                    <div class="offline-prc" @click="openOfflineModal">
                        <p class="off-text" v-if="offlinePrice">Билет в офлайне &nbsp;</p>
                        <p class="off-price" v-if="offlinePrice"> {{  spaceInCost(offlinePrice) }} {{data.prc.gds.tot.cur.sym}}</p>
                    </div>
                </div>
                <div class="bag align-items-center d-flex">
                    <div class="align-items-center d-flex">
                        <img src="../../assets/bag.svg" class="img-fluid mr-1" alt="">
                        <!--                    <span v-if="typeof(getSegment().bag) == 'string'">-->
                        <!--                        {{getSegment().bag}}-->
                        <!--                    </span>-->
                        <span v-for="(baggage, index) in getSegment().bag" :key="index">{{baggage.wt}}</span>
                    </div>
                    <template v-if="data.hasOwnProperty('ret')">
                        <div class="avia-ticket__type d-flex ml-2 align-items-center" v-if="!(data.ret && data.ret.sts)">
                            <img src="../../assets/ticket.svg" class="img-fluid mr-1" alt="">
                            <span>{{ $tc('non_refundable') }}</span>
                        </div>
                    </template>


                </div>
            </div>
            <!--            <pre>{{comb_id}}</pre>-->
            <div class="avia-ticket__info">
                <div class="avia-ticket__content vert-line vert-line-body">
                    <div class="avia-ticket__body" :key="index" v-for="(segment, index) in data.opts">
                        <!--                        <pre>{{segment}} {{index}}</pre>-->
                        <div class="avia-ticket__body__logo">
                            <img v-if="getSegment(index).al.mark.lg"
                                 :src="'https://avia.test.transavia.kz/media/' + getSegment(index).al.mark.lg"
                                 class="img-fluid mr-2 py-3" alt="">
                            <img v-else src="../../assets/ALlogo.png" width="20" class="img-fluid" alt="">
                        </div>
                        <div class="avia-ticket__date">
                            <div class="text-left">
                                <!--                                <pre>{{data}}</pre>-->
                                <!--                                <pre>{{comb_id}}</pre>-->
                                <!--                                <pre>{{comb}}</pre>-->
                                <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0" class="grey">{{data.coms[index][data.coms[index].length - comb_id[index]].segs[0].dep_dt | dateFormat('DD MMM, dd')}}</span>
                                <span v-else-if="data.hasOwnProperty('book')" class="grey">{{segment.segs[0].dep.dt | dateFormat('DD MMM, dd')}}</span>
                                <span v-else class="grey">{{segment.segs[0].dep.dt | dateFormat('DD MMM, dd')}}</span>

                                <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0" class="time">{{data.coms[index][data.coms[index].length - comb_id[index]].segs[0].dep_dt | dateFormat('HH:mm')}}</span>
                                <span v-else-if="data.hasOwnProperty('book')" class="time">{{segment.segs[0].dep.dt | dateFormat('HH:mm')}}</span>
                                <span v-else class="time">{{segment.segs[0].dep.dt | dateFormat('HH:mm')}}</span>


                            </div>
                            <div class="text-center">

                                <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0" class="">{{data.coms[index][data.coms[index].length - comb_id[index]].elap_t}}</span>
                                <span v-else-if="data.hasOwnProperty('book')" class="">{{segment.elap_t}}</span>
                                <span v-else class="">{{segment.elap_t}}</span>


                                <span v-if="segment.segs.length === 1">{{ $tc('direct_flight') }}</span>
                                <span v-else>{{ $tc('direct_flight_stop') }}</span>
                            </div>
                            <div class="text-right">

                                <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0"  class="grey">{{data.coms[index][data.coms[index].length - comb_id[index]].segs[data.coms[index][data.coms[index].length - comb_id[index]].segs.length - 1].arr_dt | dateFormat('DD MMM, dd')}}</span>
                                <span v-else-if="data.hasOwnProperty('book')" class="grey">{{segment.segs[segment.segs.length - 1].arr.dt | dateFormat('DD MMM, dd')}}</span>
                                <span v-else class="grey">{{segment.segs[segment.segs.length - 1].arr.dt | dateFormat('DD MMM, dd')}}</span>

                                <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0"  class="time">{{data.coms[index][data.coms[index].length - comb_id[index]].segs[data.coms[index][data.coms[index].length - comb_id[index]].segs.length - 1].arr_dt | dateFormat('HH:mm')}}</span>
                                <span v-else-if="data.hasOwnProperty('book')" class="time">{{segment.segs[segment.segs.length - 1].arr.dt | dateFormat('HH:mm')}}</span>
                                <span v-else class="time">{{segment.segs[segment.segs.length - 1].arr.dt | dateFormat('HH:mm')}}</span>

                            </div>
                        </div>
                    </div>
                    <!--                    <div class="avia-ticket__body" :key="i" v-for="(seg, i) in data.coms">-->
                    <!--                        <pre >{{seg}}</pre>-->
                    <!--                        <pre>{{i}}</pre>-->
                    <!--                    </div>-->
                    <!--                    <pre>{{changedTimeComId}}</pre>-->
                    <!--                    <pre>{{comb}}</pre>-->
                </div>

            </div>
            <div class="avia-ticket__footer-center justify-content-center">
                <span class="grey clickable"
                      @click="openModal('flightInfoModal')">{{ $tc('details.details_f') }}</span>
                <span class="grey clickable"
                      @click="openModal('tariffModal')">{{ $tc('tariff.title') }}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center ticket_bottom" >
                <template v-if="status">
                        <template v-if="status_direction.id === 2 && data.hasOwnProperty('coms') && data.coms.length >= 1 && (data.coms[0].length >= 1 || data.coms[1].length >= 1)">
                            <button  class="btn btn-main time another-time ticket_bottom__btn" @click="openModal('anotherTimeModal')">
                            {{ $tc('another_time') }}
                            </button>
                        </template>
                        <div v-else class="empty-box"></div>

                </template>
                <div class=" " v-if="status !== 'price' && !noBuyButton">

                    <div v-if="loader" class="text-center py-5 d-none d-md-block">
                        <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
                    </div>
                    <div v-else-if="isBooked" class="booked">
                        {{ $tc('booked') }}
                    </div>
                    <div v-else>
                        <button class="btn btn-main ticket_bottom__btn" @click="toTicket(data)">
                            <span>Купить <br> </span> {{spaceInCost(data.prc.tot.val)}} {{data.prc.tot.cur.sym}}
                        </button>
                    </div>
                </div>
            </div>
            <!--            <div class="warning-icon" ref="warning"-->
            <!--                 v-if="('mark' in getSegment().al) && (getSegment().al.mark.nm !== getSegment().al.oper.nm)"-->
            <!--                 :data-tooltip='$tc("several_carriers") + getSegment().al.mark.nm + " and " + getSegment().al.oper.nm'-->
            <!--                 data-position="top center">-->
            <!--                <img src="@/assets/icons/warning-icon.png" alt="">-->
            <!--            </div>-->
            <div class="warning-icon" ref="warning"
                 v-if="('mark' in getSegment().al) && (getSegment().al.mark.nm !== getSegment().al.oper.nm)">
                <img src="@/assets/icons/warning-icon.png" alt="" v-b-tooltip.hover :title='$tc("several_carriers") + " " + getSegment().al.mark.nm + " и " + getSegment().al.oper.nm'>
            </div>
        </div>

        <AnotherTimeModal ref="anotherTimeModal" :key="$vnode.key + id" :anotherTimeId="id" :ticket="data" @toTicket="toTicket"/>
        <TariffModal :data="dataToPost" :search="search_id" :session="sess_id" :rules="rules" ref="tariffModal" :key="$vnode.key + 'tariff'"/>
        <FlightInfoModal mode="search" :key="$vnode.key + 'info'" :ticket="data" ref="flightInfoModal" :comb="comb_id"/>
        <CheckTicketModal ref="checkTicketModal" :key="$vnode.key + 'check'"/>
        <OfflineTicketModal ref="offlineTicketModal" :data="reqData" :price="offlinePrice + ' ' + data.prc.gds.cur" :key="$vnode.key + 'offline'"/>
    </div>
</template>

<script>
    import AnotherTimeModal from '@/components/modals/AnotherTimeModal'
    import TariffModal from '@/components/modals/TariffModal'
    import FlightInfoModal from '@/components/modals/FlightInfoModal'
    import CheckTicketModal from '@/components/modals/CheckTicketModal'
    import OfflineTicketModal from "@/components/modals/OfflineTicketModal";


    export default  {


        props: ['id', 'data', 'status', 'isBooked', 'noBuyButton', 'comb'],
        data() {
            return {
                rules: [],
                offlinePrice: null,
                reqData: {},
                gds: null,
                loader: false,
                pnrType: this.$store.state.passengers.pnrObj,
                dataToPost: {
                    "fam_id": 0,
                    "ty": ""
                },
                changedComId: false,
            }
        },
        computed : {
            status_direction () { return this.$store.getters['searchStatus/get_direction']; },
            sess_id() { return this.$store.state.requestData.sessionId },
            account() { return this.$store.getters['cabinet/getAccount']; },
            searchRequest() { return this.$store.getters['searchStatus/getSearchRequest']; },
            search_id() { return this.$store.state.requestData.hashCode },
            comb_id() { return this.$store.getters['requestData/getCombinationId']}
        },
        mounted() {
          this.getOfflinePrice();
          this.fillReqData();
        },
        components: {
            OfflineTicketModal,
            AnotherTimeModal,
            TariffModal,
            FlightInfoModal,
            CheckTicketModal
        },
        methods: {
            openOfflineModal() {
                this.$refs.offlineTicketModal.open();
            },
            openModal(modal) {
                switch (modal) {
                    case 'anotherTimeModal':
                        this.$refs.anotherTimeModal.open();
                        break
                    case 'tariffModal':
                        if (this.status_direction.id == 2 && this.data.hasOwnProperty('coms')) {
                            this.getRules([this.comb_id[0], this.comb_id[1]]).then(rules => {
                                this.rules =rules
                            })

                        } else {
                            this.getRules([this.comb_id[0]]).then(rules => {
                                this.rules =rules
                            })

                        }
                        this.$refs.tariffModal.open();
                        break
                    case 'flightInfoModal':
                        this.$refs.flightInfoModal.open();
                        break
                }
            },
            spaceInCost (value) {
                let myString = value.toString().split('').reverse();
                for (let i = 0; i < myString.length; i++) {
                    if (i % 4 === 0) {
                        myString.splice(i, 0, " ");
                    }
                }
                return myString.reverse().join('');
            },
            getComb (data) {
                this.changedTimeComId = data;

            },
            async toTicket (data) {
                this.loader = true;
                this.changedComId = true;
                // data.ticket.opts[0] = data.ticket.coms[0][0];
                let reqBody = {
                    sess_id: this.sess_id,
                    search_id: this.search_id,
                    fam_id: 0,
                };
                let comb;
                if (data.hasOwnProperty('ticket')) {
                    this.gds = data.ticket.gds;
                    reqBody.gds = data.ticket.gds;
                    reqBody.seq_no = data.seq_no;
                    if (this.status_direction.id === 2 && data.ticket.hasOwnProperty('coms')) {
                        comb = [data.comb[0], data.comb[1]]
                    } else {
                        comb = [data.comb[0]]
                    }
                    this.$store.dispatch('tickets/SET_TICKET', data.ticket);
                    this.$store.dispatch('requestData/SET_SEQUENCE_NUMBER', data.seq_no);

                }
                else {
                    if (this.status_direction.id === 2 && data.hasOwnProperty('coms')) {
                        comb = [data.opts[0].ref_no, data.opts[1].ref_no]
                    } else {
                        comb = [data.opts[0].com_id]
                    }
                    this.gds = data.gds;
                    reqBody.gds = data.gds;
                    reqBody.seq_no = data.opts[0].seq_no;
                    this.$store.dispatch('tickets/SET_TICKET', data);
                    this.$store.dispatch('requestData/SET_SEQUENCE_NUMBER', data.opts[0].seq_no);

                }

                if(this.gds && this.gds !== '27419' ) {
                    console.log(data, "data");
                    reqBody.com_id = comb;
                    this.$store.dispatch('requestData/SET_COMBINATION_ID', comb);
                    //this.$router.push({path: '/price', query: this.pnrType });
                    if (this.gds && this.gds === '67419') {
                        reqBody.search_hash = data.search_hash;
                    }
                    await this.$store.dispatch('requestData/checkTicket', reqBody)
                        .then(res => {
                            this.loader = false;
                            if (res) {
                                this.$router.push({path: '/price', query: this.pnrType });
                            } else {
                                this.$refs.checkTicketModal.open();
                            }
                        })
                }
                else {
                    this.$router.push({path: '/price', query: this.pnrType });
                }

            },
            async getRules(combination) {
                this.dataToPost.sess_id = this.sess_id;
                this.dataToPost.search_id = this.search_id;
                this.dataToPost.gds = this.data.gds;
                if (this.dataToPost.sess_id && this.dataToPost.search_id) {
                    if(this.data.gds !== '07419') {
                            this.dataToPost.search_hash = this.data.search_hash
                            this.dataToPost.seq_no = null;
                            this.dataToPost.com_id = null;
                    }
                    else {
                        this.dataToPost.seq_no = this.data.opts[0].seq_no;
                        this.dataToPost.com_id = combination;
                    }
                    const rules = [];
                    for (let key in this.pnrType) {
                        if (this.pnrType[key] > 0) {
                            this.dataToPost.ty = key.toUpperCase()
                            try {
                                let responseData = await this.$store.dispatch('tickets/getRules', this.dataToPost);
                                responseData.rs.rles.forEach(item => rules.push(item))
                            } catch (errors) {
                                if (typeof errors.response.data === 'object') {
                                    this.$notify({
                                        group: 'ticket',
                                        type: 'warn',
                                        duration: 5000,
                                        title: errors.response.data.rs.type,
                                        text: errors.response.data.rs.msg
                                    });
                                } else {
                                    this.$notify({
                                        group: 'ticket',
                                        type: 'error',
                                        text: 'Произошла ошибка, попробуйте еще раз'
                                    });
                                }
                            }
                        }
                    }
                    return rules
                }
            },
            getArrCityCode() {
                return this.$store.getters['city/getArrCode'];
            },
            getDepCityCode() {
                return this.$store.getters['city/getDepCode'];
            },
            getSegment (index = 0) {
                if (this.data) {
                    return this.data.opts[index].segs[0]
                }
            },
            getOneSegment (index = 0, j = 0) {
                if (this.data) {
                    return this.data.opts[index].segs[j]
                }
            },
            getOfflinePrice() {
                if (this.status_direction.id === 2 && this.data.hasOwnProperty('coms')) {
                    let codeArray = [];
                    let code = this.getSegment(0).al.oper.co;
                    for (let i = 0; i < this.data.opts.length; i++) {
                        for (let j = 0; j < this.data.opts[i].segs.length; j++) {
                            codeArray.push(this.getOneSegment(i, j).al.oper.co);
                        }
                    }
                    for (let i = 0; i < this.data.opts.length; i++) {
                        for (let j = 0; j < this.data.opts[i].segs.length; j++) {
                            let way = this.data.opts[i].way;
                            if (codeArray.every( (val, i, arr) => val === arr[0] )) {
                                if (way === 0) {
                                    switch (code) {
                                        case "LH" || 'OS' || 'LX':
                                            this.offlinePrice = this.data.prc.gds.tot.val - 350
                                            break;
                                        case "KL" || "AF":
                                            this.offlinePrice = this.data.prc.gds.tot.val - 600
                                            break;
                                        case "PS":
                                            this.offlinePrice = this.data.prc.gds.tot.val - 650
                                            break;
                                        case "B2":
                                            this.offlinePrice = this.data.prc.gds.tot.val - 450
                                            break;
                                    }
                                } else {
                                    switch (code) {
                                        case "LH" || 'OS' || 'LX':
                                            this.offlinePrice = this.data.prc.gds.tot.val - 350
                                            break;
                                        case "KL" || "AF":
                                            this.offlinePrice = this.data.prc.gds.tot.val - 600
                                            break;
                                        case "PS":
                                            this.offlinePrice = this.data.prc.gds.tot.val - 1450
                                            break;
                                        case "B2":
                                            this.offlinePrice = this.data.prc.gds.tot.val - 450
                                            break;
                                    }
                                }
                            }
                        }
                    }

                } else {
                    let code = this.getSegment(0).al.oper.co;
                    let way = this.data.opts[0].way;
                    if (way === 0) {
                        switch (code) {
                            case "LH" || 'OS' || 'LX':
                                this.offlinePrice = this.data.prc.gds.tot.val - 350
                                break;
                            case "KL" || "AF":
                                this.offlinePrice = this.data.prc.gds.tot.val - 200
                                break;
                            case "PS":
                                this.offlinePrice = this.data.prc.gds.tot.val - 250
                                break;
                            case "B2":
                                this.offlinePrice = this.data.prc.gds.tot.val - 150
                                break;
                        }
                    } else {
                        switch (code) {
                            case "LH" || 'OS' || 'LX':
                                this.offlinePrice = this.data.prc.gds.tot.val - 350
                                break;
                            case "KL" || "AF":
                                this.offlinePrice = this.data.prc.gds.tot.val - 200
                                break;
                            case "PS":
                                this.offlinePrice = this.data.prc.gds.tot.val - 650
                                break;
                            case "B2":
                                this.offlinePrice = this.data.prc.gds.tot.val - 150
                                break;
                        }
                    }
                }
            },
            fillReqData() {
                this.reqData.bin = this.account.employee.company[0].BIN;
                this.reqData.mail = this.account.email;
                this.reqData.tel = this.account.employee.phone;
                this.reqData.org_name = this.account.employee.company[0].name;
                this.reqData.al = this.getSegment(0).al.oper.nm;
                this.reqData.est = this.data.prc.gds.est;
                this.reqData.rule = this.data.prc.rule.val;
                this.reqData.cur = this.data.prc.tot.cur;
                this.reqData.tot = this.data.prc.tot.val;
                this.reqData.frm = this.searchRequest.flts[0].frm;
                this.reqData.to = this.searchRequest.flts[0].to;
                this.reqData.dt1 = this.searchRequest.flts[0].dt;
                this.reqData.pnrs = this.searchRequest.pnrs;
                if (this.searchRequest.flts.length > 1) {
                    this. reqData.dt2 = this.searchRequest.flts[1].dt;
                }
            }
        }
    }

</script>

<style scoped lang="scss">
    .avia-ticket__footer {
        margin-top: 10px;
    }
    .another-time span {
        background-color: #4b77be;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #4b77be;

    }
    .another-time span:hover {
        background-color: white;
        color: #4b77be;
        transition: .4s ease;
    }
    .empty-box{
        width: 20%;
    }
    .grey-price {
        font-size: 13px;
    }
    .is-fastest {
        background-color: #22a2ff !important;
    }
    .is-cheepest {
        background-color: #2ecc71 !important;
    }
    .warning-icon {
        position: absolute;
        top: 0;
        left: 188px;
    }

    .booked {
        font-size: 16px;
        margin: auto;
    }

    .btn-main {
        background-color: #4b77be;
        font-size: 15px;
        padding: 10px 10px;
        line-height: 1.4;
        width: 100%;

        &:hover {
            color: #fff;
        }

        span {
            font-size: 14px;
            color: #fff;
        }
    }

    .offline-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
        cursor: pointer;

        p {
            margin: 0;
        }

        .off-text {
            font-size: 12px;
        }

        .off-price {
            color: #4b77be;
            font-size: 15px;
            text-underline: #4b77be;
            font-weight: 500;
        }
    }

    @media (max-width: 992px) {
        .avia-ticket{
            padding-top: 0;
        }
        .avia-ticket__stations{
            display: block;
            font-size: 9px;
            width: 100px;
        }
        .avia-ticket__type{
            width: auto;
        }
        .offline-prc {
            font-size: 9px;
            text-align: center;
            margin-top: 10px;
        }
        .offline-prc .off-text {
            margin: 0;
        }
        .offline-prc .off-price {
            color: #4b77be;
            font-size: 11px;
            margin: 0;
        }
        .another-time {
            background: transparent;
            color: #4b77be;
            border: 1px solid #4b77be;
        }
        .bag {
            display: flex;
            padding: 10px 10px 0 0;
        }
        .bag span {
            font-size: 9px;
        }
        .bag img {
            width: 15px;
        }
        .avia-ticket__footer-center .grey {
            margin: 0 20px;
            color: grey;
        }
        .avia-ticket__footer-center {
            width: 100%;
            padding: 13px 10px;
        }
        .ticket_bottom {
            padding: 0 8px 16px;
        }
        .ticket_bottom .ticket_bottom__btn {
            width: 145px;
            height: 40px;
            padding: 0;
            align-items: center;
            justify-content: center;
            font-size: 13px;
        }
        .ticket_bottom .ticket_bottom__btn span {
            font-size: 11px;
        }
        .avia-ticket__footer{
            height: auto;
        }
        .avia-ticket__footer button {
            width: 50%;
        }
        .warning-icon{
            left: 45%;
            top: 4px;
        }
        .offline-price .off-text {
            font-size: 9px;
        }
        .offline-price .off-price {
            font-size: 10px;
        }
        .avia-ticket__price{
            position: relative;
            top: 0;
            padding: 0;
        }
        .avia-ticket__body {
            flex-direction: row;
            align-items: center;
        }
        .grey-price {
            font-size: 9px;
        }
        .avia-ticket__body {
            display: flex;
        }
        .is-fastest {
            display: block;
            background-color: #fff !important;
            background: url("../../assets/blue-fast.svg") no-repeat center / cover;
            border-radius: 0;
            width: 130px;
            font-size: 9px;
        }
        .is-cheepest {
            display: block;
            background-color: #fff !important;
            background: url("../../assets/green-cheep.svg") no-repeat center / cover;
            border-radius: 0;
            width: 130px;
            font-size: 9px;
        }
        .mobile-details {
            display: flex;
            align-items: center;
            background: #FF8A1F;
            border-radius: 0px 0px 4px 0px;
            height: 100%;
            justify-content: center;
            width: 33%;

            .price {
                font-weight: 600;
                font-size: 14px;
                color: #fff;
            }
        }

        .line-div {
            background-color: rgba(65, 138, 212, 0.1);
            width: 1px;
            height: 24px;
        }
    }
</style>
