<template>
  <div>
    <h1>News</h1>
    <div class="container">
      <ul>
        <li v-for="item in news" :key="item.id">{{item.title}}</li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  /*async fetch({ store }) {
    try {
      //if (store.getters["news/news"].length === 0) {
        await store.dispatch("news/GET_NEWS");
     // }
    } catch (e) {
      console.error(e);
    }
  },*/
  computed: {
    news() {
      return this.$store.getters["news"];
    }
  }
};
</script>
