$blue: #4b77be
$grey: #c6d0dc
$red: #ed747f

.blue
    color: $blue
body
    font-family: 'Roboto', sans-serif !important
    background-color: #f8f9fa !important
.clickable
    cursor: pointer

h1
    @media (max-width: 992px)
        font-size: 24px

.date-direction
    @media (max-width: 992px)
        margin-top: 7.5px

.widget-container
    @media (max-width: 992px)
        border: 0 !important

.widget
    background-color: #418ad4
    padding: 10px 0 30px 0
    &__search

        .dropdown-passengers
            width: 100%

            .dropdown-toggle
                padding: 0
                border-color: #6CB9FF
                &:focus
                    outline: 3px solid #6CB9FF !important
                    outline-offset: 0px
                    border-radius: 0 !important

                    .input-select-class
                        height: 100%

        input
            width: 100%
            position: relative
            font-size: 14px
            line-height: 0.79
            color: #434343
            padding: 0 12px
            border: 0
            outline: none !important
            cursor: pointer
            height: 50px
            z-index: 2
            &.input-dep
                border-radius: 4px 0px 0px 4px
            &.input-select-class
                border-radius: 0 4px 4px 0
            &.input-arr
                padding-left: 22px
            &:focus
                outline: 3px solid #6CB9FF !important
                outline-offset: 0px
                border-radius: 0 !important
            @media (max-width: 992px)
                width: 100%

        &__swap-btn
            position: absolute
            right: -18px
            top: 7px
            width: 36px
            height: 36px
            z-index: 10
            transition: transform .2s
            cursor: pointer
            &:hover
                transform: scale(1.1)
    &__time
        padding-bottom: 15px
        .date-time
            padding: 8px 15px
            text-align: center
            width: 100% !important
            -webkit-transition: .5s
            -moz-transition: .5s
            -ms-transition: .5s
            -o-transition: .5s
            transition: .5s
            border-bottom: 1px solid transparent
            &:not(:last-child)
                border-right: solid 1px #e0e7f4
            p
                margin: 0
                font-size: 16px
                line-height: 1.19
                color: #434343
            span
                display: block
                font-size: 12px
                line-height: 1.17
                color: #9eacc4
            &:hover
                background-color: rgba(75, 119, 190, 0.06)
                border-bottom: 1px solid $blue
                p
                    color: $blue

.prices
    padding-bottom: 40px
    &-toggle
        padding: 12px 24px
        background-color: $blue
        border: 1px solid $blue
        color: white
        border-radius: 8px
        cursor: pointer
        outline: none !important
        font-size: 12px
        text-transform: uppercase
        &--show
            position: absolute
            top: 0
            right: 0
        &.active
            background-color: white
            color: $blue
        &--right
            border-top-left-radius: 0
            border-bottom-left-radius: 0
        &--left
            border-top-right-radius: 0
            border-bottom-right-radius: 0
    th
        background-color: rgba(158, 172, 196, .2)

.avia-tickets
    padding-top: 24px
    padding-bottom: 24px
    @media (max-width: 992px)
        padding: 24px 15px !important

.widget
    &__filter
        padding-top: 32px

        button
            background-color: white
        .dropdown
            margin-right: 30px
            @media (max-width: 992px)
                margin-right: 5px
    .dropdown-menu
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
        border-radius: 0 0 4px 4px
        border: 0
        padding: 16px 19px

    .dropdown-item, .dropdown-item--secondary
        background-color: white
        cursor: pointer
        font-size: 14px
        line-height: 0.79
        outline: none
        color: #434343
        border: 0
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        -webkit-transition: .3s
        -moz-transition: .3s
        -ms-transition: .3s
        -o-transition: .3s
        transition: .3s
        &:hover
            background-color: #f5f6f8
        span
            color: #434343
        &--secondary
            display: flex
            align-items: center
            justify-content: space-between
            padding: 6px 0
            span
                margin-right: 10px
                span
                    display: block
                    font-size: 11px
                    line-height: 1.4
                    color: #9eacc4
            &:hover
                background-color: white
    .dropdown-toggle
        font-size: 14px
        cursor: pointer
        outline: none !important
        line-height: 0.79
        color: #434343
        padding: 4px
        border: 0 !important

        @media (max-width: 992px)
            font-size: 13px
.vert-line
    position: relative
    &::after
        content: ''
        position: absolute
        background-color: #e0e7f4
        height: 120px
        width: 1px
        left: 0
        top: 50%
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        transform: translateY(-50%)
        @media (max-width: 992px)
            display: none
.avia-ticket
    position: relative
    background-color: white
    margin-bottom: 24px
    min-height: 135px
    border-radius: 10px
    box-shadow: 0 4px 10px 0 rgba(158, 172, 196, 0.09)
    display: flex
    //align-items: center
    flex-direction: column
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    @media (max-width: 992px)
        position: relative
        display: block
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15)
        border-radius: 4px
        padding-top: 4px
        min-height: 120px

    &__stations
        font-size: 12px
        line-height: 2.5
        text-align: center
        color: #ffffff
        width: 170px
        background-color: $blue
        border-top-left-radius: 10px
        border-bottom-right-radius: 10px
        @media (max-width: 992px)
            display: none
    &__info
        display: flex
        justify-content: space-between
        > .vert-line-body
            &::after
                left: 30%
    &__footer
        width: 100%
        display: flex
        justify-content: space-between
        padding-bottom: 16px
        .time
            width: 24%
            text-align: center
            margin: 0
            cursor: pointer
        @media (max-width: 992px)
            align-items: center
            height: 40px
            padding: 0
            background: #EFF7FF
            border-radius: 0px 0px 4px 4px

            .time
                width: 33%
                font-size: 10px
                color: #4097EE
        &-center
            width: 48%
            display: flex
            justify-content: space-between
            align-items: center
            @media (max-width: 992px)
                width: 33%
                justify-content: center
            .grey
                font-size: 14px
                line-height: 1.2
                color: #9eacc4
                display: block
                @media (max-width: 992px)
                    color: #4097EE
                    font-size: 10px
                    height: 100%

        .bag
            display: flex
            justify-content: center
            width: 23%
            align-items: center

            img
                width: 18px
            span
               font-size: 12px
            @media (max-width: 992px)
                display: none
    &__content
        width: 78%
        @media (max-width: 992px)
            width: 100%

    &__body
        display: flex
        justify-content: space-between
        align-items: flex-start
        position: relative

        @media (max-width: 992px)
            padding-right: 0
            flex-direction: column
            border-bottom: solid 1px #e0e7f4

        &__logo
            width: 30%
            display: block
            margin: auto
            text-align: center
            height: 100%

            img
                max-width: 115px
                display: block
                margin: auto !important

            @media (max-width: 992px)
                padding: 10px 0 0 10px
                justify-content: flex-start
                width: auto
                margin: 0
                img
                    max-width: 90px
        &__time
            display: block
            width: 100%
            text-align: center
            padding-bottom: 10px
            margin: 0
            cursor: pointer
            padding-left: 25px
            font-size: 14px
    &__price
        text-align: center
        position: relative
        display: flex
        width: 23%
        flex-direction: column
        justify-content: space-around
        padding: 16px 16px 30px 16px

        @media (max-width: 992px)
            margin: 0
            padding-right: 16px
            display: block
            position: absolute
            top: 20px
            right: 0
            width: auto
        span
            font-size: 12px
            line-height: 0.92
            color: #434343
        &__value
            font-size: 24px
            line-height: 1
            margin: 15px 0
            color: #434343
            cursor: pointer
            &:hover
                color: $blue

            @media (max-width: 992px)
                color: $blue
                font-size: 16px
                font-weight: 700
                margin: 0

    &__date
        width: 70%
        padding: 12px 30px
        display: flex
        align-items: center
        justify-content: space-between
        @media (max-width: 992px)
            width: 100%
            padding: 10px
        .grey
            font-size: 14px
            line-height: 1.2
            color: #9eacc4
            display: block
            @media (max-width: 992px)
                font-size: 9px
        .time
            font-size: 24px
            line-height: 1.2
            color: #000000
            display: block
            padding-top: 4px
            @media (max-width: 992px)
                font-size: 18px
                font-weight: 600
                color: #06294B
    &__type

        @media (max-width: 992px)
            width: 100%
            justify-content: flex-start
            display: none

    .dropdown-toggle
        font-size: 14px
        cursor: pointer
        outline: none !important
        line-height: 0.79
        color: #434343
        padding: 4px
        border: 0 !important

.avia--ticket-price
    @media (max-width: 992px)
        margin-left: 16px
        margin-right: 16px

.flight-info, .avia-ticket__date
    .text-center
        span:first-child
            font-size: 14px
            line-height: 1.2
            color: #343434
            display: block
            border-bottom: solid 1px #c3d1e8
            margin-bottom: 5px
            padding-bottom: 5px
            position: relative
            &:after
                content: ''
                left: 0
                position: absolute
                width: 5px
                height: 5px
                border: solid 1px #c3d1e8
                background-color: #ffffff
                border-radius: 50%
                bottom: -2.5px

            &:before
                content: ''
                right: 0
                position: absolute
                width: 5px
                height: 5px
                border: solid 1px #c3d1e8
                background-color: #ffffff
                border-radius: 50%
                bottom: -2.5px

            @media (max-width: 992px)
                font-size: 11px
                line-height: 1
        span:last-child
            display: block
            font-size: 12px
            line-height: 1.4
            color: #343434
            @media (max-width: 992px)
                line-height: 1.1
                font-size: 9px

.container
    padding-left: 0 !important
    padding-right: 0 !important
    @media (max-width: 992px)
        padding-left: 15px !important
        padding-right: 15px !important

.counter
    display: flex
    align-items: center
    &__sign
        width: 25px
        height: 25px
        border-radius: 50%
        background-color: #418AD4
        display: flex
        align-items: center
        justify-content: center
        //padding-bottom: 5px
    &__number
        width: 32px
        text-align: center

#dd-passengers
    .dropdown-menu
        min-width: 325px
    .dropdown-item--secondary
        margin-top: 5px
        margin-bottom: 5px


.element__search
    position: relative
    width: 19.5%
    padding: 0 1.5px
    @media (max-width: 992px)
        margin: 7.5px 0
    .list
        z-index: 110
        position: absolute
        width: 320px
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2)
        border-radius: 0px 0px 4px 4px
        margin: 0
        background-color: white
        overflow: auto
        box-sizing: border-box
        max-height: 300px
        display: none
        list-style: none
        padding: 0
        @media (max-width: 992px)
            width: 100%
        li
            border-bottom: 1px solid #E3EAF4
            a
                cursor: pointer
                color: #000000
                padding: 12px
                display: flex
                align-items: center

                img
                    padding-right: 7px
                span
                    margin-left: auto
                    color: rgba(0, 0, 0, 0.5)
                    text-transform: uppercase
                    font-size: 12px
                .airport
                    text-transform: unset
                    margin-left: unset
                    font-size: 14px
                &:hover
                    background-color: #E7F3FF
            .city
                //border-bottom: none
            .code
                padding-left: 20px

    &.active
        .list
            display: block


.element__class
    width: 15%
    padding: 0 1.5px

.element__button
    margin-left: auto
    width: 15.5%

.element__calendar
    width: 29%
.anotherTimeModal
    .modal-content
        border: 0
        border-radius: 10px

.atm
    &__head, &__foot
        padding: 24px 24px 24px 40px
        h3
            font-size: 20px
            color: #434343
            font-weight: 400
            span
                color: #4b77be
        .close
            line-height: 1.19
            cursor: pointer
            font-size: 16px
            font-weight: 400
            color: #9eacc4
        @media (max-width: 992px)
            padding: 16px 16px 16px 24px
            h3
                font-size: 14px
    &__foot
        border-bottom: 0
    &__body
        border-bottom: solid 1px #e0e7f4
        border-top: solid 1px #e0e7f4
        padding: 16px 0
        //border-bottom: solid 1px #e0e7f4
        &__location
            font-size: 16px
            line-height: 1.05
            color: #434343
            padding-left: 30px
            padding-right: 30px

.elements__date
    text-align: left
    position: relative

    .input-time-dep, .input-time-arr
        max-width: 180px
        @media (max-width: 992px)
            width: 100%
            max-width: none
    //z-index: 11
    .date--back
        right: 0
        left: auto
    i
        font-size: 18px !important
        display: block
        width: 100%
        text-align: center
        line-height: 24px
    .error
        border: 1px solid #FF6534 !important
    .list
        padding-left: 0
        width: 100%
        margin: 0
    p
        margin: 0
    &__title
        font-weight: 500
    &__input
        height: 34px
        margin-top: 5px
    .cont
        //max-width: 100%
        z-index: 2
        width: 400px
        display: none
        position: absolute
        padding: 20px 10px
        border-radius: 3px
        top: calc(100% + 5px)
        background-color: #FFF
        box-shadow: 0 10px 20px rgba(117, 117, 117, 0.25)
        @media (max-width: 992px)
            width: 100%
        .row-s
            li.range:not(.hidden)
                background-color: $blue
                color: white !important
                opacity: .5
                //&:last-child, &:first-child
                //    opacity: 1 !important
            .col-6
                width: calc((100% - 30px) / 2)
                &:last-child
                    margin: 0
            &:first-child
                text-align: center
                margin-bottom: 10px
                .col-6
                    line-height: 24px
                    position: relative
                    p
                        color:
                        font-size: 15px
                        text-transform: capitalize
                        @media (max-width: 992px)
                            font-size: 12px
                    ul
                        top: 0
                        /*width: 100%*/
                        text-align: left
                        position: absolute

                        li
                            float: left
                            width: 24px
                            height: 24px
                            cursor: pointer
                            vertical-align: top
                            border-radius: 100px
                            display: inline-block
                            background-repeat: no-repeat
                            box-shadow: 0 0 4px rgba(117, 117, 117, .5)
                            -webkit-transition: .4s
                            -moz-transition: .4s
                            -ms-transition: .4s
                            -o-transition: .4s
                            transition: .4s
                            text-align: center
                            i
                                color: $blue
                            /*background-image: url('../../assets/static/images/icons/arrows.date.svg')*/
                            &.next
                                float: right
                                background-position: -17px 6px

                                &:hover
                                    background-position: -17px -17px
                            &.previous
                                background-position: 7px 6px

                                &:hover
                                    background-position: 7px -17px
                            &:hover
                                background-color: $blue
                                i
                                    color: white
                    &:first-child
                        ul
                            li:last-child
                                display: none
                    &::after
                        content: ''
                        clear: both
                        display: block
                    &:last-child
                        ul
                            right: 15px
            &:nth-child(2)
                .col-md-6
                    .row
                        ul
                            font-size: 0
                            li
                                color: #757575
                                font-size: 14px
                                cursor: pointer
                                line-height: 20px
                                text-align: center
                                border-radius: 8px
                                width: calc(100% / 7)
                                display: inline-block
                                border: 1px solid #FFF
                                box-sizing: border-box
                                &.active
                                    color: #FFF
                                    background-color: $blue
                                &.previous
                                    color: #FFF
                                    opacity: .5
                                    background-color: $blue
                                &.disable
                                    opacity: .5
                                    cursor: default
                                &.hidden
                                    opacity: 0
                                    cursor: default
                        &:first-child
                            margin-bottom: 5px

                            ul > li
                                color: #000
                                cursor: default
                        &:last-child
                            ul > li
                                &:not(.disable):hover
                                    border-color: #757575
        &.active
            display: block
        span
            color: #FFF
            display: block
            font-size: 13px
            font-weight: bold
            text-transform: uppercase
        input
            width: 100%
            height: 34px
            border: none
            outline: none
            color: #212121
            padding: 0 10px
            cursor: pointer
            font-size: 12px
            border-radius: 3px
            padding-right: 36px
            box-sizing: border-box
            text-transform: uppercase
            background-size: 16px 16px
            background-repeat: no-repeat
            background-position: calc(100% - 10px) center
            /*background-image: url('../../assets/static/images/icons/calendar.date.svg')*/
            &.error
                border: 1px solid #FF6534 !important
                background-color: #fff0eb !important



.modal-content
  border: 0 !important
  border-radius: 12px !important
.modal-body
  padding: 0 !important
  border: 0 !important

.anotherTimeModal
    .modal-lg
        @media (min-width: 992px)
            max-width: 700px
    .grey
        font-size: 14px
        line-height: 1.2
        color: #9eacc4
        display: block
        @media (max-width: 992px)
            font-size: 12px
    .time
        font-size: 24px
        line-height: 1.2
        color: #000000
        display: block
        text-align: right
        @media (max-width: 992px)
            text-align: left
            font-size: 18px
    thead
        tr
            height: 40px
    tr
        height: 70px
        -webkit-transition: .3s
        -moz-transition: .3s
        -ms-transition: .3s
        -o-transition: .3s
        transition: .3s
        &:hover
            background-color: #f5f6fa
        td
            &:first-child
                width: 80px
                padding-left: 30px
            &:nth-child(2)
                width: 90px
            &:nth-child(3)
                text-align: center
            &:nth-child(4)
                width: 160px


.radio
    input[type="radio"]
        position: absolute
        opacity: 0
        top: 0
        left: 0

    input[type="radio"] + .radio-label:before
        content: ''
        background: #f4f4f4
        border-radius: 100%
        border: 1px solid #b4b4b4
        display: inline-block
        width: 1.2em
        height: 1.2em
        position: absolute
        top: 12%
        margin-right: 1em
        vertical-align: top
        cursor: pointer
        text-align: center
        transition: all 250ms ease
    input[type="radio"]:checked + .radio-label:before
        background-color: $blue
        box-shadow: inset 0 0 0 4px #f4f4f4
    input[type="radio"]:focus + .radio-label:before
        outline: none
        border-color: $blue
    input[type="radio"]:disabled + .radio-label:before
        box-shadow: inset 0 0 0 4px #f4f4f4
        border-color: #b4b4b4
        background: #b4b4b4
    input[type="radio"] + .radio-label:empty:before
        margin-right: 0

.btn-main
    font-size: 16px
    line-height: 0.93
    color: #ffffff
    border-radius: 4px
    padding: 13px 30px
    cursor: pointer
    outline: none !important
    border: 0
    &--blue
        background-color: $blue


.container-shadow
    border-radius: 10px
    box-shadow: 0 4px 10px 0 rgba(158, 172, 196, 0.09)
    background-color: #ffffff
    padding: 32px
    margin-bottom: 24px

    @media (max-width: 992px)
        padding: 16px
        border-radius: 0
        box-shadow: none
        border: none
        margin-bottom: 20px

////Book

.book
    &__tariff
        display: flex
        align-items: flex-start
        justify-content: space-between
        p
            margin: 0
            font-size: 18px
            line-height: 1.33
            color: #434343
        &__status
            font-size: 14px
            line-height: 1.14
            color: #bdc4d3
        > div:nth-child(2)
            text-align: right

.page
    min-height: 50vh
    padding-top: 50px


.page--book
    .passenger
        &__title
            font-size: 20px
            font-weight: 500
            line-height: 0.84
            color: #434343
            margin-bottom: 24px
        label
            font-size: 16px
            line-height: 1.05
            color: #434343
            display: block
            //font-weight: 300
            margin: 0
        input, select
            height: 40px
            background-color: white
            border-radius: 4px
            border: solid 1px #c6d0dc
            padding: 10px 15px
            font-size: 16px
            line-height: 1.2
            outline: none !important
            font-weight: 300
            margin-top: 8px
            width: 100%
            -webkit-transition: .3s
            -moz-transition: .3s
            -ms-transition: .3s
            -o-transition: .3s
            transition: .3s
            color: black
            &::placeholder
                color: $grey
            &:hover
                border-color: $blue
        &__body
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 16px
            > div
                width: 100%
                margin-right: 16px
        &__warn
            font-size: 14px
            line-height: 1.57
            color: #434343
            margin: 0
            span
                font-weight: 500
        &__line
            height: 2px
            width: calc(100% + 64px)
            background-color: #e0e7f4
            display: block
            margin: 24px -32px
        &__footer
            display: flex
            align-items: center
            justify-content: space-between
            > div
                width: 100%
                margin: 0 30px
            span
                font-size: 14px
                line-height: 0.79
                color: #9eacc4
            p
                margin-bottom: 6px
                font-size: 16px
                font-weight: 500
                line-height: 0.69
                color: #434343


.buyer
    &__title
        font-size: 20px
        font-weight: 500
        line-height: 0.84
        color: #434343
        margin-bottom: 24px
    label
        font-size: 16px
        line-height: 1.05
        color: #434343
        display: block
        //font-weight: 300
        margin: 0
    small
        font-size: 11px
        line-height: 1.53
        color: #c6d0dc
    .input-custom
        border-radius: 4px !important
        border: solid 1px #c6d0dc !important
        padding: 10px 15px
        font-size: 16px
        line-height: 1.2
        outline: none !important
        font-weight: 300
        margin-top: 8px
        width: 100%
        -webkit-transition: .3s
        -moz-transition: .3s
        -ms-transition: .3s
        -o-transition: .3s
        transition: .3s
        color: black
        &::placeholder
            color: $grey
        &:hover
            border-color: $blue
    &__body
        display: flex
        justify-content: space-between
        margin-bottom: 16px
        > div
            width: 100%
            margin-right: 16px
        @media (max-width: 992px)
            flex-direction: column
            > div
                margin-right: 0

    &__line
        height: 2px
        width: calc(100% + 64px)
        background-color: #e0e7f4
        display: block
        margin: 24px -32px
        @media (max-width: 992px)
            width: auto
            margin: 0
    &__footer
        display: flex
        align-items: center
        justify-content: flex-start
        p
            margin: 0
            font-size: 14px
            line-height: 0.79
            span
                color: #4b77be

.modal-custom
    .modal-content
        border-radius: 10px
        box-shadow: 0.7px 0.8px 1px 0 rgba(0, 0, 0, 0.09)
        border: 0
    &__head
        padding: 22px 26px 22px 40px
        background-color: $blue
        border-top-right-radius: 10px
        border-top-left-radius: 10px
        h3
            font-size: 18px
            line-height: 0.84
            color: white
            font-weight: 400
            span
                color: white
        .close
            line-height: 1.19
            cursor: pointer
            font-size: 16px
            font-weight: 400
            color: white
    &__body
        padding: 24px 40px
        position: relative
    .ph-14
        font-size: 14px
    .ph-16
        font-size: 16px

#flight-info-modal
    .modal-dialog
        max-width: 880px

.flight-info
    &__date,
    &__city,
    &__airport
        display: block
        font-size: 14px
        line-height: 1.4
        margin: 4px 0
        color: #434343
    &__time
        font-size: 24px
        line-height: 1.2
        color: #000000

    &__range
        span
            &:first-child
                font-size: 14px
                line-height: 1.2
                color: #343434
                padding-bottom: 10px
                margin-bottom: 10px
            &:last-child
                border-top: solid 1px #c3d1e8
                display: block
                font-size: 12px
                line-height: 1.4
                color: #343434
    &__tariff
        font-size: 16px
        line-height: 1.06
        color: #434343
        display: block
        margin: 25px 0
    &__secondary
        padding-left: 15px
        p
            margin: 0
            font-size: 14px
            line-height: 1.7
            color: #434343
            display: flex
            justify-content: space-between

    &__detail
        display: flex
        align-items: center
        width: 30%
        padding: 6px 0
        font-size: 12px
        line-height: 0.92
        color: #434343
        img
            margin-right: 10px


.table-dates
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    td
        vertical-align: middle
        font-size: 14px
        line-height: 1
        color: #434343
        -webkit-transition: .3s
        -moz-transition: .3s
        -ms-transition: .3s
        -o-transition: .3s
        transition: .3s
        &:hover
            color: #2ecc71
            background-color: rgb(245, 252, 247)
    th
        span
            font-weight: 400
            font-size: 12px
            display: block
            &:first-child
                color: #9eacc4
                text-transform: uppercase
            &:last-child
                color: #434343


.tooltip .tooltip-inner
    max-width: 300px !important
    width: 300px !important
.b-tool
    //padding: 20px
.page-enter-active,
.page-leave-active
    transition: 0.4s


.page-enter,
.page-leave-active
    opacity: 0
.header .btn-group > .btn, .btn-group-vertical > .btn
    padding: 0

.header .drop-wrapper
    padding: 6px 0 6px 0

.header .drop-item
    width: 100%
    padding: 6px 18px 6px 18px
    cursor: pointer
    display: block
    color: #000

    &:hover
        background-color: rgba(65, 138, 212, 0.15)
#dropdown-cabinet .dropdown-menu
    width: 200px

.header

    .drop-wrapper
        position: relative

    .drop-wrapper:before,
    .drop-wrapper:after
        content: ""
        position: absolute
        display: block
        width: 0
        height: 0
        border-width: 7px 8px
        border-style: solid
        border-color: transparent
        z-index: 1001

    .drop-wrapper:after
        top: -20px
        left: 45%
        border-bottom-color: #fff

    .drop-wrapper:before
        top: -20px
        left: 45%
        border-bottom-color: rgba(0,0,0,.15)

.asd__action-buttons button:nth-child(2)
    width: 95%
    border: 1px solid #418AD4
    border-radius: 4px
    color: #2E6EAF
    padding: 12px 0
    right: unset
    font-size: 14px
    float: none
    margin: 0 auto
    transition: .2s ease all
    &:hover
        text-decoration: none
        background-color: #2E6EAF
        color: #fff !important

    &:focus
        outline: none

@media (max-width: 750px)

    #dd-passengers .dropdown-menu
        min-width: 250px
        width: 100%

    .page
        min-height: 0
        padding-top: 0
