<template>
    <div class="bg-light">
        <notifications group="warn" />
        <Nav />
        <nuxt />
        <Footer />

        <ErrorModal :error="error" ref="errorModal" />
        <ChangedInfoModal :troubleshoot="troubleShoot" ref="troubleShootModal" />
        <ExpiredTimeModal ref="expiredModal" :title="'expired_time'" :doRefresh="true"/>

    </div>
</template>
<script>
    import Nav from "@/components/shared/Nav";
    import Footer from "@/components/shared/Footer";
    import ErrorModal from "@/components/modals/ErrorModal";
    import ChangedInfoModal from "@/components/modals/ChangedInfoModal";
    import ExpiredTimeModal from '@/components/modals/ExpiredTimeModal'

    export default {
        asyncData () {
            return new Promise((resolve) => {
                setTimeout(function () {
                    resolve({})
                }, 5000)
            })
        },
        middleware: ['auth'],
        components: {
            Nav,
            Footer,
            ErrorModal,
            ChangedInfoModal,
            ExpiredTimeModal
        },
        computed: {
            warning() { return this.$store.getters['notifications/getWarning'] },
            error() { return this.$store.getters['notifications/getError'] },
            loader () { return this.$store.getters['loader/getLoader'] },
            troubleShoot() { return this.$store.getters['notifications/getTroubleshoot'] },
        },
        watch: {
            warning() {
                if (this.warning.hasOwnProperty('type') && this.warning.hasOwnProperty('msg'))
                this.$notify({
                    group: 'warn',
                    type: 'warn',
                    duration: 5000,
                    title: this.warning.type,
                    text: this.warning.msg
                });
            },
            error() {
                if (this.error.hasOwnProperty('type') && this.error.hasOwnProperty('msg')) {
                    this.$refs.errorModal.open();
                    this.$store.dispatch('loader/SET_LOADER', false);
                }
            },
            troubleShoot() {
                if (this.troubleShoot.hasOwnProperty('rsns') && this.troubleShoot.hasOwnProperty('info')) {
                    this.$refs.troubleShootModal.open();
                }
            }
        },
        created() {
            this.$eventBus.$on('setExpiredTime', time => {
                setTimeout( () => {
                    this.$refs.expiredModal.open();
                }, time);
            })
        }
    };
</script>
<style>
    html {
        font-family: 'Roboto', sans-serif;
    }
</style>

