<template>
  <div class="col-md-8 offset-md-2">
    <h1 v-if="error.statusCode === 404">Страница не найдена</h1>
    <h1 v-else>Возникла ошибка</h1>
    <nuxt-link to="/">На главную</nuxt-link>
  </div>
</template>

<script>
    export default {
        props: ['error'],
        //layout: 'blog'
    }
</script>
