<template>
  <div>
    <h1>Our company is Transavia.kz and this is avia company in Kazakhstan</h1>
  </div>
</template>
<script>
  export default {
      head () {
          return {
              title: 'About Us',
              meta: [
                  { hid: 'description', name: 'description', content: 'About our company' }
              ]
          }
      },
  }
</script>
