<template>
    <div>
        <div v-if="loader">
            <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
        </div>
        <div v-else>
            <Widget/>
<!--            <div class="container">-->
<!--                <img src="../assets/main.jpg" alt="" class="img-fluid">-->
<!--            </div>-->
            <div class="page">

                <div v-if="ticketsNotFounded" class="container d-flex justify-content-center">
                    <h2>No tickets found</h2>
                </div>

            </div>
        </div>


    </div>
</template>

<script>
    import Widget from "@/components/Widget";
    export default {

        components: {
            Widget
        },
        computed: {
            loader () { return this.$store.getters['loader/getLoader'] },
            ticketsNotFounded () { return this.$store.state.requestData.ticketsNotFound },
        }
    };
</script>

<style lang="scss" scoped>
    .dot-loader {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
    @media (max-width: 750px) {
        .dot-loader {
            left: 45%;
        }
    }

</style>

