<template>
    <b-modal size="lg" :id="'anotherTimeModal' + $vnode.key" tabindex="-1" role="dialog" :hide-header="true" :hide-footer="true" aria-hidden="true" content-class="another-time-modal">
          <div class="anotherTimeModal">
            <div class="atm__head d-flex align-items-center justify-content-between">
                <h3 class="m-0">{{ $tc('flights') }}
                    <b>
                        {{ getDepCityCode() }} -
                        {{ getArrCityCode() }} -
                        {{ getDepCityCode() }}
                    </b>
                    {{$tc('for')}}
                    <span> <b>{{spaceInCost(ticket.prc.tot.val)}}</b> {{ ticket.prc.tot.cur.sym }}</span>
                </h3>
              <span class="close-modal" @click="$bvModal.hide('anotherTimeModal' + $vnode.key)" aria-label="Close">{{$tc('close')}}</span>
            </div>
            <div v-if="ticket.coms[index] && ticket.coms[index].length" :key="index + 'b'" class="atm__body" v-for="(option, index) in ticket.coms">
              <template>
                <h4 class="title-another" v-if="option.length">
                  <template v-if="index === 0 && option.length">
                      <h3>Рейс Туда</h3>
                      {{ getDepCity() }} - {{ getArrCity() }}
                      <span class="text-code">{{ getDepCityCode() }} - {{ getArrCityCode() }}</span>
                  </template>
                  <template v-if="index === 1 && option.length">
                      <h3>Рейс Обратно</h3>
                      {{ getArrCity() }} - {{ getDepCity() }}
                      <span class="text-code">{{ getArrCityCode() }} - {{ getDepCityCode() }}</span>
                  </template>
                </h4>
                <div :key="index + 'a'" class="w-100 d-flex justify-content-between table-wrap" v-if="option.length">
                  <div>{{$tc('departure')}}</div>
                  <div class="pr-4">{{$tc('duration')}}</div>
                  <div>{{$tc('arrival')}}</div>
                </div>
                <template v-for="(item, id) in option">
                    <div :key="id + 's' + Math.random()" class="w-100 table-item d-flex align-items-center">
                      <label  :for="'radio-' + $vnode.key + index + id" @mousedown="setCombinationId(item.ref_no, index)" class="radio-container w-100 d-flex justify-content-between align-items-center">
                        <input type="radio" :id="'radio-' + $vnode.key + index + id" :name="'radio-' + $vnode.key + index" class="radio-button mr-4">
                        <div>
                          <span class="grey">{{item.segs[0].dep_dt | dateFormat('DD MMM, dd')}}</span>
                          <span class="time mt-1">{{item.segs[0].dep_dt | dateFormat('HH:mm')}}</span>
                        </div>
                        <div>
                          {{item.elap_t}}
                        </div>
                        <div>
                          <span class="grey">{{item.segs[item.segs.length-1].arr_dt | dateFormat('DD MMM, dd')}}</span>
                          <span class="time mt-1">{{item.segs[item.segs.length-1].arr_dt | dateFormat('HH:mm')}}</span>
                        </div>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                </template>
              </template>
            </div>
            <div class="atm__foot d-flex align-items-center justify-content-between">
              <h3 class="m-0">{{ $tc('price_for_all') }}:
                  <span style="color: #4b77be">{{spaceInCost(ticket.prc.tot.val)}} {{   ticket.prc.tot.cur.sym }}</span>
              </h3>
              <button v-if="ticket && ticket.coms"
                      class="btn-main btn-main--blue d-block"
                      @click="toAnotherTime(ticket.opts[0].seq_no)">{{$tc('form.choose')}}</button>
            </div>
          </div>
<!--        <pre>{{ticket}}</pre>-->
    </b-modal>
</template>

<script>
    import moment from 'moment'
    import $ from 'jquery'
    export default {
        name: 'AnotherTimeModal',
        props: ['anotherTimeId', 'ticket'],
        data () {
            return {
                myCombinationId: [0,0]
            }
        },
        computed :{
            comb_id() { return this.$store.getters['requestData/getCombinationId']}
        },
        methods: {
            setCombinationId(id, index) {
                this.myCombinationId[index] = id;
            },

            toAnotherTime (seq_no) {
                this.$emit('toTicket', {ticket: this.ticket,seq_no: seq_no,comb: this.myCombinationId});
                this.$bvModal.hide('anotherTimeModal' + this.$vnode.key)
            },
            open() {
              this.$bvModal.show('anotherTimeModal' + this.$vnode.key)
            },
            getArrCityCode() {
                return this.$store.getters['city/getArrCode'];
            },
            getDepCityCode() {
                return this.$store.getters['city/getDepCode'];
            },
            getArrCity() {
                return this.$store.getters['city/getArrCity'];
            },
            getDepCity() {
                return this.$store.getters['city/getDepCity'];
            },
            spaceInCost (value) {
                let myString = value.toString().split('').reverse();
                for (let i = 0; i < myString.length; i++) {
                    if (i % 4 === 0) {
                        myString.splice(i, 0, " ");
                    }
                }
                return myString.reverse().join('');
            }
        }
    }
</script>

<style scoped lang="scss">
    .atm__head {
        background-color: #4b77be;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .atm__head h3 {
        color: white;
    }
    .atm__head h3 span{
        color: white;
    }
    .atm__body h3 {
        color: #4b77be;
    }
    .active {
        background-color: #f5f6fa;
    }

    *, body {
        font-family: 'PT Sans', sans-serif;
    }

    .table-wrap {
        padding: 24px 80px 12px 80px;
    }
    .table-item {
        padding: 12px 80px 12px 40px;
    }
    .table-item:hover {
        background-color: #f5f6fa;
    }
    .radio-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .radio-container {
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-left: 40px;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 18px;
        left: 0;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: solid 1px #4b77be;
        background-color: #ffffff;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .radio-container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .radio-container .checkmark:after {
        top: 3px;
        left: 3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #4b77be;
    }

    .close-modal {
        color: white;
        cursor: pointer;
    }
    .close-modal:hover{
        transform: scale(1.05);
    }

    .text-code {
        color: #9eacc4;
        padding-left: 6px;
    }

    .title-another {
        padding-left: 40px;
        font-size: 16px;
    }

    label {
        margin-bottom: 0;
    }

    @media (max-width: 992px) {
        .title-another {
            padding-left: 24px;
            font-size: 14px;
        }
        .table-wrap {
            padding: 16px 32px 12px 32px;
        }
        .table-item {
            padding: 12px 32px 12px 24px;
        }
        .atm__foot {
            flex-direction: column;
            align-items: start !important;

            h3 {
                padding-bottom: 12px;
            }

            .btn-main {
                font-size: 14px;
                width: 100%;
            }
        }
        .close-modal {
            background: url("../../assets/close-icon-grey.png") no-repeat center;
            background-size: 12px 12px;
            width: 12px;
            height: 12px;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
    }
</style>
