<template>
    <b-modal id="changedInfoModal" tabindex="-1" role="dialog" :hide-header="true" :no-close-on-backdrop="true" :hide-footer="true" aria-hidden="true">
        <div class="modal-content" v-if="troubleshoot && troubleshoot.rsns[0] === 'SCHEDULE_CHANGE'">
            <div class="modal-header">
                <h5 class="modal-title" >
                    Изменилось время полета
                </h5>
            </div>
            <div class="m-body" v-if="troubleshoot.rsns[0] === 'SCHEDULE_CHANGE'">
                <p class="title">
                    В процессе вашего бронирования, авиакомпания
                    изменила время полета:
                </p>
                <div class="m-content">
                    <div class="m-date">
                        <h5>Старая дата</h5>
                        <p>{{troubleshoot.info.date.old | dateFormat('HH:mm')}}</p>
                        <span>{{troubleshoot.info.date.old | dateFormat('DD MMMM YYYY')}}</span>
                    </div>
                    <img src="../../assets/right-arrow-seriy.svg" alt="">
                    <div class="m-date m-date-2">
                        <h5>Новая дата</h5>
                        <p>{{troubleshoot.info.date.new | dateFormat('HH:mm')}}</p>
                        <span>{{troubleshoot.info.date.new | dateFormat('DD MMMM YYYY')}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content" v-else-if="troubleshoot">
            <div class="modal-header">
                <h5 class="modal-title" >
                    Изменилась цена полета
                </h5>
            </div>
            <div class="m-body">
                <div class="m-content">
                    <div class="m-2">
                        <h5>Старая цена</h5>
                        <p>{{ troubleshoot.info.prc.old.val }} {{ troubleshoot.info.prc.old.cur }}</p>
                    </div>
                    <div class="m-2">
                        <h5>Новая цена</h5>
                        <p>{{ troubleshoot.info.prc.new.val }} {{ troubleshoot.info.prc.new.cur }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" @click="getTickets">{{ $tc('continue') }}</button>
            <button class="btn btn-secondary" @click="toMain">{{ $tc('texts.new_search') }}</button>
        </div>
    </b-modal>
</template>
<script>
    export default {
        props: ['troubleshoot'],
        data() {
            return {
                reqData: null
            }
        },
        created() {
            this.$eventBus.$on('bookRequest', this.setRequestData)
        },
        methods: {
            open() {
                this.$bvModal.show('changedInfoModal')
            },
            hide() {
                this.$bvModal.hide('changedInfoModal')
            },
            toMain() {
                this.$router.push('/')
                this.hide()
            },
            setRequestData(data) {
                this.reqData = data
            },
            async getTickets() {
                let troubleRequest = {};
//                troubleRequest.pur = this.reqData.pur;
//                troubleRequest.pnrs = this.reqData.pnrs;
                troubleRequest.sess_id = this.reqData.sess_id;
                troubleRequest.search_id = this.reqData.search_id;
                troubleRequest.gds = this.reqData.gds;
                troubleRequest.ref_no = this.troubleshoot.ref_no;
                this.$store.dispatch('loader/SET_LOADER', true);
                this.$bvModal.hide('changedInfoModal');
                const resData = await this.$store.dispatch('tickets/getTicket', troubleRequest);
                if (resData.hasOwnProperty('sts') && resData.sts === 'success') {
                    this.$store.dispatch('requestData/SET_BOOK', resData);
                    this.response = resData;
                    this.$router.push('/book')
                    this.$store.dispatch('loader/SET_LOADER', false);
                }
                this.$store.dispatch('loader/SET_LOADER', false);
            }
        }
    }
</script>
<style lang="scss" scoped>
    .btn-primary {
        width: 200px;
    }

    .modal-footer {
        justify-content: space-between;
        padding: 15px 30px;
    }

    .modal-body {
        max-width: 400px;
    }

    h5 {
        margin-bottom: 5px;
    }

    .modal-title {
        text-align: center;
    }
    .modal-header {
        justify-content: center;
    }

    .m-body {
        padding: 15px 30px;

        .title {
            font-size: 14px;
            color: #292929;
            text-align: center;
            margin-bottom: 5px;
        }
    }

    .m-date {
        h5 {
            font-size: 14px;
            font-weight: 500;
        }
        p {
            font-size: 20px;
            margin-bottom: 5px;
        }

        span {
            font-size: 14px;
            font-weight: 400;
        }
    }

    .m-date-2 {
        text-align: right;
    }
    .m-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .modal-footer .btn-primary {
        width: 150px;
    }
</style>
