<template>
    <b-modal size="md" :id="$vnode.key + 'check'" tabindex="-1" role="dialog" :hide-header="true" :hide-footer="true" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Данный билет недоступен
                </h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" @click="hide">{{ $tc('continue') }}</button>
                <button class="btn btn-secondary" @click="toMain">{{ $tc('texts.new_search') }}</button>
            </div>
        </div>
    </b-modal>
</template>
<script>
    export default {
        props: ['title'],
        methods: {
            open() {
                this.$bvModal.show(this.$vnode.key + 'check')
            },
            hide() {
                this.$bvModal.hide(this.$vnode.key + 'check')
            },
            toMain() {
                this.$router.push('/')
                this.hide()
            }
        }
    }
</script>
<style scoped>
    .btn-primary {
        width: 200px;
    }

    .modal-footer {
        justify-content: space-between;
    }
</style>
