<template>
    <b-modal size="xl" :id="'flightInfoModal' + $vnode.key" :hide-header="true" :hide-footer="true" content-class="flight-info-modal">
                <div class="modal-custom__head d-flex align-items-center justify-content-between">
                    <h3 class="m-0">{{ $tc('details.details_f') }}</h3>
                    <div class="close-icon" @click="$bvModal.hide('flightInfoModal' + $vnode.key)">
                        <img src="../../assets/close-icon-white.svg" alt="">
                    </div>
                </div>

        <div v-if="mode === 'cabinet'" :key="index + 'cb'" v-for="(ticket_single, index) in ticket"  class="modal-custom__body flight-info">
            <h4 :key="id + 'fl'">{{$tc('details.flight')}} {{index === 0 ? 'Туда' : 'Обратно'}}</h4>
            <template v-for="(segment, id) in ticket_single.segs">
                        <div :key="id + 'seg'" class="d-flex align-items-center justify-content-between my-3">
                            <div>
                                <span class="flight-info__ari-company mr-2">{{ $tc('details.company') }}</span>
                                <span v-if="segment" style="color: #4b77be">{{ segment.al.nm }}</span>
                            </div>
                            <div>
                                <img v-if="segment.al.lg"
                                     :src="'https://avia.test.transavia.kz/media/' + segment.al.lg"
                                     class="img-fluid" style="width: 100px" alt="">
                                <img v-else style="height: 40px" src="@/assets/ALlogo.png" alt="">
                            </div>
                        </div>
                        <div :key="id + 'time'" class="row mb-3">
                            <div class="col-md-8 d-flex align-items-start justify-content-between">
                                <div class="">
                                    <span class="flight-info__time">
                                        {{segment.dep.dt | dateFormat('HH:mm')}}
                                    </span>
                                    <span class="flight-info__date">
                                        {{segment.dep.dt | dateFormat('DD MMMM, YYYY, dddd')}}
                                    </span>
                                    <span class="flight-info__city">
                                        {{segment.dep.ap}}
                                    </span>
                                    <span class="flight-info__airport">
                                            {{segment.dep.ap}}
                                            {{segment.dep.ap}}
                                        </span>
                                </div>
                                <div class="text-center">
<!--                                    <span class="">{{ticket_single.elap_t}}</span>-->
<!--                                    <span v-if="ticket_single.segs.length === 1">{{ $tc('direct_flight') }}</span>-->
<!--                                    <span v-else>{{ $tc('direct_flight_stop') }}</span>-->
                                    <span>{{ $tc('direct_flight') }}</span>

                                </div>
                                <div class="text-right">
                                    <span class="flight-info__time">
                                        {{segment.arr.dt | dateFormat('HH:mm')}}
                                    </span>
                                    <span class="flight-info__date">
                                        {{segment.arr.dt | dateFormat('DD MMM, YYYY, dddd')}}
                                    </span>
                                    <span class="flight-info__city">
                                        {{segment.arr.ap}}
                                    </span>
                                    <span class="flight-info__airport">
                                        {{segment.arr.ap}}
                                        {{segment.arr.ap}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="flight-info__secondary">
                                    <p>
                                        <span>{{ $tc('details.route') }}</span>
                                        <span>{{segment.dep.ap}} - {{segment.arr.ap}}</span>
                                    </p>
                                    <p><span>{{ $tc('details.flight_company') }}</span><span>{{segment.al.nm}}</span></p>
                                    <p><span>{{ $tc('details.flight') }}</span><span>{{segment.flt_no}}</span></p>
                                    <p><span>{{ $tc('details.class') }}</span>
                                        <template v-if="flyClass.id === 1">{{ $tc('dropdowns.class_e') }}</template>
                                        <template v-else>{{ $tc('dropdowns.class_b') }}</template>
                                    </p>
                                    <p><span>{{ $tc('details.plane') }}</span><span>{{segment.ac}}</span></p>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>

    </b-modal>
</template>

<script>
    export default {
        name: 'FlightInfoModal',
        props: ['ticket', 'mode'],
        computed: {
            flyClass () { return this.$store.getters['searchStatus/get_flyClass'] }
        },
        methods: {
            open() {
                this.$bvModal.show('flightInfoModal' + this.$vnode.key)
            }
        },
    }
</script>

<style lang="scss">
    .flight-info-modal {
        max-width: 880px;
        margin: auto;
    }

    .another-time-modal {
        max-width: 700px;
        margin: auto;
    }

    .line {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }

    .close-icon {
        cursor: pointer;

        img {
            width: 18px;
            height: 18px;
        }

    }
    @media (max-width: 750px) {
        .flight-info__secondary {
            padding-left: 0;
        }
        .flight-info__detail {
            width: 100%;
        }
        .flight-info__ari-company {
            font-size: 11px;
        }
        .flight-info__time {
            font-size: 18px;
        }
        .flight-info__date, .flight-info__city, .flight-info__airport, .flight-info__secondary p {
            font-size: 12px;
        }
        h4 {
            font-size: 18px;
            margin: 0;
        }
    }

</style>
