<template>
    <b-modal size="xl" :id="'flightInfoModal' + $vnode.key" :hide-header="true" :hide-footer="true" content-class="flight-info-modal">
                <div class="modal-custom__head d-flex align-items-center justify-content-between">
                    <h3 class="m-0">{{ $tc('details.details_f') }}</h3>
                    <div class="close-icon" @click="$bvModal.hide('flightInfoModal' + $vnode.key)">
                        <img src="../../assets/close-icon-white.svg" alt="">
                    </div>
                </div>
                <div v-if="mode === 'search'" :key="index + 'mn'" v-for="(ticket_single, index) in ticket.opts" class="modal-custom__body flight-info">
<!--                    <pre>{{comb_id}}</pre>-->
<!--                    <pre>{{ticket}}</pre>-->
<!--                    <pre>{{comb}}</pre>-->
                    <h4>{{$tc('details.flight')}} {{index === 0 ? 'Туда' : 'Обратно'}}</h4>
                    <template v-for="(segment, id) in ticket_single.segs">
                        <div :key="id + 'seg'" class="d-flex align-items-center justify-content-between my-3">
                            <div>
                                <span class="flight-info__ari-company mr-2">{{ $tc('details.company') }}</span>
                                <span v-if="segment.al.nm" style="color: #4b77be">{{ segment.al.nm }}</span>
<!--                                <span v-if="'mark' in segment.al"> "{{ segment.al.mark.nm }}"</span>-->
                                <span v-if="'oper' in segment.al">, "{{ segment.al.oper.nm }}"</span>
                            </div>
                            <div>
                                <img v-if="segment.al.mark.lg"
                                     :src="'https://avia.test.transavia.kz/media/' + segment.al.mark.lg"
                                     class="img-fluid" style="width: 100px" alt="">
                                <img v-else style="height: 40px" src="@/assets/ALlogo.png" alt="">
                            </div>
                        </div>
                        <div :key="id + 'time'" class="row">
                            <div class="col-md-8 d-flex align-items-start justify-content-between">
                                <div class="">

                                    <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0 && !ticket.hasOwnProperty('book')" class="flight-info__time">
                                        {{ticket.coms[index][ticket.coms[index].length - comb_id[index]].segs[id].dep_dt | dateFormat('HH:mm')}}
                                    </span>
                                    <span v-else-if="ticket.hasOwnProperty('book')" class="flight-info__time">
                                        {{segment.dep.dt | dateFormat('HH:mm')}}
                                    </span>
                                    <span v-else class="flight-info__time">
                                        {{segment.dep.dt | dateFormat('HH:mm')}}
                                    </span>
<!--                                    <span v-if="comb && comb_id && comb_id[index] === 2" class="flight-info__time">-->
<!--                                        {{ticket.coms[index][0].segs[0].dep_dt | dateFormat('HH:mm')}}-->
<!--                                    </span>-->

                                    <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0 && !ticket.hasOwnProperty('book')" class="flight-info__date">
                                        {{ticket.coms[index][ticket.coms[index].length - comb_id[index]].segs[id].dep_dt | dateFormat('DD MMMM, YYYY, dddd')}}
                                    </span>
                                    <span v-else-if="ticket.hasOwnProperty('book')" class="flight-info__date">
                                        {{segment.dep.dt | dateFormat('DD MMMM, YYYY, dddd')}}
                                    </span>
                                    <span v-else class="flight-info__date">
                                        {{segment.dep.dt | dateFormat('DD MMMM, YYYY, dddd')}}

                                    </span>
<!--                                    <span v-if="comb && comb_id && comb_id[index] === 2" class="flight-info__date">-->
<!--                                        {{ticket.coms[index][0].segs[0].dep_dt | dateFormat('DD MMMM, YYYY, dddd')}}-->
<!--                                    </span>-->

                                    <span class="flight-info__city">
                                        {{segment.dep.ap.city_nm}}
                                    </span>
                                    <span class="flight-info__airport">
                                        {{segment.dep.ap.nm}}
                                        {{segment.dep.ap.city_nm}}
                                    </span>
                                </div>
                                <div class="text-center">

<!--                                    <span v-if="comb && comb_id && comb_id[index] === 0" class="">{{ticket_single.elap_t}}</span>-->
<!--                                    <span v-else-if="ticket.hasOwnProperty('book')" class="">{{ticket_single.elap_t}}</span>-->
<!--                                    <span v-else class="">{{ticket.coms[index][ticket.coms[index].length - comb_id[index]].elap_t}}</span>-->


                                    <span>{{ $tc('direct_flight') }}</span>
<!--                                    <span v-else>{{ $tc('direct_flight_stop') }}</span>-->
                                </div>
                                <div class="text-right">

                                    <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0 && !ticket.hasOwnProperty('book')" class="flight-info__time">
                                        {{ticket.coms[index][ticket.coms[index].length - comb_id[index]].segs[id].arr_dt | dateFormat('HH:mm')}}
                                    </span>
                                    <span v-else-if="ticket.hasOwnProperty('book')" class="flight-info__time">
                                        {{segment.arr.dt | dateFormat('HH:mm')}}
                                    </span>
                                    <span v-else class="flight-info__time">
                                        {{segment.arr.dt | dateFormat('HH:mm')}}
                                    </span>
<!--                                    <span v-if="comb && comb_id && comb_id[index] === 2" class="flight-info__time">-->
<!--                                        {{ticket.coms[index][0].segs[0].arr_dt | dateFormat('HH:mm')}}-->
<!--                                    </span>-->

                                    <span v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0 && !ticket.hasOwnProperty('book')" class="flight-info__date">
                                        {{ticket.coms[index][ticket.coms[index].length - comb_id[index]].segs[id].arr_dt | dateFormat('DD MMM, YYYY, dddd')}}
                                    </span>
                                    <span v-else-if="ticket.hasOwnProperty('book')" class="flight-info__date">
                                        {{segment.arr.dt | dateFormat('DD MMM, YYYY, dddd')}}
                                    </span>
                                    <span v-else class="flight-info__date">
                                        {{segment.arr.dt | dateFormat('DD MMM, YYYY, dddd')}}
                                    </span>
<!--                                    <span v-if="comb && comb_id && comb_id[index] === 2" class="flight-info__date">-->
<!--                                        {{ticket.coms[index][0].segs[0].arr_dt | dateFormat('DD MMM, YYYY, dddd')}}-->
<!--                                    </span>-->

                                    <span class="flight-info__city">
                                        {{segment.arr.ap.city_nm}}
                                    </span>
                                    <span class="flight-info__airport">
                                        {{segment.arr.ap.nm}}
                                        {{segment.arr.ap.city_nm}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="flight-info__secondary">
                                    <p>
                                        <span>{{ $tc('details.route') }}</span>
                                        <span>{{segment.dep.ap.city_nm}} - {{segment.arr.ap.city_nm}}</span>
                                    </p>
                                    <p><span>{{ $tc('details.flight_company') }}</span><span>{{segment.al.oper.nm}}</span></p>

                                    <p v-if="comb_id && comb_id[index] !==undefined && comb_id.length > 1 && comb_id[index] !== 0 && !ticket.hasOwnProperty('book')"><span>{{ $tc('details.flight') }}</span><span>{{ticket.coms[index][ticket.coms[index].length - comb_id[index]].segs[id].flt_no}}</span></p>
                                    <p v-else-if="ticket.hasOwnProperty('book')"><span>{{ $tc('details.flight') }}</span><span>{{segment.flt_no}}</span></p>
                                    <p v-else><span>{{ $tc('details.flight') }}</span><span>{{segment.flt_no}}</span></p>
<!--                                    <p v-if="comb && comb_id && comb_id[index] === 2"><span>{{ $tc('details.flight') }}</span><span>{{ticket.coms[index][0].segs[0].flt_no}}</span></p>-->

                                    <p><span>{{ $tc('details.class') }}</span>
                                        <template v-if="flyClass.id === 1">{{ $tc('dropdowns.class_e') }}</template>
                                        <template v-else>{{ $tc('dropdowns.class_b') }}</template>
                                    </p>
                                    <p><span>{{ $tc('details.plane') }}</span><span>{{segment.ac}}</span></p>
                                </div>
                            </div>
                        </div>
<!--                        <template>-->
<!--                            &lt;!&ndash;<span class="flight-info__tariff text-warning">{{ $tc('details.promo') }}</span>&ndash;&gt;-->
<!--                            <div :key="id + 'detail'" class="d-flex flex-wrap justify-content-start">-->
<!--                                <div class="flight-info__detail">-->
<!--                                    <img src="@/assets/ticket/package.svg" class="img-fluid" alt="">-->
<!--                                    <span>-->
<!--                                        {{ $tc('details.baggage_allowance') }} - <span :key="i + 'id'" v-for="(item, i) in segment.bag">{{item.wt}}</span>-->
<!--                                        &lt;!&ndash;<pre>{{segment}}</pre>&ndash;&gt;-->
<!--                                    </span>-->
<!--                                </div>-->
<!--                                -->
<!--                                &lt;!&ndash;<div class="flight-info__detail">-->
<!--                                    <img src="@/assets/ticket/rebook.svg" class="img-fluid" alt="">-->
<!--                                    <span class="text-warning">{{ $tc('details.rebook') }}</span>-->
<!--                                </div>-->
<!--                                <div class="flight-info__detail">-->
<!--                                    <img src="@/assets/ticket/rebookMoney.svg" class="img-fluid" alt="">-->
<!--                                    <span class="text-warning">{{ $tc('details.change_route') }}</span>-->
<!--                                </div>-->
<!--                                <div class="flight-info__detail">-->
<!--                                    <img src="@/assets/ticket/package.svg" class="img-fluid" alt="">-->
<!--                                    <span class="text-warning">{{ $tc('details.carry_baggage') }} - 5 kg</span>-->
<!--                                </div>-->
<!--                                <div class="flight-info__detail">-->
<!--                                    <img src="@/assets/ticket/giveBack.svg" class="img-fluid" alt="">-->
<!--                                    &lt;!&ndash;<span class="text-warning">{{ticket.elig}}</span>&ndash;&gt;-->
<!--                                </div>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </template>-->
                    </template>
                    <hr class="line" v-if="index !== ticket.opts.length - 1">
                </div>
    </b-modal>
</template>

<script>
    export default {
        name: 'FlightInfoModal',
        props: ['ticket', 'mode', 'comb'],
        computed: {
            flyClass () { return this.$store.getters['searchStatus/get_flyClass'] },
            comb_id() { return this.$store.getters['requestData/getCombinationId']}

        },
        methods: {
            open() {
                this.$bvModal.show('flightInfoModal' + this.$vnode.key)
            }
        },
    }
</script>

<style lang="scss">
    .flight-info-modal {
        max-width: 880px;
        margin: auto;
    }

    .another-time-modal {
        max-width: 700px;
        margin: auto;
    }

    .line {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }

    .close-icon {
        cursor: pointer;

        img {
            width: 18px;
            height: 18px;
        }

    }
    @media (max-width: 750px) {
        .flight-info__secondary {
            padding-left: 0;
        }
        .flight-info__detail {
            width: 100%;
        }
        .flight-info__ari-company {
            font-size: 11px;
        }
        .flight-info__time {
            font-size: 18px;
        }
        .flight-info__date, .flight-info__city, .flight-info__airport, .flight-info__secondary p {
            font-size: 12px;
        }
        h4 {
            font-size: 18px;
            margin: 0;
        }
    }


</style>
