<template>
    <b-modal size="md" :id="$vnode.key + 'offline'" tabindex="-1" role="dialog" :hide-header="true" :hide-footer="true" aria-hidden="true">
        <div  v-if="step === 1" class="text-center py-5 d-none d-md-block">
            <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
        </div>
        <div class="modal-content" v-if="step === 0">
            <div class="modal-header">
                <h5 class="modal-title">
                    Покупка офлайн билета
                </h5>
            </div>
            <div class="modal-content">
                <p class="text-center">Мы отправим заявку персональному агенту.
                    С Вами свяжутся в ближайшее время,
                    для оформления билета
                </p>
                <div class="modal-item">
                    <p class="mod-title">Откуда</p>
                    <p class="mod-text">{{ data.frm }}</p>
                </div>
                <div class="modal-item">
                    <p class="mod-title">Куда</p>
                    <p class="mod-text">{{ data.to }}</p>
                </div>
                <div class="modal-item">
                    <p class="mod-title">Дата</p>
                    <p class="mod-text">{{ data.dt1 }}  {{ data.dt2 ? data.dt2 : ''}}</p>
                </div>
                <div class="modal-item">
                    <p class="mod-title">Цена</p>
                    <p class="mod-text">{{ price }}</p>
                </div>
                <div class="modal-item">
                    <p class="mod-title">Ваш Email</p>
                    <p class="mod-text">{{ data.mail }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-back" @click="hide">Вернутся</button>
                <button class="btn btn-send" @click="sendMail">Отправить</button>
            </div>
        </div>
        <div class="modal-content" v-if="step === 2">
            <div class="modal-header">
                <h5 class="modal-title">
                    Ваша заявка успешно отправлена!
                </h5>
            </div>
            <div class="modal-content">
                <img src="../../assets/checked-green.svg" class="checked-image" alt="">
                <p class="text-center">Мы отправили заявку персональному агенту.
                    С Вами свяжутся в ближайшее время,
                    для оформления билета
                </p>
            </div>
            <div class="modal-footer modal-footer-2">
                <button class="btn btn-back" @click="toMain">Вернутся на страницу поиска</button>
            </div>
        </div>
    </b-modal>
</template>
<script>
    export default {
        props: ['data', 'price'],
        data () {
          return {
             step: 0
          }
        },
        methods: {
            open() {
                this.$bvModal.show(this.$vnode.key + 'offline')
            },
            hide() {
                this.$bvModal.hide(this.$vnode.key + 'offline')
            },
            async sendMail() {
                this.step = 1;
                await this.$store.dispatch('cabinet/sendToMail', this.data);
                this.step = 2;
            },
            toMain() {
                this.$router.push('/')
                this.hide()
            }
        }
    }
</script>
<style scoped>

    .modal-header {
        justify-content: center;
    }
    .btn-send {
        background-color: #4b77be;
        border-radius: 28px;
        color: #fff;
        height: 50px;
        padding: 0 50px;
        outline: none;
    }

    .btn-back {
        border-radius: 28px;
        border: solid 1px #4b77be;
        background-color: #fff;
        color: #4b77be;
        height: 50px;
        padding: 0 50px;
        outline: none;
    }

    .modal-title {
        text-align: center;
    }

    .modal-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mod-title {
        font-weight: 600;
        margin: 0;
        padding: 10px 0;
    }

    .modal-content {
        padding: 15px 35px;
    }

    .mod-text {
        width: 60%;
        border-bottom: 1px solid #dee2e6;
        margin: 0;
        padding: 10px 0;
    }

    .modal-footer {
        justify-content: space-between;
        border-top: 0;
    }

    .modal-footer-2 {
        padding-top: 0;
        justify-content: center;
    }

    .checked-image {
        margin: auto;
        margin-bottom: 15px;
    }
</style>
