<template>
    <div>
        <div :id="'google_translate_element' + googleId"></div>
        <button @click="googleTranslateElementInit()">google</button>
        <div class="modal-custom__body">
            <pre>{{rules}}</pre>

            <div v-if="!loading" class="text-center py-5">
                <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
            </div>
            <div :key="index" v-else v-for="(rule, index) in rules">

                <div :key="name" v-for="(value, name) in rule">
                    <h5>{{ name | titleFormat() }}</h5>
                    <p class="text">{{ value | rulesFormat() }}</p>
                    <br>
                </div>
                <hr>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props: ['rules', 'googleId'],
        computed: {
            loading () {
                return !!(this.rules !== 'undefined' && this.rules.length > 0)
            }
        },
        methods: {
            open() {
              this.$bvModal.show('tariffModal' + this.$vnode.key)
            },
            googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element' + this.googleId);
            },

        },
    }

</script>
<style>
    .text {
        white-space: pre-wrap;
    }
    @media (max-width: 750px) {
        .text{
            font-size: 10px;
        }
        h5 {
            font-size: 16px;
        }
    }
</style>
