<template>
    <b-modal size="md" :id="'successModal'" tabindex="-1" role="dialog" :no-close-on-backdrop="true" :hide-header="true" :hide-footer="true" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-logo">
                <img src="../../assets/logo-transavia.png" alt="" class="logo">
                <i @click="hide" class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">
                    Ваш билет успешно аннулирован!
                </h5>
            </div>
            <div class="modal-body">
                <p>
                    Чтобы увидеть изменения обновите страницу.
                </p>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-primary" @click="hide">{{ $tc('continue') }}</button>-->
                          <button class="btn btn-primary" @click="refresh">{{ $tc('refresh') }}</button>
<!--                <button class="btn btn-primary" v-if="error.sts && error.sts === 'warning'" @click="hide">Ok</button>-->
                <button class="btn btn-primary" @click="toMain">На главную</button>
            </div>
        </div>
    </b-modal>
</template>
<script>
    import moment from "moment";

    export default {
        methods: {
            refresh() {
                // this.$emit('refresh')
                window.location.reload(true);

            },
            open() {
                this.$bvModal.show('successModal')
            },
            hide() {
                this.$bvModal.hide('successModal')
            },
            toMain() {
                this.$router.push('/')
                this.hide()
            },

        },
    }
</script>
<style scoped>
    .btn-primary {
        width: 200px;
        margin: auto;
    }

    .modal-footer {
        justify-content: space-between;
    }
    .modal-footer .btn {
        background-color: #418ad4;
    }
    .modal-body {
        padding: 1rem !important;
    }
    .logo {
        width: 175px;
        padding: 10px 0 0 10px;
    }
    .modal-logo {
        display: flex;
        justify-content: space-between;
    }
    .modal-logo .fa-times {
        color: #418ad4;
        padding: 10px 10px 0 0;
        font-size: 30px;
    }
</style>
