<template>
    <b-modal size="lg" :id="'tariffModal' + $vnode.key" :hide-header="true" :hide-footer="true">
        <div class="modal-custom__head d-flex align-items-center justify-content-between">
                    <h3 class="m-0">{{ $tc('tariff.condition') }}</h3>
                    <span class="close" @click="$bvModal.hide('tariffModal' + $vnode.key)">{{ $t('close') }}</span>
        </div>
        <div v-if="!loading" class="text-center py-5">
                <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
        </div>
        <div v-else>
            <div v-if="data.gds === '07419'">
                <div :key="index" v-for="(rule, index) in rules" class="p-5">

                    <div :key="name" v-for="(value, name) in rule">
                        <h5>{{ name | titleFormat() }}</h5>
                        <p class="text">{{ value | rulesFormat() }}</p>
                        <br>
                    </div>
                    <hr>
                </div>
            </div>
            <div v-else>
                <div :key="index" v-for="(rule, index) in rules" class="p-5">
<!--                                        <div :id="'google_translate_element'+index"></div>-->
                    <!--                    <p class="text">{{rule.txt }}</p>-->
                    <div>
                        <h5>Откуда</h5>
                        <p class="text">{{rule.dep}}</p>
                        <h5>Куда</h5>
                        <p class="text">{{rule.arr}}</p>
                        <h5>Авиакомпания</h5>
                        <p class="text">{{rule.airline}}</p>
                        <h5>Тариф</h5>
                        <p class="text">{{rule.fare_basis}}</p>
                        <div :key="key" v-for="(item, key) in rule.rules">
                            <h5>{{item.title}}</h5>
                            <p class="text">{{item.description}}</p>
                        </div>
                    </div>
                </div>
                <!--                <iframe style="width: 100%; height: 80vh;"  ref="iframe" :src="'/rulesiframe?ty='+this.data.ty+'&fam_id='+this.data.fam_id+'&sess_id='+this.data.sess_id+'&search_id='+this.data.search_id+'&gds='+this.data.gds+'&seq_no='+this.data.seq_no+'&com_id='+this.data.com_id+'&search_hash='+this.data.search_hash" @load="onIframeLoaded()"></iframe>-->
            </div>
        </div>

    </b-modal>
</template>

<script>
    export default {
        props: ['rules', 'data'],
        computed: {
            loading () {
                return !!(this.rules !== 'undefined' && this.rules.length > 0)
            }
        },
        methods: {
            open() {
              this.$bvModal.show('tariffModal' + this.$vnode.key)
            },
            googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'ru'}, 'google_translate_element');
            },
            onIframeLoaded() {
                let rules = this.$store.state.cabinet.rules;
                this.getIframeContent();
            },
            getIframeContent() {
                const iframe = this.$refs.iframe;
                let rules = this.$store.state.cabinet.rules;
                // Print HTML to page
            },

        },

    }

</script>
<style>
    .text {
        white-space: pre-wrap;
    }
    @media (max-width: 750px) {
        .text{
            font-size: 10px;
        }
    }
</style>
