<template>
    <b-modal size="lg" :id="'tariffModal' + $vnode.key" :hide-header="true" :hide-footer="true">
        <div class="modal-custom__head d-flex align-items-center justify-content-between">
            <h3 class="m-0">{{ $tc('tariff.condition') }}</h3>
            <span class="close" @click="$bvModal.hide('tariffModal' + $vnode.key)">{{ $t('close') }}</span>
        </div>
        <iframe style="width: 100%; height: 80vh;"  ref="iframe" :src="'/rules?ruleId='+this.googleId+'&currentPage='+this.currentPage" @load="onIframeLoaded(info)"></iframe>
    </b-modal>
</template>

<script>
    export default {
        props: ['rules', 'googleId', 'currentPage'],
        data() {
            return {
                src: '{{/rules}}',
                info: this.googleId
            }
        },
        // props: {
        //     src: { type: String, required: true }
        // },
        mounted() {

        },
        methods: {

            open() {
                this.$bvModal.show('tariffModal' + this.$vnode.key)
            },
            onIframeLoaded(info) {
                let rules = this.$store.state.cabinet.rules;
                this.getIframeContent();
            },
            getIframeContent() {
                const iframe = this.$refs.iframe;
                let rules = this.$store.state.cabinet.rules;
                // Print HTML to page
            },
            googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google' + this.$vnode.key);
            },
        },
        beforeDestroy() {
            if (this.iframeObserver) {
                this.iframeObserver.disconnect();
            }
        }
    }

</script>
<style>
    .text {
        white-space: pre-wrap;
    }
    @media (max-width: 750px) {
        .text{
            font-size: 10px;
        }
        h5 {
            font-size: 16px;
        }
    }
</style>
