<template>
  <div>
    <div class="container" style="margin:90px 0;">
      <h1>
        <p>FlyArystan (Флай Арыстан) — казахстанская бюджетная (лоукост) авиакомпания. Она открылась при поддержке авиакомпании Air Astana в 2019 году. Клиентам будут доступны перелёты по Казахстану на самолётах Airbus A320 вместимостью 180 мест эконом-класса. Флот авиакомпании состоит из 4 таких самолётов, и увеличится до 15 к 2022 году.<br>
        </p></h1><p><img src="https://lh3.googleusercontent.com/6C9qS0-x_0eY7x9QC1iLEh5cgP73xee7lgZL4-NzS2VEdBw_baNhe2PnDxsGAUcgGMLVsu4OaMpC6zfn6rOsoOp6r-kTBZALFUzUjbmqbyq34x7Tj30RY9fRs-GjBVR7xy_Fvubv" alt="Flyarystan">
    </p><p>Старт продаж на первые рейсы FlyArystan начался 29 марта 2019.
    </p><p>Клиенты могут купить авиабилеты FlyArystan (Флай Арыстан) на Aviata.kz через сайт или мобильное приложение.<br>
    </p><h2>Кому подходит FlyArystan</h2><p>FlyArystan (Флай Арыстан) лучше всего подходит людям, путешествующим в города Казахстана на небольшой срок, без багажа. Это работники в командировках, студенты, которые летят на выходные домой, и другие, кто предпочитает лететь с ручной кладью.
    </p><p>Низкая цена на билеты будет строиться за счёт нескольких факторов:
    </p><ul>
      <li>покупать билеты можно только онлайн;</li>
      <li>все рейсы — прямые, без стыковок;</li>
      <li>единый экономкласс в салоне самолёта;</li>
      <li>быстрое обслуживание самолёта в аэропортах;</li>
      <li>все билеты будут только электронные;</li>
      <li>багаж необходимо оплачивать отдельно;</li>
      <li>питание на борту также оплачивается отдельно.</li>
    </ul><h3>В какие города летает FlyArystan</h3><p>Первые полёты «Флай Арыстан» начались 1 мая 2019 года в города Уральск и Тараз. Сейчас авиакомпания летает из Алматы по таким направлениям:
    </p><ul>
      <li>Алматы — Павлодар; </li>
      <li>Алматы — Уральск;</li>
      <li>Алматы — Караганда;</li>
      <li>Алматы — Тараз;</li>
      <li>Алматы — Нур-Султан;</li>
      <li>Алматы — Шымкент;</li><li>Нур-Султан (Астана) — Алматы;</li><li>Нур-Султан (Астана) — Шымкент;</li><li>Нур-Султан (Астана) — Павлодар;</li><li>Нур-Султан (Астана) — Семей.</li>
    </ul><h3>Как зарегистрироваться на рейс FlyArystan</h3><p>Пассажиры «Флай Арыстан» могут зарегистрироваться на рейс на сайте авиакомпании или в аэропорту через киоск самостоятельной регистрации или стойку регистрации.
    </p><p>Онлайн-регистрации открывается за 48 часов до запланированного времени вылета рейса. Регистрация в аэропорту начинается за 2 часа и заканчивается за 40 минут до вылета. На посадку необходимо прийти не позднее, чем за 30 минут до вылета.
    </p><h4>Какой багаж можно взять на борт самолёта FlyArystan</h4><p>Ручная кладь допускается бесплатно, весом не более 5 килограмм, размером не более 56×45×20. И обязательно должна помещаться под сиденьем кресла перед пассажиром.
    </p><p>Если необходимо взять большую ручную кладь, пассажиры FlyArystan могут купить дополнительно пакет «Ручная кладь плюс» и получить дополнительно 5 килограмм.
    </p><p>Регистрируемый багаж на борт «Флай Арыстан» оплачивается отдельно. Пассажиры могут приобрести неограниченное количество единиц багажа, общим весом не более 60 килограмм. Каждая единица багажа должна быть не больше 30 килограмм по весу и объёмом не более 158 сантиметрах в трёх измерениях. Для перевозки более 5 единиц багажа, необходимо прийти на стойку регистрации не позднее 1 часа 30 минут до запланированного времени вылета.
    </p><p>Оплатить провоз ручной клади и зарегистрированного багажа на борт FlyArystan можно:
    </p><ul>
      <li>во время бронирования на сайте авиакомпании или через контакт-центр;</li>
      <li>после завершения бронирования на странице «Управление бронированием» на сайте FlyArystan;</li>
      <li>во время онлайн-регистрации на сайте FlyArystan.</li>
    </ul><h4>Как выбрать питание на борту FlyArystan</h4><p>Питание на борту самолёта авиакомпании «Флай Арыстан» не входит в стоимость билета, его необходимо оплачивать отдельно. Пассажирам доступны горячие напитки, закуски, безалкогольные и алкогольные напитки, специальный комбо-обед.
    </p><p>Специальный комбо-обед необходимо заказывать отдельно за 24 часа до времени вылета. Оплатить можно на борту самолёта наличными или банковской картой.
    </p>
    </div>
  </div>
</template>
<script>
    export default {
        head () {
            return {
                title: 'FlyArystan (Флай Арыстан)',
                meta: [
                    { hid: 'description', name: 'description', content: 'FlyArystan (Флай Арыстан) — казахстанская бюджетная (лоукост) авиакомпания. Она открылась при поддержке авиакомпании Air Astana в 2019 году' }
                ]
            }
        },
    };
</script>
