<template>
    <div class="row page--book bg-light">
        <client-only>
            <notifications group="foo" />
        </client-only>
        <div v-if="loader">
            <vue-loaders name="ball-pulse" color="#418ad4" scale="1.5" class="dot-loader"></vue-loaders>
        </div>
        <p v-if="!loader && ticket" class="pt-4 pl-4 d-block d-md-none"><a @click="back"><i class="fa fa-chevron-left" aria-hidden="true"></i> Назад</a></p> <br>

        <div v-if="!loader && ticket" class="col-md-3 order-1 order-md-0 d-none d-md-block">
            <div class="price-info" v-if="ticket">
                <p class="d-none d-md-block"><a @click="back"><i class="fa fa-chevron-left" aria-hidden="true"></i> Назад</a></p> <br>

                <h5>Данные по брони</h5>
                <div class="rule-fee">
                    <div class="fee-item" v-if="tariffPrice">
                        <p>Тариф</p>
                        <p>{{ tariffPrice | numberWithSpaces }} {{ ticket.prc.rule.cur.sym }}</p>
                    </div>
                    <div class="fee-item">
                        <p>Сборы Трансавиа</p>
                        <p>{{ ticket.prc.rule.val | numberWithSpaces }} {{ ticket.prc.rule.cur.sym }}</p>
                    </div>
                    <div class="fee-item">
                        <p>Тариф и Таксы</p>
                        <p>{{ ticket.prc.gds.tot.val | numberWithSpaces }} {{ ticket.prc.gds.tot.cur.sym }}</p>
                    </div>
                </div>
                <div class="fee-agency" v-if="fee.val">
                    <div class="fee-item">
                        <p>Сборы агенства</p>
                        <p>{{ fee.val }} {{account.employee.company[0].agency.auth_currency}}</p>
                    </div>
                    <span>Любой другой доп сбор введенный агенством</span>
                </div>
                <div class="total-price">
                    <div class="fee-item">
                        <p>Итого</p>
                        <p v-if="fee.val">{{ (tariffPrice + ticket.prc.rule.val + ticket.prc.gds.tot.val + parseInt(fee.val)) | numberWithSpaces }} {{ ticket.prc.tot.cur.sym }}</p>
                        <p v-else>{{ (tariffPrice + ticket.prc.rule.val + ticket.prc.gds.tot.val) | numberWithSpaces }} {{ ticket.prc.tot.cur.sym }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!loader && ticket" class="col-md-8 py-3 py-md-5 order-0 order-md-1 px-4 px-md-0">
            <!--<h5 class="title">Ваше бронирование</h5>-->
            <avia-ticket :key="1" :id="1" :data="ticket"  :noBuyButton="true" :comb="comb_id"></avia-ticket>
            <Tariff ref="tariff" @tariffSelected="changeTariff"></Tariff>
            <BookingForm :key="index" v-for="(pnr, index) in pnrs" :pnr="pnr" :id="index" @formUpdated="onBooking"></BookingForm>
            <div class="container-shadow">
                <div class="fee-container">
                    <div class="left-fee">
                            <img src="../../assets/plus-image.svg" alt="" class="plus-img">
                        <div class="fee-content">
                            <h5>Дополнительные сборы агенства</h5>
                            <p>Вы можете добавить дополнительные сборы/услуги для вашего агенства </p>
                        </div>
                    </div>
                    <button class="btn btn-main btn-main--blue btn-add" v-if="feeProcess === 0" @click="feeMethod(1)">Добавить</button>
                    <button class="btn btn-main btn-main--blue btn-add" v-if="feeProcess === 2" @click="feeMethod(3)">Изменить</button>
                    <button class="btn btn-main btn-main--blue btn-hide" v-if="feeProcess === 1" @click="feeMethod(0)">Скрыть</button>
                </div>
                <div class="fee-container add-fee" v-if="feeProcess === 1 || feeProcess === 3">
                    <div class="fee-name">
                        <p>Название сбора</p>
                        <input type="text" placeholder="Введите название" v-model="fee.msg">
                    </div>
                    <div class="fee-val">
                        <p>Стоимость</p>
                        <input type="number" :placeholder="0 + '' + account.employee.company[0].agency.auth_currency" v-model.number="fee.val">
                    </div>
                </div>
                <div class="buyer__line" v-if="feeProcess === 1 || feeProcess === 3"></div>
                <div class="fee-container fee-info" v-if="feeProcess === 1 || feeProcess === 3">
                    <div class="fee-info-text">
                        <p>К оплате дополнительных сборов: </p>
                        <h5>{{ fee.val }} {{account.employee.company[0].agency.auth_currency}}</h5>
                    </div>
                    <button class="btn btn-main btn-main--blue btn-add" v-if="feeProcess === 1" @click="feeMethod(2)">Добавить</button>
                    <div class="btns" v-if="feeProcess === 3">
                        <button class="btn btn-main btn-main--blue btn-delete mr-3" @click="feeMethod(4)">Удалить</button>
                        <button class="btn btn-main btn-main--blue btn-add" @click="feeMethod(2)">Сохранить</button>
                    </div>
                </div>
                <div class="fee-container remove-fee" v-if="feeProcess === 2">
                    <div class="fee-name">
                        <p class="fee-text">Название сбора</p>
                        <p>{{fee.msg}}</p>
                    </div>
                    <div class="fee-val">
                        <p class="fee-text">Стоимость</p>
                        <p>{{fee.val}}</p>
                    </div>
                    <button class="btn btn-main btn-main--blue btn-delete" v-if="feeProcess === 2" @click="feeMethod(4)">Удалить</button>
                </div>
            </div>
            <form class="buyer container-shadow">
                <h3 class="buyer__title text-center text-md-left">{{ $tc('buyer') }}</h3>
                <div class="buyer__body">
                    <div class="mt-3 ml-md-0">
                        <label for="buyer-code">{{ $tc('country_code') }}</label>
                        <sui-dropdown
                            :placeholder="$tc('country_code')"
                            selection
                            :options="countryCodes"
                            v-model="pur.tel.co"
                                class="input-custom"
                                id="buyer-code"
                                @blur="$v.pur.tel.co.$touch()"
                                :class="{'is-error': $v.pur.tel.co.$error,
                                    'is-success': !$v.pur.tel.co.$error && $v.pur.tel.co.$dirty}" />
<!--                        <small>{{ $tc('texts.send_mail') }}</small>-->

                    </div>
                    <div class="mt-3 ml-md-0">
                        <label for="buyer-phone">{{ $tc('form.phone') }}</label>
                        <input type="text"
                               class="input-custom"
                               id="buyer-phone"
                               v-mask="pur.tel.co === '+7' || pur.tel.co === '+7 ' ? '(###)-###-##-##' : '(##)-###-##-##'"
                               :placeholder="pur.tel.co === '+7' || pur.tel.co === '+7 ' ? '(702)-778-53-30' : '(50)-778-50-50'"
                               v-model="pur.tel.no"
                               @blur="$v.pur.tel.no.$touch()"
                               :class="{'is-error': $v.pur.tel.no.$error,
                                    'is-success': !$v.pur.tel.no.$error && $v.pur.tel.no.$dirty}">
                        <small id="buyer-phone-help">{{ $tc('texts.send_sms') }}</small>
                    </div>
                    <div class="mt-3 ml-md-0">
                        <label for="buyer-email">E-mail</label>
                        <input type="email"
                               class="input-custom"
                               id="buyer-email"
                               placeholder="E-mail"
                               v-model="pur.mail"
                               @blur="$v.pur.mail.$touch()"
                               :class="{'is-error': $v.pur.mail.$error,
                                    'is-success': !$v.pur.mail.$error && $v.pur.mail.$dirty}">
                        <small id="buyer-email-help">{{ $tc('texts.send_mail') }}</small>
                    </div>
                </div>
                <div class="buyer__line"></div>
                <div class="buyer__footer d-none">
                    <checkbox :placeholder="''"></checkbox>
                    <p>Создать аккаунт <span>Что это даёт?</span></p>
                </div>
                <div class="d-block d-md-none text-center">
                    <div class="rule-fee">
                        <div class="fee-item" v-if="tariffPrice">
                            <h4>Тариф</h4>
                            <h3>{{ tariffPrice | numberWithSpaces }} {{ ticket.prc.rule.cur.sym }}</h3>
                        </div>
                        <div class="fee-item">
                            <h4 class="mb-2 mt-4">Сборы Трансавиа</h4>
                            <h2 class="mt-0">{{ ticket.prc.rule.val | numberWithSpaces }} {{ ticket.prc.rule.cur.sym }}</h2>
                        </div>
                        <div class="fee-item">
                            <h4 class="mb-2 mt-4">Тариф и Таксы</h4>
                            <h2 class="mt-0">{{ ticket.prc.gds.tot.val | numberWithSpaces }} {{ ticket.prc.gds.tot.cur.sym }}</h2>
                        </div>
                    </div>
                    <div class="fee-agency" v-if="fee.val">
                        <div class="fee-item">
                            <h4 class="mb-2 mt-4">Сборы агенства</h4>
                            <h2 class="mt-0">{{ fee.val }} {{account.employee.company[0].agency.auth_currency}}</h2>
                        </div>
                        <span>Любой другой доп сбор введенный агенством</span>
                    </div>
                    <div class="total-price">
                        <div class="fee-item">
                            <h4 class="mb-2 mt-4">Итого</h4>
                            <h2 class="mt-0" v-if="fee.val">{{ (tariffPrice + ticket.prc.rule.val + ticket.prc.gds.tot.val + parseInt(fee.val)) | numberWithSpaces }} {{ ticket.prc.tot.cur.sym }}</h2>
                            <h2 class="mt-0 blue" v-else>{{ (tariffPrice + ticket.prc.rule.val + ticket.prc.gds.tot.val) | numberWithSpaces }} {{ ticket.prc.tot.cur.sym }}</h2>
                        </div>
                    </div>
                </div>
                <button class="btn btn-main btn-main--blue mt-3 btn-price"
                        :disabled="!(isFormValid && canProceed)"
                        @click="getTicket">{{ $tc('book') }}</button>
            </form>
        </div>
    </div>
</template>

<script>
    import Moment from 'moment'
    import checkbox from '@/components/partials/check'
    import  { mask } from 'vue-the-mask'
    import BookingForm from '@/components/elements/BookingForm'
    import AviaTicket from '@/components/elements/ticket'
    import Tariff from '@/components/elements/Tariff'
    import { required, email } from 'vuelidate/lib/validators'
    import subYears from 'date-fns/sub_years'
    import isAfter from 'date-fns/is_after'
    import isBefore from 'date-fns/is_before'
    import parse from 'date-fns/parse'
    import addDays from 'date-fns/add_days'

    export default {

        scrollToTop: true,

        name: "Ticket",

        components: { checkbox, BookingForm, Tariff, AviaTicket },

        data () {
            return {
                response: null,
                booking: false,
                dateNow: Moment().format('YYYY-MM-DD'),
                canProceed: false,
                feeProcess: 0,
                totalPrice: 0,
                tariffPrice: 0,
                pnrs: this.pnrCount(),
                pur: {
                    mail: null,
                    tel: {
                        co: '+380',
                        no: null
                    }
                },
                passenger: {
                    "sess_id": this.$store.state.requestData.sessionId,
                    "search_id": this.$store.state.requestData.hashCode,
                    "seq_no": this.$store.state.requestData.sequence_number,
                    "com_id": this.$store.state.requestData.combinationId,
                    "gds": this.$store.state.tickets.ticket.gds,
                    "srch_id": this.$store.state.tickets.ticket.srch_id,
                    "res_id": this.$store.state.tickets.ticket.res_id,
                    // "cur": "KZT",
                    "ref_id": [""],
                    "rb_dsg_co": [""],
                    // "fare_hash": [""],
                    fam_id: 0,
                    pnrs: [],
                    // pkg_ctg: null,
                    // pkg_nm: null,
                },
                fee: {
                    val: null,
                    msg: null
                },
                countryCodes: [
                    { key: 'ua', value: '+380', flag: 'ua', text: 'Ukraine (+380)' },
                    { key: 'ru', value: '+7 ', flag: 'ru', text: 'Russia (+7)' },
                    { key: 'kz', value: '+7', flag: 'kz', text: 'Kazakhstan (+7)' },
                    { key: 'by', value: '+375', flag: 'by', text: 'Belarus (+375)' },
                ],
                errors: [],
                error: null,
                modalTitle: '',
                modalData: null,
                isScheduleOrPrice: null,
                fareNotSelected: true
            }
        },

        validations: {
            pur: {
                mail: {
                    required,
                    email
                },
                tel: {
                    co: {
                        required
                    },
                    no: {
                        required
                    }
                },
            }
        },

        directives: {
            mask
        },
        created () {
            for (let i=0; i < this.pnrs.length; i++) {
                this.passenger.pnrs[i] = {}
            }
        },
        computed: {
            account() {
                return this.$store.getters['cabinet/getAccount'];
            },
            loader () { return this.$store.getters['loader/getLoader'] },
            isFormValid () { return !this.$v.pur.$invalid },
            gds() {
                return this.$store.state.tickets.ticket.gds
            },
            ticket () {
                return this.$store.state.tickets.ticket
            },
            depDate() { return this.$store.getters['city/getDateDep'] },
            comb_id() { return this.$store.getters['requestData/getCombinationId']},
            fare_hash() { return this.$store.getters['requestData/getFareHash']}

        },

        mounted () {
            this.$refs.tariff.getFares();
            this.totalPrice = this.ticket.prc.tot.val;
        },

        methods: {
            back() {
                this.$router.back()
            },
            onBooking(formData) {
                this.passenger.pnrs[formData.id] = formData.data
                for (let i=0; i < this.pnrs.length; i++) {
                    if (!(this.passenger.pnrs[i].isValid)) {
                        this.canProceed = false;
                        break
                    } else {
                        this.canProceed = true
                    }
                }
            },
            async getTicket (event, reqData = this.passenger) {
                this.error = null;
                this.errors = [];
                if (this.checkDate(reqData)) {
                    return true
                }
                if (this.fee.val && this.fee.msg) {
                    reqData.fee = this.fee;
                }
                if (reqData.hasOwnProperty('fare_hash')) {
                    // let fltNo = [];
                    // for (let ticket of this.$store.state.tickets.ticket.opts){
                    //     for (let segment of ticket.segs){
                    //         fltNo.push(segment.flt_no);
                    //     }
                    // }
                    // reqData.flt_no = fltNo;
                }
                if (reqData.hasOwnProperty('ref_no')) {
                    reqData.sess_id = this.$store.state.requestData.sessionId
                    reqData.search_id = this.$store.state.requestData.hashCode
                    reqData.com_id = this.comb_id;
                }
                this.booking = true;
                if (reqData === this.passenger) {
                    this.pur.tel.no = this.pur.tel.no.replace(/\D/g,'');
                    for (let i = 0; i < reqData.pnrs.length; i++) {
                        delete reqData.pnrs[i].isValid
                        delete reqData.pnrs[i].validDate
                        delete reqData.pnrs[i].birthDate
                    }
                }
                reqData.pur = this.pur;
                if (this.gds === '27419') {
                    if (this.ticket.hasOwnProperty('ref_id')) {
                        reqData.com_id = [0]
                    } else {
                        reqData.com_id = [0, 0]
                    }
                    reqData.seq_no = 0
                }
                if (this.fareNotSelected) {
                    // this.passenger.ref_id = this.checkInfo('ref_id');
                    // this.passenger.rb_dsg_co = this.checkInfo('rb_dsg_co');
                    if (this.gds === '57419' || this.gds === '67419'){
                        this.passenger.fare_hash = this.ticket.search_hash;
                    }
                    if (this.gds === '47419' || this.gds === '27419' || this.gds === '77419'){
                        this.passenger.fare_hash = this.fare_hash;
                    }
                    console.log(this.passenger.fare_hash);
                }
                else {
                    this.passenger.fare_hash = this.$store.state.requestData.fareHash;

                }

                this.$store.dispatch('loader/SET_LOADER', true);
                const resData = await this.$store.dispatch('tickets/getTicket', reqData);
                if (resData.hasOwnProperty('sts') && resData.sts === 'success' && resData.rs.ty === 'TroubleshootWarning') {
                    this.$store.dispatch('requestData/SET_BOOK', resData);
                    this.response = resData;
                    this.$store.dispatch('loader/SET_LOADER', false);

                }
                else {
                    this.$store.dispatch('requestData/SET_BOOK', resData);
                    this.response = resData;
                    this.$store.dispatch('loader/SET_LOADER', false);
                    this.$router.push('/book');
                }
                this.canProceed = false;
                this.$eventBus.$emit('bookRequest', reqData);
                this.$store.dispatch('loader/SET_LOADER', false);

            },
            pnrCount () {
                let count = 0;
                let arr = [];
                const queryObj = this.$route.query;
                for (let key in queryObj) {
                    for(let i = 0; i < queryObj[key]; i++) {
                        arr[count] = key
                        count++
                    }
                }
                return arr
            },
            checkInfo(str) {
                let ticket = this.$store.state.tickets.ticket;
                if (this.$store.state.tickets.ticket.gds === '27419') {
                    if (str === 'ref_id') {
                        if (ticket.opts.length === 1 && ticket.opts[0].hasOwnProperty('ref_id')) {
                            return [ticket.opts[0].ref_id]
                        }
                        if (ticket.opts.length > 1 && ticket.opts[0].hasOwnProperty('ref_id')) {
                            return [ticket.opts[0].ref_id, ticket.opts[1].ref_id]
                        }
                    }
                    if (str === 'rb_dsg_co') {
                        if (ticket.opts.length === 1 && ticket.opts[0].hasOwnProperty('rb_dsg_co')) {
                            return [ticket.opts[0].rb_dsg_co]
                        }
                        if (ticket.opts.length > 1 && ticket.opts[0].hasOwnProperty('rb_dsg_co')) {
                            return [ticket.opts[0].rb_dsg_co, ticket.opts[1].rb_dsg_co]
                        }
                    }
                    // if (this.ticket.opts[0].hasOwnProperty('ref_id')) {
                    //     if (str === 'ref_id') {
                    //
                    //         return [this.ticket.opts[0].ref_id]
                    //
                    //
                    //     } else {
                    //
                    //         return [this.ticket.opts[0].rb_dsg_co]
                    //
                    //     }
                    //
                    // } else {
                    //     if (str === 'ref_id') {
                    //
                    //         return [this.ticket.opts[0].ref_id, this.ticket.opts[1].ref_id]
                    //
                    //     } else {
                    //
                    //         return [this.ticket.opts[0].rb_dsg_co, this.ticket.opts[1].rb_dsg_co]
                    //
                    //     }
                    // }
                } else {
                    return ''
                }
            },
            changeTariff(info) {
                this.fareNotSelected = false;
                this.totalPrice = info.prc.tot.val;
                this.tariffPrice = info.prc.gds.xtra.val;
                if (info.hasOwnProperty('fam_id')) {
                    this.passenger.fam_id = info.fam_id;
                    // this.passenger.pkg_nm = info.pkg_nm;
                    // this.passenger.pkg_ctg = info.pkg_ctg;
                }
                if (info.hasOwnProperty('fare_hash')) {
                    this.passenger.fare_hash = info.fare_hash;
                    this.$store.dispatch('requestData/SET_FARE_HASH', info.fare_hash);
                }
            },
            checkDate(reqData) {
                const adtLimit = subYears(this.depDate, 12)
                const chdLimit = subYears(this.depDate, 2)
                const infLimit = parse(this.dateNow);
                let bornDate;
                for (let i = 0; i < reqData.pnrs.length; i++) {
                    bornDate = parse(reqData.pnrs[i].born_d);
                    if (reqData.pnrs[i].ty === 'ADT' && isAfter(bornDate, adtLimit)) {
                        this.errors.push({
                            text: `(${reqData.pnrs[i].nm} ${reqData.pnrs[i].snm}), Adult passenger must be over 12 years old`
                        })
                        console.log(reqData.pnrs[i].born_d + ' ADT False')
                    } if (reqData.pnrs[i].ty === 'CHD' && (isAfter(addDays(adtLimit, 1), bornDate) || isBefore(chdLimit, bornDate))) {
                        this.errors.push({
                            text: `(${reqData.pnrs[i].nm} ${reqData.pnrs[i].snm}), Child must be between 2 and 12 years old`
                        })
                        console.log(reqData.pnrs[i].born_d + ' CHD False')
                    } if (reqData.pnrs[i].ty === 'INF' && (isAfter(addDays(chdLimit, 1), bornDate) || isBefore(infLimit, bornDate))) {
                        this.errors.push({
                            text: `(${reqData.pnrs[i].nm} ${reqData.pnrs[i].snm}), Infant must be under 2 years old`
                        })
                        console.log(reqData.pnrs[i].born_d + ' INF False')
                    }
                }
                if(this.errors.length > 0) {
                    this.error = {};
                    this.error.type = 'Warning';
                    this.error.msg = this.errors;
                    this.error.sts = 'warning';
                    this.$store.dispatch('notifications/setError', this.error);
                    return true
                }
            },
            feeMethod(number) {
                if (number === 2) {
                    if (this.fee.val && this.fee.msg) {
                        this.feeProcess = number
                    }
                } else if (number === 4) {
                    delete this.fee;
                    this.feeProcess = 0
                } else {
                    this.feeProcess = number
                }
            }
        }

    }
</script>

<style scoped>
    @import "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css";
</style>
<style scoped lang="scss">
    .buyer .input-custom {
        height: 45px;
    }
    .buyer__title {
        font-weight: 600;
    }
    a {
        cursor: pointer;
    }
    .btn-main:hover {
        color: #fff;
    }

    .fee-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-fee {
        display: flex;
        align-items: center;
    }

    .fee-error {
        border: 1px solid red;
    }

    .plus-img {
        margin-right: 40px;
    }

    .fee-content h5 {
        font-size: 16px;
        font-weight: 500;
    }

    .fee-content p {
        font-size: 14px;
        color: #9eacc4;
    }

    .fee-name {
        width: 70%;
    }
    .add-fee {
        padding-top: 25px;
    }
    .add-fee input {
        border-radius: 4px;
        border: solid 1px #c6d0dc;
        height: 40px;
        outline: none;
        width: 100%;
        padding: 0 16px;
    }

    .add-fee p {
        margin-bottom: 8px;
    }

    .fee-val {
        width: 25%;
    }

    .remove-fee {
        padding-top: 25px;
    }

    .remove-fee p {
        margin: 0;
    }

    .remove-fee .fee-text {
        margin-bottom: 8px;
        color: #9eacc4;
    }

    .remove-fee .fee-val, .remove-fee .fee-name {
        width: auto;
    }

    .btn-delete {
        border-radius: 4px;
        border: solid 1px #eb7581;
        color: #eb7581;
        background-color: #fff;
        width: 150px;
    }

    .btn-delete:hover {
        color: #eb7581;
    }

    .fee-info h5 {
        font-size: 24px;
        margin: 0;
        display: inline;
        font-weight: 500;
    }

    .fee-info-text {
        display: flex;
        align-items: center;
    }

    .fee-info-text p {
        margin: 0;
        padding-top: 8px;
        padding-right: 10px;
        display: inline;
    }

    .btn-add {
        width: 150px;
    }

    .btn-hide {
        width: 150px;
        border: solid 1px #4d78bc;
        background-color: #fff;
        color: #4d78bc;
    }

    .btn-hide:hover {
        color: #4d78bc;
    }

    .price-info {
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        padding: 30px 30px 0 100px;
        margin-bottom: 30px;

        h5 {
            font-size: 18px;
            color: #434343;
            font-weight: 600;
            padding-bottom: 15px;
            margin: 0;
        }
        .rule-fee {
            border-bottom: solid 1px rgba(0, 0, 0, 0.16);
            border-top: solid 1px rgba(0, 0, 0, 0.16);
            padding: 8px 0;
        }

        .fee-item {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
        }

        p {
            margin: 0;
        }

        .fee-agency {
            border-bottom: solid 1px rgba(0, 0, 0, 0.16);
            padding: 8px 0;

            span {
                font-size: 14px;
                color: #9eacc4;
                padding-top: 2px;
                padding-bottom: 8px;
            }
        }

        .total-price {
            padding-top: 15px;

            p {
                color: #4b77be;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }

    .title {
        font-size: 18px;
        font-weight: 600;
    }

    .is-error {
        border-left: 4px solid #ed747f !important;
    }
    .is-success {
        border-left: 4px solid #2ecc71 !important;
    }
    .avia-ticket__footer .time {
        visibility: hidden!important;
    }
    .dot-loader {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
    @media (max-width: 760px){

        .dot-loader {
            left: 45%;
        }

        .btn-price {
            width: 100%;
            border-radius: 4px;
        }

        .price-info {
            padding: 30px;
            height: auto;
        }

        .fee-container {
            flex-direction: column;
        }

        .plus-img {
            display: none;
        }

        .btn-main {
            width: 100%;
            margin-top: 10px;
        }
        .fee-name, .fee-val {
            width: 100%;
            padding: 10px 0;
        }
        .fee-info-text {
            padding: 15px 0;

            p {
                padding-top: 0;
            }

            h5 {
                font-size: 18px;
            }
        }
        .remove-fee .fee-val, .remove-fee .fee-name {
            width: 100%;
        }

    }


</style>
