<template>
    <div class="elements__checkbox" :class="[ multiline ? 'multiline' : '', template ]">
        <div class="" v-if="template == 'booking'">
            <span>{{ title }}</span>
            <p :class="{ enable: status }" @click="onCheck">{{ placeholder }}</p>
        </div>
        <span v-else :class="{ enable: status }" @click="onCheck">{{ placeholder }}</span>
    </div>
</template>

<script>
    export default {
        name: 'Checkbox',

        props: {
            status: {
                type: [Number, Boolean],
                default: null
            },
            attr: {
                type: String
            },
            title: {
                type: String
            },
            template: {
                type: String,
                default: 'white'
            },
            multiline: {
                type: Boolean
            },
            placeholder: {
                type: String,
                required: true
            }
        },

        methods: {
            onCheck() {
                this.$emit('onCheck', {
                    attr   : this.attr,
                    status : !this.status
                })
            }
        }
    }
</script>

<style lang="sass">
    .elements__checkbox
        span
            color: #FFF
            height: 20px
            display: block
            cursor: pointer
            line-height: 20px
            padding-left: 30px
            background-size: 20px 20px
            background-repeat: no-repeat
            background-position: left center

            user-select: none
            -ms-user-select: none
            -moz-user-select: none
            -khtml-user-select: none
            -webkit-user-select: none
            -webkit-touch-callout: none

        &.multiline
            span
                height: auto
                text-transform: none
                background-position: left center

        &.blue
            span
                background-image: url('../../assets/disable-blue.checkbox.svg')

                &.enable
                    opacity: 1
                    background-image: url('../../assets/enable-blue.checkbox.svg')
        &.white
            span
                background-image: url('../../assets/disable-blue.checkbox.svg')

                &.enable
                    opacity: 1
                    background-image: url('../../assets/enable-blue.checkbox.svg')
        &.booking
            p
                cursor: pointer
                font-size: 13px
                text-align: left
                line-height: 34px
                border-radius: 3px
                padding: 0 34px 0 10px
                background-color: #FFF
                background-size: 14px 14px
                background-repeat: no-repeat
                background-position: calc(100% - 10px) center
                background-image: url('../../assets/disable-blue.checkbox.svg')

                &.enable
                    opacity: 1
                    background-image: url('../../assets/enable-blue.checkbox.svg')
            span
                padding: 0
                height: auto
                display: block
                font-size: 13px
                text-align: left
                font-weight: bold
                margin-bottom: 10px
                line-height: initial
                text-transform: uppercase
</style>
