<template>
    <div class="element__search" ref="box">
        <input :class="classes" :placeholder="placeholder" type="text" v-model="name" @blur="onBlur" @click="onFocus" @keydown="onDown" />
        <ul class="list m-0">
            <template v-if="options && options.length">
                <li v-for="option in options" @mousedown="setOption(option)">
                    {{ option.name }}
                    <span v-if="details && option[details]">{{ option[details] }}</span>
                </li>
            </template>
            <template v-else-if="options && !options.length">
                <li class="message">Ничего не найдено</li>
            </template>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'Search',

        data() {
            return {
                name: '',
                options: null
            }
        },

        props: {
            classes: {
                type: String
            },
            attr: {
                type: String
            },
            details: {
                type: String
            },
            placeholder: {
                type: String
            },
            action: {
                type: String,
                default: null
            },
            errors: {
                type: Object,
                default: null
            },
            onMounted: {
                type: Boolean,
                default: true
            }
        },

        watch: {
            name(value) {
            }
        },

        mounted() {
            if (this.action && this.onMounted) {
                this.onAction();
            }
        },

        methods: {
            onBlur() {
                this.$refs.box.classList.remove('active')
            },
            onFocus() {
                var box = this.$refs.box;

                // Toggle focus
                box.classList.toggle('active');
                this.$refs.box.focus()
            },
            onDown() {
                this.$refs.box.classList.add('active');
                this.$refs.box.focus();
            },
            onAction() {
                this.$store.dispatch(this.action, {
                    body: {
                        name: this.name
                    }
                }).then((response) => {
                    this.options = response.data;

                    if (response.data.length === 1) {
                        this.$emit('onSelect', {
                            attr  : this.attr,
                            value : this.options[0].id
                        })
                    }
                }).catch((error) => {
                    //
                })
            },

            // Setter
            setOption(option) {
                this.name = option.name;

                // Emit
                this.$emit('onSelect', {
                    attr  : this.attr,
                    value : option.id,
                })
            },

            // Boolean
            isError() {
                // return this.errors[this.attr] != undefined
            }
        }
    }
</script>


<style lang="sass">
    .elements__search
        text-align: left
        position: relative

        ul
            z-index: 2
            width: 100%
            display: none
            overflow: auto
            max-height: 200px
            position: absolute
            box-sizing: border-box
            background-color: #FFF
            border-radius: 0 0 3px 3px
            border-top: 1px solid #D8D8D8
            box-shadow: 0 10px 20px rgba(117, 117, 117, 0.25)

            li
                cursor: pointer
                font-size: 14px
                position: relative
                padding: 5px 100px 5px 10px
                border-bottom: 1px solid #D8D8D8

                span
                    top: 5px
                    right: 10px
                    color: #757575
                    font-size: 10px
                    position: absolute

                &.message
                    color: #989898
                    cursor: default
                    font-size: 14px

                    &:hover
                        color: #989898
                        background-color: #FFF

                &:hover
                    color: #FFF
                    background-color: #52C7F9

                    span
                        color: inherit
                &:last-child
                    border: none

        span
            color: #FFF
            display: block
            font-size: 13px
            font-weight: bold
            margin-bottom: 10px
            text-transform: uppercase
        input
            width: 100%
            height: 34px
            border: none
            outline: none
            color: #212121
            padding: 0 10px
            font-size: 12px
            position: relative
            border-radius: 3px
            padding-right: 65px
            box-sizing: border-box
            background-size: auto 10px
            text-transform: capitalize

            &.error
                border: 1px solid #FF6534
                background-color: #fff0eb

        &.active
            ul
                display: block
            input
                border-radius: 3px 3px 0 0
</style>
