<template>
    <div class="dropdown d-none">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ещё
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
            <a class="dropdown-item" >Action</a>
            <a class="dropdown-item" >Another action</a>
            <a class="dropdown-item" >Something else here</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'DropdownOtherFilters'
    }
</script>

<style>

</style>
