<template>
    <div class="dropdown d-none">
        <button class="dropdown-toggle" type="button" id="dd-avialines" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Авиакомпании
        </button>
        <div class="dropdown-menu" aria-labelledby="dd-avialines">
            <a class="dropdown-item d-block mb-2">Авиакомпании</a>
            <a class="dropdown-item"><checkbox placeholder="Air Astana" template="blue" @onCheck="onCheck" attr="agreement" :status="agreement" multiline></checkbox></a>
            <a class="dropdown-item"><checkbox placeholder="Bek Air" template="blue" @onCheck="onCheck" attr="agreement" :status="agreement" multiline></checkbox></a>
            <a class="dropdown-item"><checkbox placeholder="Qazaq Air" template="blue" @onCheck="onCheck" attr="agreement" :status="agreement" multiline></checkbox></a>
            <a class="dropdown-item"><checkbox placeholder="SCAT Airlines" template="blue" @onCheck="onCheck" attr="agreement" :status="agreement" multiline></checkbox></a>
        </div>
    </div>
</template>

<script>
    import checkbox from '@/components/partials/check'
    export default {
        data () {
          return {
              agreement  : 0,
              agreement2  : 0,
          }
        },
        components: {
            checkbox
        },
        methods: {
            onCheck(data) {
                //this._data[data.attr] = Number(data.status)
            }
        }
    }
</script>

<style>

</style>
