<template>
    <b-dropdown class="dropdown dropdown-passengers" id="dd-passengers" :no-caret="true" variant="outline" html>
        <template v-slot:button-content>
            <div class="input-select-class">
                <div>
                    <p>{{ counter }} {{ (counter > 1) ? 'пассажира' : 'пассажир' }}</p>
                    <span>{{ flightClass.id === 1 ? $tc('dropdowns.class_e') : $tc('dropdowns.class_b') }}</span>
                </div>
                <img src="../../assets/bottom-array.svg" alt="">
            </div>
        </template>
        <div class="dropdown-classes">
            <div class="dropdown-class" @click="changeTab(1)" :class="{ active: tabCounter == 1 }">{{ $tc('dropdowns.class_e') }}</div>
            <div class="dropdown-class dropdown-class-center"
                 @click="changeTab(2)" :class="{ active: tabCounter == 2 }">{{ $tc('dropdowns.class_b') }}</div>
           <!-- <div class="dropdown-class" @click="changeTab(3)" :class="{ active: tabCounter == 3 }">{{ $tc('dropdowns.class_y') }}</div>-->
        </div>
            <div class="dropdown-item--secondary">
                <span>{{ $tc('dropdowns.adult', 2) }}</span>
                <div class="counter">
                    <div class="counter__sign" :class="{'is-disabled': pnr[0].qt === 1}" @click="deductPassenger(0)">
                        <img src="../../assets/minus-icon.svg" alt=""></div>
                    <div class="counter__number">{{ pnr[0].qt }}</div>
                    <div class="counter__sign" @click="addPassenger(0)" :class="{'is-disabled': disabled}">
                        <img src="../../assets/plus-icon.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="dropdown-item--secondary">
                <span>{{ $tc('dropdowns.children', 2) }}<span>{{ $tc('dropdowns.age_1', 2) }}</span></span>
                <div class="counter">
                    <div class="counter__sign" :class="{'is-disabled': pnr[1].qt === minValue}" @click="deductPassenger(1)">
                        <img src="../../assets/minus-icon.svg" alt="">
                    </div>
                    <div class="counter__number">{{ pnr[1].qt }}</div>
                    <div class="counter__sign" :class="{'is-disabled': disabled}" @click="addPassenger(1)">
                        <img src="../../assets/plus-icon.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="dropdown-item--secondary">
                <span>{{ $tc('dropdowns.l_child', 2) }} <span>{{ $tc('dropdowns.age_2', 2) }}</span></span>
                <div class="counter">
                    <div class="counter__sign" :class="{'is-disabled': pnr[2].qt === minValue}" @click="deductPassenger(2)">
                        <img src="../../assets/minus-icon.svg" alt="">
                    </div>
                    <div class="counter__number">{{ pnr[2].qt }}</div>
                    <div class="counter__sign" :class="{'is-disabled': disabled || (pnr[2].qt >= pnr[0].qt)}" @click="addPassenger(2)">
                        <img src="../../assets/plus-icon.svg" alt="">
                    </div>
                </div>
            </div>
    </b-dropdown>
</template>
<script>
    export default {
        name: 'DropdownPassengers',
        data () {
          return {
              minValue: 0,
              maxValue: 9,
              tabCounter: 1,
              pnr: JSON.parse(JSON.stringify(this.$store.state.passengers.passengers))
          }
        },
        computed: {
            flightClass () { return this.$store.getters['searchStatus/get_flyClass'] },
            counter() {
              let count = 0;
              this.pnr.forEach(el => {
                  count +=el.qt
              });
              return count
            },
            disabled () {
              return this.counter >= this.maxValue
            }
        },
        methods: {
            addPassenger (index) {
                if (index === 2 && this.pnr[index].qt >= this.pnr[0].qt) {
                    return
                } else if (this.maxValue > this.counter) {
                    this.pnr[index].qt++
                    this.$store.commit('passengers/ADD_PASSENGERS', index);
                }
            },
            deductPassenger(index) {
                if (index === 0 && this.pnr[index].qt === 1) {
                    return
                } else if (index === 0 && this.pnr[index].qt <= this.pnr[2].qt) {
                    this.pnr[2].qt--
                    this.pnr[index].qt--
                    this.$store.commit('passengers/DEDUCT_PASSENGERS', 2);
                    this.$store.commit('passengers/DEDUCT_PASSENGERS', index);
                }
                else if (this.pnr[index].qt > this.minValue) {
                    this.pnr[index].qt--
                    this.$store.commit('passengers/DEDUCT_PASSENGERS', index);
                }
                this.$emit('amountPnr', this.pnr)
            },
            changeTab(number) {
                this.tabCounter = number
                this.$store.dispatch('searchStatus/SET_FLY_CLASS', { id: number});
                if (number === 3) {
                    this.$store.dispatch('searchStatus/SET_FLY_CLASS', { id: 1});
                }
            }
        }
    }
</script>
<style scoped lang="scss">
    .is-disabled {
        background-color: #729EE5;
        opacity: 0.3;
    }
    .input-select-class {
        background-color: #ffffff;
        height: 50px;
        padding: 5px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin-bottom: 0;
            padding-bottom: 7px;
        }
        span {
            color: rgba(0, 0, 0, 0.5)
        }
    }
    .dropdown-classes {
        width: 100%;
        //border: 1px solid #418AD4;
        display: flex;
        height: 30px;
        margin-bottom: 6px;
        align-items: center;
        padding: 0;

        .dropdown-class {
            width: 50%;
            margin: 0;
            font-size: 12px;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #418AD4;
            &:first-child {
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                border-right: 0;
            }
            &:last-child {
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                border-left: 0;
            }
            /*&.dropdown-class-center {*/
            /*    border-left: 0;*/
            /*    border-right: 0;*/
            /*}*/
            &.active {
                background-color: #418AD4;
                color: #ffffff;
            }
        }
    }

    @media (max-width: 750px) {
        .input-select-class {
            border-radius: 3px;
        }
    }

</style>
