<template>
  <div>
      <div id="contacts-page">
          <div>
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac4ec9c0ce5037dd6d87e561b0529efcef2c7d59fce0ed8f91485bd9c064b27aa&amp;width=100%25&amp;height=350&amp;lang=ru_RU&amp;scroll=true"></script>
          </div>
              <div class="container py-5">
                          <div class="my-card">
                              <h5>Наши контакты</h5>
                              <p class="mt-4">02121, ул. Автопарковая 7, офис 302</p>
                              <p><a href="tel:+380443844030">+38 044 384-40-30</a></p>
                              <p>+38 068 328 31 21 (Viber, WhatsApp, Telegram)</p>
                              <p><a href="mailto:team@transaviagroup.com">team@transaviagroup.com</a></p>
                          </div>

<!--                  <div class="row mt-4">-->
<!--                      <div class="col-lg-4 col-md-4 col-ms-6 col-sm-12">-->
<!--                          <div class="table-block">-->
<!--                              <div class="left-contacts">-->
<!--                                  <p class="office"><span class="bold black">Минск</span><br />-->
<!--                                      <span class="bold black">ул. Энгельса, 34, офис 106</span></p>-->
<!--                                  <p>пн-пт 09:00 - 18:00<br />-->
<!--                                      сб-вс выходной</p>-->
<!--                                  <a href="mailto:avia@transavia.by">avia@transavia.by</a></div>-->
<!--                              <div class="left-contacts">-->
<!--                                  <p class="bold black">Туры</p>-->
<!--                                  <a href="tel:+375 17 270-36-21">+375 17 270 36 21</a> <a href="tel:+37529628-53-03">+375 29 628 53 03</a></div>-->
<!--                              <div class="left-contacts">-->
<!--                                  <p class="bold black">Авиабилеты</p>-->
<!--                                  <a href="tel:+375 17 270-21-50">+375 17 270 21 50</a> <a href="tel:+375 29 321-21-52">+375 29 321 21 52</a></div>-->
<!--                              <div class="left-contacts">-->
<!--                                  <p class="bold black">Грузоперевозки</p>-->
<!--                                  <a href="tel:+375 17 270-53-03">+375 17 270 53 03</a> <a href="tel:+375 29 190-17-01">+375 29 190 17 01</a></div>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                      <div class="col-lg-4 col-md-4 col-ms-6 col-sm-12">-->
<!--                          <div class="table-block" style="display: flex;flex-direction: column;justify-content: space-between;    height: 100%;">-->
<!--                              <div>-->
<!--                                  <div class="right-contacts">-->
<!--                                      <p class="office"><span class="bold black">Витебск</span><br />-->
<!--                                          <span class="bold black">пр-т Фрунзе, 19, офис 2/2</span></p>-->
<!--                                      <p>пн-пт 09:00 - 18:00<br />-->
<!--                                          сб-вс выходной</p>-->
<!--                                      <a href="mailto:vitebsk@transavia.by">vitebsk@transavia.by</a></div>-->
<!--                                  <div class="right-contacts">-->
<!--                                      <p><span class="bold black">Туры, Авиабилеты, Грузоперевозки</span></p>-->
<!--                                      <a href="tel:+375212619000">+375 212 61 90 00</a> <a href="tel:+375333190003">+375 333 19 00 03</a></div>-->
<!--                                  <div class="right-contacts">-->
<!--                                      <p class="office"><span class="bold black">Аэропорт<br>«Гродно»</span></p>-->
<!--                                      <a href="tel:+375333702150">+375 33 370 21 50</a>-->
<!--                                      <a href="mailto:grodno@transavia.by">grodno@transavia.by</a></div>-->
<!--                                  <div class="right-contacts">-->
<!--                                      <p class="office"><span class="bold black">Аэропорт<br>«Гомель»</span><br></p>-->
<!--                                      <p>пн 15:00 - 21:00<br />-->
<!--                                          ср 09:00 - 15:00<br />-->
<!--                                          сб 15:00 -  08:00</p>-->
<!--                                      <a href="tel:+375333002150">+375 33 300 21 50</a>-->
<!--                                      <a href="mailto:gomel@transavia.by">gomel@transavia.by</a></div>-->
<!--                              </div>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                      <div class="col-lg-4 col-md-4 col-ms-6 col-sm-12">-->
<!--                          <div class="table-block" style="display: flex;flex-direction: column;justify-content: space-between;    height: 100%;">-->
<!--                              <div>-->
<!--                                  <div class="right-contacts">-->
<!--                                      <p class="office"><span class="bold black">Национальный аэропорт «Минск» </span><br />-->
<!--                                          <span class="bold black">сектор 1, зал вылета, кассы</span></p>-->
<!--                                      <p>08:00 - 20:00<br />-->
<!--                                          Без выходных</p>-->
<!--                                      <a href="mailto:msqtkt@transavia.by">msqtkt@transavia.by</a></div>-->
<!--                                  <div class="right-contacts">-->
<!--                                      <p><span class="bold black">Авибилеты</span></p>-->
<!--                                      <a href="mailto:msqtkt@transavia.by">msqtkt@transavia.by</a> <a href="tel:+375172791557">+375 17 279 15 57</a><a href="tel:+375447791505">+375 44 779 15 05</a></div>-->
<!--                                  <div class="right-contacts">-->
<!--                                      <p><span class="bold black">Грузоперевозки</span></p>-->
<!--                                      <a href="mailto:msqcargo@transavia.by">msqcargo@transavia.by</a> <a href="tel:+375291901702">+375 29 190 17 02</a></div>-->
<!--                                  <div class="right-contacts">-->
<!--                                      <p><span class="bold black">Хэндлинг</span></p>-->
<!--                                      <a href="tel:+375 29 570 00 05">+375 29 570 00 05</a></div>-->
<!--                                  <div class="right-contacts">-->
<!--                                      <p><span class="bold black">Розыск багажа</span></p>-->
<!--                                      <a href="mailto:msqlf@transavia.by">msqlf@transavia.by</a> <a href="tel:+375172791557">++375 17 279 15 57</a></div>-->
<!--                              </div>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                  </div>-->
              </div>
      </div>
      <section class="sub-footer pb-3 pt-5">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 text-left">
                      <h5 class="font-weight-bold">
                          Официально аккредитовано
                      </h5>
                      <ul class="list-unstyled">
                          <li>
                                  <img class="img-fluid p-1" src="../../assets/contacts/iata.png" alt="" width="80">
                          </li>
                      </ul>
                  </div>
                  <div class="col-md-6 text-center">
                      <div class="row mx-5 pt-md-4">
                          <div class="col-md">
                              <img class="img-fluid" src="../../assets/contacts/visa-dark.png" alt="">
                          </div>
                          <div class="col-md">
                              <img class="img-fluid" src="../../assets/contacts/mastercard-dark.png" alt="">
                          </div>
                      </div>
                      <p class="pt-md-5 mt-md-5">
                          © Трансавиа 2000 - 2020
                      </p>
                  </div>
                  <div class="col-md-3 text-right">
                      <h5 class="font-weight-bold">
                          Наши социальные сети
                      </h5>
                      <div class="row pt-2 social-icons">
                          <a href="viber://add?number=380683283121" class="col my-auto">
                              <img class="img-fluid" src="../../assets/contacts/viber-color.svg" alt="">
                          </a>
                          <a href="https://wa.me/380683283121" class="col my-auto">
                              <i class="fa fa-whatsapp" aria-hidden="true"></i>
                          </a>
                          <a href="tg://resolve?domain=NikName" class="col">
                              <i class="fa fa-telegram" aria-hidden="true"></i>
                          </a>
                      </div>

                  </div>
              </div>
          </div>
      </section>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                selected: null,
                options: [
                    { value: [
                            {
                                number: 1,
                                street: '02121, ул. Автопарковая 7, офис 302Z',
                                phones: ['+38 068 328-31-21'],
                                email: 'sales@transavia.kz'
                            }
                        ],
                        text: 'Киев'
                    },
                ]
            }
        }
    }
</script>
<style scoped lang="scss">
    .bold {
        font-weight: bold;
    }
    .black {
        color: #333;
    }
    .office {
        padding-left: 30px;
        background: url("../../assets/arrow-r.png");
        background-repeat: no-repeat;
        background-position-y: 5px;
    }
    .right-contacts {
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: 1px solid #efefef;
    }
    .left-contacts {
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: 1px solid #efefef;
    }
    .social-icons img {
        width: 20px;
    }
    .social-icons .fa {
        font-size: 25px;
    }
    .social-icons .fa-whatsapp {
        color: #4FCE5D;
    }
    .my-card{
        padding: 10px;
        margin-right: 100px;
    }
    .my-card p {
        margin: 2px 0;
    }
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: #418ad4;
        transition: .4s ease;
    }
    .my-select {
        width: 25%;
    }
    .my-cards {
        width: 75%;
    }

    @media (max-width: 750px) {
        .my-select {
            width: 100%;
        }
        .my-cards {
            width: 100%;
        }
    }
</style>
